In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import os

In [2]:
fields_to_skip = ["meta", "players", "registry", "innings"]

In [3]:
def flatten_json(y):
    out = {}

    def flatten(x, name=""):
        if type(x) is dict:
            for a in x:
                if a in fields_to_skip:
                    # print("skipping field: ", a)
                    pass
                else:
                    flatten(x[a], name + a + "_")
        elif type(x) is list:
            i = 1
            for a in x:
                flatten(a, name + str(i) + "_")
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [4]:
files = os.listdir(path="data")
print(files)

['548368.json', '1254064.json', '1254107.json', '548343.json', '829817.json', '980945.json', '729291.json', '1422121.json', '598007.json', '1422128.json', '1178421.json', '1304103.json', '1304109.json', '598068.json', '829767.json', '1175358.json', '548380.json', '729283.json', '981009.json', '548328.json', '1136591.json', '829793.json', '1426270.json', '598065.json', '501243.json', '1254063.json', '1254089.json', '392214.json', '336031.json', '501259.json', '1082603.json', '1304063.json', '1136605.json', '734049.json', '548345.json', '392218.json', '729317.json', '548366.json', '1304112.json', '1216526.json', '1136604.json', '1359512.json', '1216540.json', '1216522.json', '548321.json', '1216500.json', '1304111.json', '829769.json', '1359537.json', '1082645.json', '729285.json', '1178418.json', '1304114.json', '829777.json', '1359500.json', '1082604.json', '829789.json', '1082607.json', '1359543.json', '1082595.json', '392190.json', '1426310.json', '419145.json', '392225.json', '1304096.json', '598046.json', '598048.json', '734007.json', '501224.json', '829785.json', '419142.json', '734023.json', '1254058.json', '980951.json', '335995.json', '1304054.json', '980977.json', '733993.json', '1304092.json', '1216497.json', '734025.json', '1082611.json', '1254076.json', '501234.json', '1082620.json', '336007.json', '829809.json', '597999.json', '729315.json', '1359488.json', '419152.json', '336001.json', '1216546.json', '1136583.json', '1254088.json', '336012.json', '829801.json', '1359525.json', '1422132.json', '1136594.json', '829757.json', '419125.json', '598072.json', '392238.json', '829713.json', '829821.json', '1136612.json', '548357.json', '1082617.json', '548311.json', '1426286.json', '335992.json', '598030.json', '1254096.json', '980931.json', '392207.json', '419109.json', '1178425.json', '419163.json', '980967.json', '548376.json', '1136567.json', '980989.json', '419143.json', '1426311.json', '1178409.json', '392194.json', '598055.json', '1216516.json', '392199.json', '501256.json', '1359508.json', '1359527.json', '548346.json', '419156.json', '1216494.json', '1254073.json', '980999.json', '1422129.json', '980961.json', '1178399.json', '1082634.json', '598014.json', '1136562.json', '335991.json', '1359523.json', '1426293.json', '548363.json', '1304056.json', '981017.json', '1254072.json', '1136577.json', '598069.json', '1254102.json', '980995.json', '1312197.json', '1254062.json', '1359479.json', '1426282.json', '419147.json', '980911.json', '980903.json', '1216519.json', '419111.json', '501232.json', '1254061.json', '1216524.json', '1175362.json', '1178420.json', '1426281.json', '829813.json', '1082618.json', '1370353.json', '1082628.json', '980927.json', '1304086.json', '419150.json', '419112.json', '1422139.json', '336026.json', '1359519.json', '419122.json', '829761.json', '1304068.json', '598002.json', '1254111.json', '548325.json', '419108.json', '1426264.json', '598051.json', '392198.json', '392227.json', '1216542.json', '1304059.json', '336020.json', '1082629.json', '1216492.json', '729301.json', '392186.json', '335994.json', '1422125.json', '336011.json', '829805.json', '598052.json', '1254086.json', '336024.json', '1359515.json', '1359475.json', '392217.json', '548369.json', '501214.json', '1304100.json', '1082621.json', '1136607.json', '1216539.json', '729281.json', '1359511.json', '598008.json', '1136610.json', '501220.json', '548348.json', '980965.json', '1178407.json', '598023.json', '1216499.json', '548359.json', '392221.json', '1422126.json', '1178402.json', '734043.json', '829739.json', '1426261.json', '336013.json', '1304110.json', '598061.json', '1082601.json', '419149.json', '598034.json', '1082641.json', '419162.json', '1359528.json', '1254104.json', '980915.json', '1370351.json', '734039.json', '392203.json', '1178415.json', '1254091.json', '1136590.json', '392213.json', '1178428.json', '501229.json', '392224.json', '1254077.json', '1254068.json', '598029.json', '1304081.json', '1426265.json', '1175371.json', '1304113.json', '1181764.json', '980941.json', '729289.json', '1359498.json', '1422127.json', '729311.json', '1216527.json', '1426296.json', '1304077.json', '419128.json', '734011.json', '1216510.json', '1082624.json', '419140.json', '501226.json', '1136561.json', '1422120.json', '1426294.json', '336019.json', '335986.json', '501206.json', '336034.json', '1216536.json', '548318.json', '548364.json', '1426291.json', '1082647.json', '1422134.json', '1304070.json', '392181.json', '1082602.json', '1082606.json', '1216502.json', '729305.json', '1426273.json', '336033.json', '1216513.json', '336021.json', '1304079.json', '1082649.json', '336022.json', '598032.json', '598057.json', '598001.json', '1175357.json', '829721.json', '336014.json', '1254113.json', '501248.json', '1082612.json', '1178395.json', '1178426.json', '419129.json', '1426292.json', '1426299.json', '1359502.json', '548339.json', '1359534.json', '1216517.json', '501267.json', '392236.json', '829745.json', '1422122.json', '1178393.json', '419126.json', '335988.json', '1359480.json', '501212.json', '829787.json', '598015.json', '1304102.json', '392192.json', '392204.json', '419137.json', '1136595.json', '829803.json', '1175360.json', '829731.json', '1426288.json', '335998.json', '1304098.json', '1216506.json', '336000.json', '598063.json', '1359526.json', '336004.json', '1359510.json', '1426272.json', '548333.json', '1136568.json', '1304075.json', '501254.json', '1136570.json', '548323.json', '1175369.json', '548362.json', '734047.json', '1175365.json', '1359484.json', '829791.json', '501241.json', '1082608.json', '829717.json', '1304073.json', '548329.json', '501230.json', '1359520.json', '734037.json', '829753.json', '336037.json', '1082622.json', '1136600.json', '501228.json', '734017.json', '598021.json', '1136617.json', '548337.json', '336009.json', '1359536.json', '598056.json', '419114.json', '980937.json', '829751.json', '1136585.json', '1426278.json', '829773.json', '1422133.json', '829705.json', '598073.json', '1082640.json', '501231.json', '1359487.json', '1359541.json', '729279.json', '1359483.json', '1359544.json', '829771.json', '336006.json', '734003.json', '1359485.json', '419133.json', '598025.json', '1426260.json', '1254106.json', '733989.json', '1082591.json', '1178419.json', '733973.json', '598067.json', '419115.json', '1216525.json', '1254060.json', '829783.json', '1426263.json', '548354.json', '1254066.json', '548319.json', '980905.json', '501209.json', '980963.json', '1178406.json', '1082596.json', '1304094.json', '501249.json', '1136603.json', '1136613.json', '1426290.json', '598045.json', '1359497.json', '1136579.json', '336017.json', '733997.json', '598026.json', '501271.json', '501269.json', '1254082.json', '981011.json', '1136611.json', '1216520.json', '1426300.json', '980991.json', '392239.json', '829763.json', '1178431.json', '548358.json', '1136609.json', '419132.json', '501258.json', '501250.json', '1216501.json', '1181766.json', '1359532.json', '598066.json', '419120.json', '1254059.json', '980921.json', '1422119.json', '501203.json', '598006.json', '1136589.json', '419151.json', '1136581.json', '1426271.json', '501205.json', '981019.json', '1359531.json', '1359489.json', '1359530.json', '980949.json', '419146.json', '1304082.json', '1304067.json', '336023.json', '501247.json', '1082616.json', '729297.json', '1304064.json', '336028.json', '1136566.json', '1254075.json', '1136620.json', '980907.json', '548313.json', '1426266.json', '1304087.json', '1359486.json', '1359481.json', '829795.json', '1136602.json', '829749.json', '1304047.json', '980993.json', '392223.json', '733971.json', '733991.json', '1136588.json', '1082592.json', '548377.json', '1136582.json', '392211.json', '336040.json', '501204.json', '598041.json', '734009.json', '1082648.json', '598013.json', '1082600.json', '419130.json', '1216508.json', '1359533.json', '501219.json', '392195.json', '1304097.json', '501213.json', '548344.json', '1254095.json', '419148.json', '1304071.json', '501263.json', '1254093.json', '1312200.json', '548375.json', '1359524.json', '734005.json', '392196.json', '598044.json', '392197.json', '598059.json', '419124.json', '548317.json', '548334.json', '392182.json', '829725.json', '335982.json', '598000.json', '1359476.json', '598010.json', '1254071.json', '1178410.json', '1136616.json', '1216515.json', '1216541.json', '335999.json', '733983.json', '598071.json', '1237178.json', '548342.json', '1082627.json', '501240.json', '548378.json', '598028.json', '501227.json', '1178422.json', '1422138.json', '392210.json', '980917.json', '1082632.json', '1304052.json', '1426303.json', '1216537.json', '501262.json', '598043.json', '501268.json', '598027.json', '1304105.json', '981007.json', '1136618.json', '1359478.json', '1178397.json', '548310.json', '733999.json', '1359482.json', '598011.json', '336003.json', '980987.json', '1359499.json', '1304089.json', '501222.json', '1082650.json', '1254112.json', '1136598.json', '981013.json', '1082614.json', '1304104.json', '1136571.json', '733979.json', '733985.json', '1254101.json', '729313.json', '548349.json', '598033.json', '1426267.json', '1178411.json', '1304055.json', '548361.json', '1216530.json', '1254084.json', '598005.json', '1175370.json', '829797.json', '1178423.json', '1082610.json', '548372.json', '335997.json', '336036.json', '1136615.json', '548326.json', '548379.json', '1254069.json', '501223.json', '1359503.json', '501266.json', '1178430.json', '598053.json', '1082633.json', '829747.json', '1304084.json', '392202.json', '733987.json', '501221.json', '1216545.json', '734027.json', '1359521.json', '1359505.json', '1304088.json', '392226.json', '1175368.json', '336016.json', '1254079.json', '1359493.json', '1422136.json', '548322.json', '1175359.json', '598047.json', '1216503.json', '392234.json', '1237181.json', '1216509.json', '729287.json', '980979.json', '598039.json', '336002.json', '1082638.json', '1359491.json', '1082598.json', '729299.json', '1254103.json', '1136593.json', '598035.json', '1254116.json', '1359539.json', '548356.json', '1254092.json', '1136592.json', '1178394.json', '419153.json', '419154.json', '548373.json', '1426295.json', '501202.json', '1082639.json', '1178404.json', '501244.json', '392220.json', '1178398.json', '1426262.json', '1216498.json', '1216505.json', '392237.json', '1216496.json', '1136569.json', '335985.json', '734035.json', '419119.json', '419164.json', '734031.json', '598060.json', '1304065.json', '829741.json', '1304116.json', '1136572.json', '734019.json', '829715.json', '598024.json', '336027.json', '1426280.json', '1304062.json', '419116.json', '419138.json', '392231.json', '392201.json', '1254099.json', '1304093.json', '829709.json', '548350.json', '1304069.json', '1082630.json', '829743.json', '335983.json', '392205.json', '392191.json', '1426305.json', '1136573.json', '1237180.json', '980909.json', '1082609.json', '1178400.json', '501233.json', '548332.json', '1082636.json', '1082637.json', '1426268.json', '548320.json', '1359542.json', '501199.json', '336008.json', '980997.json', '1304078.json', '419118.json', '1359514.json', '548336.json', '1426297.json', '1359509.json', '419134.json', '419141.json', '829729.json', '829719.json', '1426307.json', '548306.json', '829775.json', '1304058.json', '734013.json', '980925.json', '1254080.json', '1254067.json', '1082613.json', '981005.json', '501236.json', '392188.json', '336005.json', '548367.json', '829765.json', '419106.json', '335984.json', '733981.json', '335993.json', '548324.json', '1254090.json', '548365.json', '1216495.json', '1175363.json', '980985.json', '336010.json', '1312198.json', '1370350.json', '1216528.json', '501218.json', '1304048.json', '733995.json', '548352.json', '1422135.json', '392189.json', '335990.json', '392216.json', '598049.json', '1359518.json', '336018.json', '548308.json', '1216521.json', '1426274.json', '734015.json', '1304091.json', '829779.json', '1254085.json', '1359501.json', '501251.json', '1254070.json', '1216531.json', '1178412.json', '729303.json', '1426306.json', '548330.json', '1216512.json', '1304051.json', '1254105.json', '1136565.json', '501216.json', '1254100.json', '598054.json', '335989.json', '392215.json', '1304095.json', '392232.json', '829823.json', '336015.json', '1254094.json', '1136608.json', '733977.json', '1304085.json', '1082605.json', '1426284.json', '1082642.json', '734033.json', '1175364.json', '1175361.json', '1216532.json', '392229.json', '598017.json', '501198.json', '980969.json', '729293.json', '1304060.json', '392235.json', '548315.json', 'README.txt', '1304115.json', '1178417.json', '1181768.json', '501225.json', '1216535.json', '392183.json', '1254109.json', '336035.json', '980919.json', '729295.json', '501207.json', '1359477.json', '1178396.json', '1082597.json', '1304083.json', '829811.json', '419144.json', '1359535.json', '1359506.json', '829737.json', '1136587.json', '1178429.json', '1136563.json', '1304080.json', '1370352.json', '548341.json', '392200.json', '1426276.json', '1304108.json', '734001.json', '1426269.json', '548331.json', '1216533.json', '392185.json', '598031.json', '548307.json', '548355.json', '1426302.json', '501238.json', '829815.json', '419136.json', '336039.json', '1136574.json', '336025.json', '734045.json', '501253.json', '419155.json', '1359492.json', '1254087.json', '1304107.json', '1426298.json', '598012.json', '598064.json', '501201.json', '1254114.json', '1304076.json', '1136606.json', '980947.json', '392219.json', '392206.json', '501211.json', '734021.json', '597998.json', '1422137.json', '1178413.json', '981015.json', '335996.json', '1304106.json', '336032.json', '1178427.json', '501261.json', '419123.json', '501215.json', '1304101.json', '1359529.json', '734041.json', '980901.json', '829735.json', '1136597.json', '548370.json', '501260.json', '392184.json', '1359513.json', '1136619.json', '1426289.json', '1254078.json', '419160.json', '1082615.json', '1254108.json', '980955.json', '1304050.json', '1136580.json', '1175372.json', '829723.json', '548374.json', '1304099.json', '1178416.json', '1304061.json', '1304066.json', '1304090.json', '1178408.json', '1422123.json', '1359507.json', '1082625.json', '1216529.json', '980957.json', '1216523.json', '1082626.json', '980939.json', '548371.json', '1304057.json', '598058.json', '501210.json', '598004.json', '392233.json', '598022.json', '733975.json', '1254110.json', '548327.json', '392212.json', '829781.json', '829799.json', '829759.json', '1136576.json', '1082599.json', '548351.json', '548314.json', '501252.json', '548312.json', '419117.json', '734029.json', '1359490.json', '729309.json', '1426277.json', '1359516.json', '598038.json', '598062.json', '829707.json', '548309.json', '980975.json', '1254098.json', '598019.json', '1216543.json', '501208.json', '1136601.json', '1426283.json', '1178403.json', '1216511.json', '598037.json', '1254081.json', '419110.json', '548353.json', '1304072.json', '598050.json', '829807.json', '981001.json', '980981.json', '1178401.json', '501242.json', '1359504.json', '598009.json', '980983.json', '392208.json', '1216493.json', '1136586.json', '1254065.json', '1426287.json', '419161.json', '1082635.json', '501239.json', '501235.json', '1216504.json', '1359495.json', '501245.json', '1136578.json', '1136584.json', '829727.json', '501264.json', '598040.json', '1216547.json', '1216538.json', '419158.json', '1312199.json', '1082631.json', '501265.json', '419159.json', '1426285.json', '335987.json', '598018.json', '1216518.json', '1175367.json', '1254115.json', '548335.json', '980943.json', '548360.json', '1426279.json', '980973.json', '1216534.json', '1082646.json', '392209.json', '419113.json', '1136575.json', '981003.json', '980933.json', '729307.json', '501246.json', '1136614.json', '1178424.json', '1359517.json', '548316.json', '980929.json', '1181767.json', '1359522.json', '1175356.json', '980923.json', '1082643.json', '598016.json', '598036.json', '829819.json', '1175366.json', '980953.json', '1216514.json', '980971.json', '1254097.json', '501270.json', '1359494.json', '1082594.json', '419165.json', '598042.json', '419139.json', '419107.json', '1422131.json', '1426275.json', '501237.json', '829733.json', '419121.json', '1254074.json', '598070.json', '1178414.json', '392230.json', '1359538.json', '829711.json', '419157.json', '980959.json', '336029.json', '980913.json', '1359496.json', '1422124.json', '501257.json', '336038.json', '598020.json', '1237177.json', '1254117.json', '1304074.json', '1426312.json', '419135.json', '501200.json', '501255.json', '1304049.json', '1254083.json', '980935.json', '548381.json', '1136564.json', '419131.json', '598003.json', '1216544.json', '1359540.json', '392222.json', '1082593.json', '1136599.json', '1422130.json', '1082644.json', '1136596.json', '1178405.json', '1426309.json', '548347.json', '1082623.json', '419127.json', '1304053.json', '392228.json', '1216507.json']

In [5]:
rows = list()
files = os.listdir(path="data")

filter(lambda x: str(x).endswith(".json"), files)

for file in files:
    try:
        file_name = "data/" + file
        with open(file_name, "r") as file:
            json_data = json.load(file)
            flattened_data = flatten_json(json_data)
            rows.append(flattened_data)
    except:
        print(file_name)

data/README.txt

In [6]:
# Create a DataFrame with a single row
df = pd.DataFrame(rows)

In [7]:
df

,info_balls_per_over,info_city,info_dates_1,info_event_match_number,info_event_name,info_gender,info_match_type,info_officials_match_referees_1,info_officials_reserve_umpires_1,info_officials_tv_umpires_1,...,info_teams_2,info_toss_decision,info_toss_winner,info_venue,info_outcome_by_runs,info_event_stage,info_outcome_method,info_outcome_eliminator,info_outcome_result,info_dates_2
0,6,Kolkata,2012-05-14,63.0,Indian Premier League,male,T20,Raju Mukherjee,AS Pathania,S Ravi,...,Chennai Super Kings,field,Chennai Super Kings,Eden Gardens,NaN,NaN,NaN,NaN,NaN,NaN
1,6,Mumbai,2021-04-15,7.0,Indian Premier League,male,T20,Shakti Singh,J Madanagopal,AK Chaudhary,...,Rajasthan Royals,field,Rajasthan Royals,"Wankhede Stadium, Mumbai",NaN,NaN,NaN,NaN,NaN,NaN
2,6,Sharjah,2021-09-25,37.0,Indian Premier League,male,T20,Prakash Bhatt,J Madanagopal,KN Ananthapadmanabhan,...,Sunrisers Hyderabad,field,Sunrisers Hyderabad,Sharjah Cricket Stadium,5.0,NaN,NaN,NaN,NaN,NaN
3,6,Chennai,2012-04-28,37.0,Indian Premier League,male,T20,RS Mahanama,K Srinivasan,C Shamshuddin,...,Kings XI Punjab,bat,Kings XI Punjab,"MA Chidambaram Stadium, Chepauk",7.0,NaN,NaN,NaN,NaN,NaN
4,6,Mumbai,2015-05-19,NaN,Indian Premier League,male,T20,RS Madugalle,CK Nandan,VA Kulkarni,...,Mumbai Indians,bat,Mumbai Indians,Wankhede Stadium,25.0,Qualifier 1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,6,Chandigarh,2017-04-28,33.0,Indian Premier League,male,T20,S Chaturvedi,K Srinivasan,YC Barde,...,Sunrisers Hyderabad,field,Kings XI Punjab,"Punjab Cricket Association IS Bindra Stadium, ...",26.0,NaN,NaN,NaN,NaN,NaN
1091,6,Chandigarh,2010-03-27,23.0,Indian Premier League,male,T20,S Venkataraghavan,C Shamshuddin,SK Tarapore,...,Kolkata Knight Riders,bat,Kolkata Knight Riders,"Punjab Cricket Association Stadium, Mohali",39.0,NaN,NaN,NaN,NaN,NaN
1092,6,Mumbai,2022-03-31,7.0,Indian Premier League,male,T20,J Srinath,NA Patwardhan,YC Barde,...,Lucknow Super Giants,field,Lucknow Super Giants,"Brabourne Stadium, Mumbai",NaN,NaN,NaN,NaN,NaN,NaN
1093,6,Johannesburg,2009-05-16,48.0,Indian Premier League,male,T20,S Venkataraghavan,KH Hurter,SL Shastri,...,Kolkata Knight Riders,field,Deccan Chargers,New Wanderers Stadium,NaN,NaN,NaN,NaN,NaN,NaN
1094,6,NaN,2020-10-11,26.0,Indian Premier League,male,T20,Prakash Bhatt,AY Dandekar,Nitin Menon,...,Rajasthan Royals,bat,Sunrisers Hyderabad,Dubai International Cricket Stadium,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.to_csv("output/ipl_summary_raw.csv", index=False)

In [9]:
df.head()

,info_balls_per_over,info_city,info_dates_1,info_event_match_number,info_event_name,info_gender,info_match_type,info_officials_match_referees_1,info_officials_reserve_umpires_1,info_officials_tv_umpires_1,...,info_teams_2,info_toss_decision,info_toss_winner,info_venue,info_outcome_by_runs,info_event_stage,info_outcome_method,info_outcome_eliminator,info_outcome_result,info_dates_2
0,6,Kolkata,2012-05-14,63.0,Indian Premier League,male,T20,Raju Mukherjee,AS Pathania,S Ravi,...,Chennai Super Kings,field,Chennai Super Kings,Eden Gardens,NaN,NaN,NaN,NaN,NaN,NaN
1,6,Mumbai,2021-04-15,7.0,Indian Premier League,male,T20,Shakti Singh,J Madanagopal,AK Chaudhary,...,Rajasthan Royals,field,Rajasthan Royals,"Wankhede Stadium, Mumbai",NaN,NaN,NaN,NaN,NaN,NaN
2,6,Sharjah,2021-09-25,37.0,Indian Premier League,male,T20,Prakash Bhatt,J Madanagopal,KN Ananthapadmanabhan,...,Sunrisers Hyderabad,field,Sunrisers Hyderabad,Sharjah Cricket Stadium,5.0,NaN,NaN,NaN,NaN,NaN
3,6,Chennai,2012-04-28,37.0,Indian Premier League,male,T20,RS Mahanama,K Srinivasan,C Shamshuddin,...,Kings XI Punjab,bat,Kings XI Punjab,"MA Chidambaram Stadium, Chepauk",7.0,NaN,NaN,NaN,NaN,NaN
4,6,Mumbai,2015-05-19,NaN,Indian Premier League,male,T20,RS Madugalle,CK Nandan,VA Kulkarni,...,Mumbai Indians,bat,Mumbai Indians,Wankhede Stadium,25.0,Qualifier 1,NaN,NaN,NaN,NaN

In [10]:
def remove_prefix(x: str, to_replace: str, replace_by: str):
    return x.replace(to_replace, replace_by)

In [11]:
df.rename(
    lambda x: remove_prefix(str(x), to_replace="info_", replace_by=""),
    inplace=True,
    axis=1,
)

In [12]:
df.rename(
    lambda x: remove_prefix(str(x), to_replace=" ", replace_by="_"),
    inplace=True,
    axis=1,
)

In [13]:
df.rename(lambda x: str(x).lower(), inplace=True, axis=1)

In [14]:
df.head()

,balls_per_over,city,dates_1,event_match_number,event_name,gender,match_type,officials_match_referees_1,officials_reserve_umpires_1,officials_tv_umpires_1,...,teams_2,toss_decision,toss_winner,venue,outcome_by_runs,event_stage,outcome_method,outcome_eliminator,outcome_result,dates_2
0,6,Kolkata,2012-05-14,63.0,Indian Premier League,male,T20,Raju Mukherjee,AS Pathania,S Ravi,...,Chennai Super Kings,field,Chennai Super Kings,Eden Gardens,NaN,NaN,NaN,NaN,NaN,NaN
1,6,Mumbai,2021-04-15,7.0,Indian Premier League,male,T20,Shakti Singh,J Madanagopal,AK Chaudhary,...,Rajasthan Royals,field,Rajasthan Royals,"Wankhede Stadium, Mumbai",NaN,NaN,NaN,NaN,NaN,NaN
2,6,Sharjah,2021-09-25,37.0,Indian Premier League,male,T20,Prakash Bhatt,J Madanagopal,KN Ananthapadmanabhan,...,Sunrisers Hyderabad,field,Sunrisers Hyderabad,Sharjah Cricket Stadium,5.0,NaN,NaN,NaN,NaN,NaN
3,6,Chennai,2012-04-28,37.0,Indian Premier League,male,T20,RS Mahanama,K Srinivasan,C Shamshuddin,...,Kings XI Punjab,bat,Kings XI Punjab,"MA Chidambaram Stadium, Chepauk",7.0,NaN,NaN,NaN,NaN,NaN
4,6,Mumbai,2015-05-19,NaN,Indian Premier League,male,T20,RS Madugalle,CK Nandan,VA Kulkarni,...,Mumbai Indians,bat,Mumbai Indians,Wankhede Stadium,25.0,Qualifier 1,NaN,NaN,NaN,NaN

In [15]:
def populate_team_1(row):
    toss_winner = row["toss_winner"]
    if row["toss_decision"] == "bat":
        team_1 = row["toss_winner"]
    else:
        teams_1 = row["teams_1"]
        teams_2 = row["teams_2"]
        team_1 = teams_2 if toss_winner == teams_1 else teams_1

    return team_1

In [16]:
df["team_1"] = df.apply(populate_team_1, axis=1)

In [17]:
def populate_team_2(row):
    toss_winner = row["toss_winner"]
    if row["toss_decision"] == "field":
        team_2 = row["toss_winner"]
    else:
        teams_1 = row["teams_1"]
        teams_2 = row["teams_2"]
        team_2 = teams_2 if toss_winner == teams_1 else teams_1

    return team_2

In [18]:
df["team_2"] = df.apply(populate_team_2, axis=1)

In [19]:
df.columns

Index(['balls_per_over', 'city', 'dates_1', 'event_match_number', 'event_name',
       'gender', 'match_type', 'officials_match_referees_1',
       'officials_reserve_umpires_1', 'officials_tv_umpires_1',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_by_wickets',
       'outcome_winner', 'overs', 'player_of_match_1', 'season', 'team_type',
       'teams_1', 'teams_2', 'toss_decision', 'toss_winner', 'venue',
       'outcome_by_runs', 'event_stage', 'outcome_method',
       'outcome_eliminator', 'outcome_result', 'dates_2', 'team_1', 'team_2'],
      dtype='object')

In [20]:
sel_cols = [
    "teams_1",
    "teams_2",
    "toss_decision",
    "toss_winner",
    "outcome_winner",
    "team_1",
    "team_2",
]
df[sel_cols].head()

,teams_1,teams_2,toss_decision,toss_winner,outcome_winner,team_1,team_2
0,Kolkata Knight Riders,Chennai Super Kings,field,Chennai Super Kings,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings
1,Delhi Capitals,Rajasthan Royals,field,Rajasthan Royals,Rajasthan Royals,Delhi Capitals,Rajasthan Royals
2,Punjab Kings,Sunrisers Hyderabad,field,Sunrisers Hyderabad,Punjab Kings,Punjab Kings,Sunrisers Hyderabad
3,Chennai Super Kings,Kings XI Punjab,bat,Kings XI Punjab,Kings XI Punjab,Kings XI Punjab,Chennai Super Kings
4,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,Mumbai Indians,Mumbai Indians,Chennai Super Kings

In [21]:
df.drop(columns=["teams_1", "teams_2"], inplace=True)

### Following columns have only a single value and so can be dropped from the dataframe

1. balls_per_over
2. event_name
3. gender
4. match_type
5. overs
6. team_type

In [22]:
df["balls_per_over"].value_counts()

balls_per_over
6    1095
Name: count, dtype: int64

In [23]:
df["event_name"].value_counts()

event_name
Indian Premier League    1095
Name: count, dtype: int64

In [24]:
df["gender"].value_counts()

gender
male    1095
Name: count, dtype: int64

In [25]:
df["match_type"].value_counts()

match_type
T20    1095
Name: count, dtype: int64

In [26]:
df["overs"].value_counts()

overs
20    1095
Name: count, dtype: int64

In [27]:
df["team_type"].value_counts()

team_type
club    1095
Name: count, dtype: int64

In [28]:
df.drop(
    columns=[
        "balls_per_over",
        "event_name",
        "gender",
        "match_type",
        "overs",
        "team_type",
    ],
    inplace=True,
)

### Season has 2016 represented as string and numeric and so it is showing up as two different values. Convert to str type

In [29]:
df[df["season"].apply(lambda x: str(x).strip().find("2016") != -1)][
    "season"
].value_counts()

season
2016    59
2016     1
Name: count, dtype: int64

In [30]:
df["season"] = df["season"].astype(str)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city                         1044 non-null   object
 1   dates_1                      1095 non-null   object
 2   event_match_number           1029 non-null   float64
 3   officials_match_referees_1   1095 non-null   object
 4   officials_reserve_umpires_1  1071 non-null   object
 5   officials_tv_umpires_1       1091 non-null   object
 6   officials_umpires_1          1095 non-null   object
 7   officials_umpires_2          1095 non-null   object
 8   outcome_by_wickets           578 non-null    float64
 9   outcome_winner               1076 non-null   object
 10  player_of_match_1            1090 non-null   object
 11  season                       1095 non-null   object
 12  toss_decision                1095 non-null   object
 13  toss_winner                  1095 non-null   object
 14  venue                        1095 non-null   object
 15  outcome_by_runs              498 non-null    float64
 16  event_stage                  66 non-null     object
 17  outcome_method               21 non-null     object
 18  outcome_eliminator           14 non-null     object
 19  outcome_result               19 non-null     object
 20  dates_2                      2 non-null      object
 21  team_1                       1095 non-null   object
 22  team_2                       1095 non-null   object
dtypes: float64(3), object(20)
memory usage: 196.9+ KB

In [32]:
df.loc[df["event_match_number"].isnull(), "event_match_number"] = -1

In [33]:
df["event_match_number"] = df["event_match_number"].astype(int)

In [34]:
df["event_match_number"].unique()

array([63,  7, 37, -1, 23,  3, 11, 10, 46, 57, 70, 31, 55, 22, 45, 32, 68,
        6, 47, 34, 48, 62, 13, 17, 39, 38, 20, 61, 66, 44, 28, 33, 65,  4,
       43, 36, 26, 14, 69,  5, 40, 50, 49,  9, 27,  1,  8, 42, 21, 19, 30,
       53,  2, 51, 52, 12, 16, 71, 58, 59, 24, 18, 15, 72, 35, 54, 29, 41,
       64, 67, 56, 60, 25])

In [35]:
df.describe()

       event_match_number  outcome_by_wickets  outcome_by_runs
count         1095.000000          578.000000       498.000000
mean            29.479452            6.192042        30.104418
std             19.388911            1.845733        26.739844
min             -1.000000            1.000000         1.000000
25%             13.000000            5.000000        11.000000
50%             29.000000            6.000000        22.000000
75%             45.000000            7.000000        41.000000
max             72.000000           10.000000       146.000000

In [36]:
for col in df.columns:
    print(col, df[col].dtype, sep=" => ")

city => object
dates_1 => object
event_match_number => int64
officials_match_referees_1 => object
officials_reserve_umpires_1 => object
officials_tv_umpires_1 => object
officials_umpires_1 => object
officials_umpires_2 => object
outcome_by_wickets => float64
outcome_winner => object
player_of_match_1 => object
season => object
toss_decision => object
toss_winner => object
venue => object
outcome_by_runs => float64
event_stage => object
outcome_method => object
outcome_eliminator => object
outcome_result => object
dates_2 => object
team_1 => object
team_2 => object

# Handle Missing Values

In [37]:
# populate missing city values based on the stadium
df.loc[df["venue"] == "Sharjah Cricket Stadium", "city"] = "Sharjah"
df.loc[df["venue"] == "Dubai International Cricket Stadium", "city"] = "Dubai"

In [38]:
# Drop dates_2 and outcome_eliminator columns as it has 98% missing values
df = df.drop(columns=["dates_2", "outcome_eliminator"])

In [39]:
# Defaulting the event_stage to group_stage as it is left blank
df.loc[df["event_stage"].isnull(), "event_stage"] = "group_stage"

In [40]:
df.loc[df["outcome_winner"].isnull(), "outcome_winner"] = df["outcome_result"]

In [41]:
df.loc[df["outcome_method"].isnull(), "outcome_method"] = "regular"

In [42]:
# drop outcome_result as it is merged in the outcome_winner column
df.drop(columns=["outcome_result"], inplace=True)

In [43]:
# Fix season values
df.loc[df["season"] == "2007/08", "season"] = "2008"
df.loc[df["season"] == "2009/10", "season"] = "2010"
df.loc[df["season"] == "2020/21", "season"] = "2020"

In [44]:
df["season"].value_counts().sort_index()

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
2021    60
2022    74
2023    74
2024    71
Name: count, dtype: int64

In [45]:
df["season"] = df["season"].astype(int)

In [46]:
# Handle event_match_number
print(len(df.loc[df["event_match_number"] == -1, "event_match_number"]))
df.loc[df["event_match_number"] == -1, ["season", "dates_1"]].sort_values(by="dates_1")

66

      season     dates_1
1063    2008  2008-05-30
855     2008  2008-05-31
500     2008  2008-06-01
668     2009  2009-05-22
103     2009  2009-05-23
...      ...         ...
172     2023  2023-05-29
1088    2024  2024-05-21
61      2024  2024-05-22
124     2024  2024-05-24
1068    2024  2024-05-26

[66 rows x 2 columns]

In [47]:
# Not using this as we are populating the missing match numbers with event stage
def populate_match_numbers(df, season):
    df_part = df.loc[
        (df["season"] == season) & (df["event_match_number"].isnull()),
        ["event_match_number", "dates_1"],
    ].sort_values(by="dates_1")
    max_match_number = df[df["season"] == season]["event_match_number"].max() + 1
    print(df_part)
    for index, _ in df_part.iterrows():
        df.loc[index, "event_match_number"] = max_match_number
        max_match_number += 1

    print(df)

In [48]:
# Not using this as we are populating the missing match numbers with event stage
def populate_match_numbers_across_seasons(df):
    for seas in df.season.unique():
        populate_match_numbers(df, seas)

In [49]:
# Not using this as we are populating the missing match numbers with event stage
# populate_match_numbers_across_seasons(df)

In [50]:
# note that this would convert the null values to string "nan"
df["event_match_number"] = df["event_match_number"].astype(str)

In [51]:
df.loc[df["event_match_number"] == "-1", ["event_match_number"]] = df["event_stage"]

In [52]:
df["event_match_number"].unique()

array(['63', '7', '37', 'Qualifier 1', '23', '3', '11', '10', '46', '57',
       '70', '31', 'Qualifier 2', '55', '22', '45', '32', '68', '6', '47',
       '34', '48', '62', '13', '17', 'Final', '39', '38', '20', '61',
       '66', '44', '28', '33', '65', '4', '43', '36', '26', '14', '69',
       '5', 'Eliminator', '40', '50', '49', '9', '27', '1', '8', '42',
       '21', '19', '30', '53', '2', '51', 'Semi Final', '52', '12', '16',
       '71', '58', '59', '24', '18', '15', '72', '35', '54', '29', '41',
       '64', '67', '56', '60', '25', 'Elimination Final',
       '3rd Place Play-Off'], dtype=object)

In [53]:
pd.Series(df["venue"].unique())

0                                          Eden Gardens
1                              Wankhede Stadium, Mumbai
2                               Sharjah Cricket Stadium
3                       MA Chidambaram Stadium, Chepauk
4                                      Wankhede Stadium
5                                      Feroz Shah Kotla
6                                 Eden Gardens, Kolkata
7            Punjab Cricket Association Stadium, Mohali
8                      M Chinnaswamy Stadium, Bengaluru
9                                  Arun Jaitley Stadium
10        Maharashtra Cricket Association Stadium, Pune
11                            Brabourne Stadium, Mumbai
12                                M Chinnaswamy Stadium
13                                 Sheikh Zayed Stadium
14                                M.Chinnaswamy Stadium
15     Shaheed Veer Narayan Singh International Stadium
16                     Narendra Modi Stadium, Ahmedabad
17            Rajiv Gandhi International Stadium, Uppal
18             MA Chidambaram Stadium, Chepauk, Chennai
19                     Zayed Cricket Stadium, Abu Dhabi
20                                      SuperSport Park
21                           Dr DY Patil Sports Academy
22               Saurashtra Cricket Association Stadium
23                   Dr DY Patil Sports Academy, Mumbai
24                                     St George's Park
25                  Dubai International Cricket Stadium
26                               Holkar Cricket Stadium
27    Punjab Cricket Association IS Bindra Stadium, ...
28    Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
29              Maharashtra Cricket Association Stadium
30                                    Brabourne Stadium
31                       Sawai Mansingh Stadium, Jaipur
32                                             Newlands
33                                            Kingsmead
34    Punjab Cricket Association IS Bindra Stadium, ...
35    Rajiv Gandhi International Stadium, Uppal, Hyd...
36                                New Wanderers Stadium
37                   JSCA International Stadium Complex
38    Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
39                               MA Chidambaram Stadium
40                   Rajiv Gandhi International Stadium
41                               Sawai Mansingh Stadium
42                           Subrata Roy Sahara Stadium
43         Himachal Pradesh Cricket Association Stadium
44         Punjab Cricket Association IS Bindra Stadium
45         Vidarbha Cricket Association Stadium, Jamtha
46                         Sardar Patel Stadium, Motera
47                          Arun Jaitley Stadium, Delhi
48                                De Beers Diamond Oval
49                                     Barabati Stadium
50    Maharaja Yadavindra Singh International Cricke...
51                                         Buffalo Park
52                                        Nehru Stadium
53    Himachal Pradesh Cricket Association Stadium, ...
54    Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
55                                           Green Park
56                  Barsapara Cricket Stadium, Guwahati
57                                      OUTsurance Oval
dtype: object

In [54]:
df["venue"] = df["venue"].str.partition(",")[0]

In [55]:
df["venue"] = df["venue"].str.replace(".", "")

In [56]:
df["venue"] = df["venue"].str.replace(" ", "")

In [57]:
pd.Series(df["venue"].unique())

0                                           EdenGardens
1                                       WankhedeStadium
2                                 SharjahCricketStadium
3                                  MAChidambaramStadium
4                                        FerozShahKotla
5                       PunjabCricketAssociationStadium
6                                   MChinnaswamyStadium
7                                    ArunJaitleyStadium
8                  MaharashtraCricketAssociationStadium
9                                      BrabourneStadium
10                                   SheikhZayedStadium
11          ShaheedVeerNarayanSinghInternationalStadium
12                                  NarendraModiStadium
13                      RajivGandhiInternationalStadium
14                                  ZayedCricketStadium
15                                       SuperSportPark
16                               DrDYPatilSportsAcademy
17                  SaurashtraCricketAssociationStadium
18                                       StGeorge'sPark
19                     DubaiInternationalCricketStadium
20                                 HolkarCricketStadium
21              PunjabCricketAssociationISBindraStadium
22    BharatRatnaShriAtalBihariVajpayeeEkanaCricketS...
23                                 SawaiMansinghStadium
24                                             Newlands
25                                            Kingsmead
26                                  NewWanderersStadium
27                      JSCAInternationalStadiumComplex
28           DrYSRajasekharaReddyACA-VDCACricketStadium
29                              SubrataRoySaharaStadium
30             HimachalPradeshCricketAssociationStadium
31                    VidarbhaCricketAssociationStadium
32                                   SardarPatelStadium
33                                   DeBeersDiamondOval
34                                      BarabatiStadium
35    MaharajaYadavindraSinghInternationalCricketSta...
36                                          BuffaloPark
37                                         NehruStadium
38                                            GreenPark
39                              BarsaparaCricketStadium
40                                       OUTsuranceOval
dtype: object

In [58]:
df.columns

Index(['city', 'dates_1', 'event_match_number', 'officials_match_referees_1',
       'officials_reserve_umpires_1', 'officials_tv_umpires_1',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_by_wickets',
       'outcome_winner', 'player_of_match_1', 'season', 'toss_decision',
       'toss_winner', 'venue', 'outcome_by_runs', 'event_stage',
       'outcome_method', 'team_1', 'team_2'],
      dtype='object')

In [59]:
df = df.rename(
    columns={
        "dates_1": "date",
        "officials_match_referees_1": "officials_match_referees",
        "officials_reserve_umpires_1": "officials_reserve_umpires",
        "officials_tv_umpires_1": "officials_tv_umpires",
        "teams_1": "team_1",
        "teams_2": "team_2",
        "player_of_match_1": "player_of_match",
    }
)

In [60]:
df.columns

Index(['city', 'date', 'event_match_number', 'officials_match_referees',
       'officials_reserve_umpires', 'officials_tv_umpires',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_by_wickets',
       'outcome_winner', 'player_of_match', 'season', 'toss_decision',
       'toss_winner', 'venue', 'outcome_by_runs', 'event_stage',
       'outcome_method', 'team_1', 'team_2'],
      dtype='object')

In [61]:
df.rename(columns={"event_match_number": "match_number"}, inplace=True)

In [62]:
cols = [
    "date",
    "match_number",
    "city",
    "team_1",
    "team_2",
    "outcome_winner",
    "player_of_match",
    "toss_winner",
    "toss_decision",
    "officials_match_referees",
    "officials_reserve_umpires",
    "officials_tv_umpires",
    "officials_umpires_1",
    "officials_umpires_2",
    "outcome_by_wickets",
    "season",
    "venue",
    "outcome_by_runs",
    "event_stage",
    "outcome_method",
]
df = df.reindex(columns=cols)

In [63]:
df = df.sort_values(by=["date", "match_number"])

In [64]:
df.to_csv("output/ipl_summary.csv", index=False)