In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import json

In [2]:
fields_to_skip = ["meta", "info"]

In [3]:
def populate_wicket_data(idx, delivery):
    wicket_record = {}
    if "wickets" in delivery and delivery["wickets"]:
        for wicket in delivery["wickets"]:
            wicket_record = {
                "delivery_index": idx,
                "wicket.kind": wicket["kind"],
                "wicket.player_out": wicket["player_out"],
                "wicket.fielders": (
                    [fielder["name"] for fielder in wicket["fielders"]]
                    if wicket.get("fielders") != None
                    else None
                ),
            }
    else:
        wicket_record = {
            "delivery_index": idx,
            "wicket.kind": None,
            "wicket.player_out": None,
            "wicket.fielders": None,
        }
    return wicket_record

In [4]:
file_names = os.listdir(path="data")
print(file_names[:10])
file_names = list(filter(lambda x: str(x).endswith(".json"), file_names))
file_names.sort()
print(file_names[:10])

merged_deliveries = pd.DataFrame()
wickets_data = []
index = 0
match_number = 1
prev_match_number = 0
date_file_name_dict = {}
prev_match_number = 0

for file_idx, file_name in enumerate(file_names):
    file_path = "data/" + file_name
    with open(file=file_path, mode="r") as file:
        data = json.load(file)
        info = data["info"]
        date = info["dates"][0]
        if info["event"].get("match_number") != None:
            match_number = info["event"].get("match_number")
        else:
            match_number = prev_match_number + 1
        
        if date_file_name_dict.get(date) != None:
            if prev_match_number < match_number:
                date_file_name_dict[date +"_1"] = file_name
            else:
                date_file_name_dict[date +"_1"] = date_file_name_dict[date] 
                date_file_name_dict[date] = file_name
        else:
            date_file_name_dict[date] = file_name
        prev_match_number = match_number

['1254103.json', '1136605.json', '1216501.json', '1082595.json', '829731.json', '1359507.json', '548315.json', '1304079.json', '1422119.json', '1178418.json']
['1082591.json', '1082592.json', '1082593.json', '1082594.json', '1082595.json', '1082596.json', '1082597.json', '1082598.json', '1082599.json', '1082600.json']

In [5]:
match_dates = list(date_file_name_dict.keys())
match_dates.sort()

In [6]:
# file_names = ["829813.json", "829817.json", "336038.json"]
index = 0
match_number = 1
prev_match_number = 0
prev_year = ""
stage = ""

for file_idx, match_date in enumerate(match_dates):
    file_name = date_file_name_dict[match_date]
    file_path = "data/" + file_name
    with open(file=file_path, mode="r") as file:
        data = json.load(file)
        info = data["info"]
        date = info["dates"][0]
        curr_year = date.split("-")[0]
        if curr_year != prev_year:
            print(curr_year, prev_year)
            prev_match_number = 0
        print("processing file: ", file_idx, file_name, match_date, date, prev_match_number, sep=", ")
        
        if info["event"].get("match_number") != None:
            match_number = info["event"].get("match_number")
        else:
            match_number = prev_match_number + 1
            print("match number not presentin file_name:", file_name, "populating with: ", match_number)
        
        if info["event"].get("stage") == None:
            stage = "group"
        else:
            stage = info["event"].get("stage")

        prev_match_number = match_number
        prev_year = date.split("-")[0]
        
        innings = data["innings"]
        for idx, inning in enumerate(innings):
            if inning.get("super_over") is not None:
                print("skipping super_over: ", date, match_number)
                continue
            overs = inning["overs"]
            df_deliveries = pd.json_normalize(
                overs, record_path=["deliveries"], meta=["over"]
            )
            df_deliveries["date"] = date
            df_deliveries["match_number"] = match_number
            df_deliveries["innings"] = idx + 1
            df_deliveries['stage'] = stage
            merged_deliveries = pd.concat([merged_deliveries, df_deliveries], axis=0)
            for over in overs:
                for delivery in over["deliveries"]:
                    wicket_data = populate_wicket_data(index, delivery)
                    wickets_data.append(wicket_data)
                    index += 1
                    
df_wickets = pd.DataFrame(wickets_data)

merged_deliveries.reset_index(inplace=True)

merged_deliveries["delivery_index"] = merged_deliveries.index

df_merged = pd.merge(merged_deliveries, df_wickets, on="delivery_index", how="left")

df_merged.drop("delivery_index", inplace=True, axis=1)
# df_merged.drop("wickets", inplace=True, axis=1)

2008
processing file: , 0, 335982.json, 2008-04-18, 2008-04-18, 0
processing file: , 1, 335983.json, 2008-04-19, 2008-04-19, 1
processing file: , 2, 335984.json, 2008-04-19_1, 2008-04-19, 2
processing file: , 3, 335986.json, 2008-04-20, 2008-04-20, 3
processing file: , 4, 335985.json, 2008-04-20_1, 2008-04-20, 4
processing file: , 5, 335987.json, 2008-04-21, 2008-04-21, 5
processing file: , 6, 335988.json, 2008-04-22, 2008-04-22, 6
processing file: , 7, 335989.json, 2008-04-23, 2008-04-23, 7
processing file: , 8, 335990.json, 2008-04-24, 2008-04-24, 8
processing file: , 9, 335991.json, 2008-04-25, 2008-04-25, 9
processing file: , 10, 335993.json, 2008-04-26, 2008-04-26, 10
processing file: , 11, 335992.json, 2008-04-26_1, 2008-04-26, 11
processing file: , 12, 335995.json, 2008-04-27, 2008-04-27, 12
processing file: , 13, 335994.json, 2008-04-27_1, 2008-04-27, 13
processing file: , 14, 335996.json, 2008-04-28, 2008-04-28, 14
processing file: , 15, 335997.json, 2008-04-29, 2008-04-29, 15
processing file: , 16, 335998.json, 2008-04-30, 2008-04-30, 16
processing file: , 17, 336000.json, 2008-05-01, 2008-05-01, 17
processing file: , 18, 335999.json, 2008-05-01_1, 2008-05-01, 18
processing file: , 19, 336001.json, 2008-05-02, 2008-05-02, 19
processing file: , 20, 336034.json, 2008-05-03, 2008-05-03, 20
processing file: , 21, 336003.json, 2008-05-03_1, 2008-05-03, 21
processing file: , 22, 336004.json, 2008-05-04, 2008-05-04, 22

processing file: , 23, 336005.json, 2008-05-04_1, 2008-05-04, 23
processing file: , 24, 336006.json, 2008-05-05, 2008-05-05, 24
processing file: , 25, 336007.json, 2008-05-06, 2008-05-06, 25
processing file: , 26, 336008.json, 2008-05-07, 2008-05-07, 26
processing file: , 27, 336009.json, 2008-05-08, 2008-05-08, 27
processing file: , 28, 336010.json, 2008-05-08_1, 2008-05-08, 28
processing file: , 29, 336011.json, 2008-05-09, 2008-05-09, 29
processing file: , 30, 336013.json, 2008-05-10, 2008-05-10, 30
processing file: , 31, 336014.json, 2008-05-11, 2008-05-11, 31
processing file: , 32, 336015.json, 2008-05-11_1, 2008-05-11, 32
processing file: , 33, 336016.json, 2008-05-12, 2008-05-12, 33
processing file: , 34, 336017.json, 2008-05-13, 2008-05-13, 34
processing file: , 35, 336018.json, 2008-05-14, 2008-05-14, 35
processing file: , 36, 336020.json, 2008-05-15, 2008-05-15, 36
processing file: , 37, 336021.json, 2008-05-16, 2008-05-16, 37
processing file: , 38, 336023.json, 2008-05-17, 2008-05-17, 38
processing file: , 39, 336022.json, 2008-05-17_1, 2008-05-17, 39
processing file: , 40, 336025.json, 2008-05-18, 2008-05-18, 40
processing file: , 41, 336024.json, 2008-05-18_1, 2008-05-18, 41
processing file: , 42, 336026.json, 2008-05-19, 2008-05-19, 42
processing file: , 43, 336027.json, 2008-05-20, 2008-05-20, 43
processing file: , 44, 336028.json, 2008-05-21, 2008-05-21, 44
processing file: , 45, 336029.json, 2008-05-21_1, 2008-05-21, 45
processing file: , 46, 336031.json, 2008-05-23, 2008-05-23, 46
processing file: , 47, 336033.json, 2008-05-24, 2008-05-24, 48
processing file: , 48, 336032.json, 2008-05-24_1, 2008-05-24, 49
processing file: , 49, 336002.json, 2008-05-25, 2008-05-25, 50
processing file: , 50, 336035.json, 2008-05-25_1, 2008-05-25, 51
processing file: , 51, 336036.json, 2008-05-26, 2008-05-26, 52
processing file: , 52, 336037.json, 2008-05-27, 2008-05-27, 53
processing file: , 53, 336012.json, 2008-05-28, 2008-05-28, 54
processing file: , 54, 336019.json, 2008-05-28_1, 2008-05-28, 55
processing file: , 55, 336038.json, 2008-05-30, 2008-05-30, 56
match number not presentin file_name: 336038.json populating with:  57
processing file: , 56, 336039.json, 2008-05-31, 2008-05-31, 57
match number not presentin file_name: 336039.json populating with:  58
processing file: , 57, 336040.json, 2008-06-01, 2008-06-01, 58
match number not presentin file_name: 336040.json populating with:  59
2009 2008
processing file: , 58, 392181.json, 2009-04-18, 2009-04-18, 0
processing file: , 59, 392182.json, 2009-04-18_1, 2009-04-18, 1
processing file: , 60, 392183.json, 2009-04-19, 2009-04-19, 2
processing file: , 61, 392184.json, 2009-04-19_1, 2009-04-19, 3
processing file: , 62, 392185.json, 2009-04-20, 2009-04-20, 4
processing file: , 63, 392186.json, 2009-04-21, 2009-04-21, 5
processing file: , 64, 392188.json, 2009-04-22, 2009-04-22, 6
processing file: , 65, 392189.json, 2009-04-23, 2009-04-23, 8
processing file: , 66, 392190.json, 2009-04-23_1, 2009-04-23, 9
skipping super_over:  2009-04-23 10
skipping super_over:  2009-04-23 10
processing file: , 67, 392191.json, 2009-04-24, 2009-04-24, 10
processing file: , 68, 392192.json, 2009-04-25, 2009-04-25, 11
processing file: , 69, 392194.json, 2009-04-26, 2009-04-26, 12
processing file: , 70, 392195.json, 2009-04-26_1, 2009-04-26, 14
processing file: , 71, 392196.json, 2009-04-27, 2009-04-27, 15
processing file: , 72, 392197.json, 2009-04-27_1, 2009-04-27, 16
processing file: , 73, 392198.json, 2009-04-28, 2009-04-28, 17
processing file: , 74, 392199.json, 2009-04-29, 2009-04-29, 18
processing file: , 75, 392200.json, 2009-04-29_1, 2009-04-29, 19
processing file: , 76, 392201.json, 2009-04-30, 2009-04-30, 20
processing file: , 77, 392202.json, 2009-04-30_1, 2009-04-30, 21
processing file: , 78, 392203.json, 2009-05-01, 2009-05-01, 22
processing file: , 79, 392204.json, 2009-05-01_1, 2009-05-01, 23
processing file: , 80, 392205.json, 2009-05-02, 2009-05-02, 24
processing file: , 81, 392206.json, 2009-05-02_1, 2009-05-02, 25
processing file: , 82, 392207.json, 2009-05-03, 2009-05-03, 26
processing file: , 83, 392208.json, 2009-05-03_1, 2009-05-03, 27
processing file: , 84, 392209.json, 2009-05-04, 2009-05-04, 28
processing file: , 85, 392210.json, 2009-05-05, 2009-05-05, 29
processing file: , 86, 392211.json, 2009-05-05_1, 2009-05-05, 30
processing file: , 87, 392212.json, 2009-05-06, 2009-05-06, 31
processing file: , 88, 392213.json, 2009-05-07, 2009-05-07, 32
processing file: , 89, 392214.json, 2009-05-07_1, 2009-05-07, 33
processing file: , 90, 392215.json, 2009-05-08, 2009-05-08, 34
processing file: , 91, 392216.json, 2009-05-09, 2009-05-09, 35
processing file: , 92, 392217.json, 2009-05-09_1, 2009-05-09, 36
processing file: , 93, 392218.json, 2009-05-10, 2009-05-10, 37
processing file: , 94, 392219.json, 2009-05-10_1, 2009-05-10, 38
processing file: , 95, 392220.json, 2009-05-11, 2009-05-11, 39
processing file: , 96, 392221.json, 2009-05-12, 2009-05-12, 40
processing file: , 97, 392222.json, 2009-05-12_1, 2009-05-12, 41
processing file: , 98, 392223.json, 2009-05-13, 2009-05-13, 42
processing file: , 99, 392224.json, 2009-05-14, 2009-05-14, 43
processing file: , 100, 392225.json, 2009-05-14_1, 2009-05-14, 44
processing file: , 101, 392226.json, 2009-05-15, 2009-05-15, 45
processing file: , 102, 392227.json, 2009-05-16, 2009-05-16, 46
processing file: , 103, 392228.json, 2009-05-16_1, 2009-05-16, 47
processing file: , 104, 392229.json, 2009-05-17, 2009-05-17, 48
processing file: , 105, 392230.json, 2009-05-17_1, 2009-05-17, 49
processing file: , 106, 392231.json, 2009-05-18, 2009-05-18, 50
processing file: , 107, 392232.json, 2009-05-19, 2009-05-19, 51
processing file: , 108, 392233.json, 2009-05-20, 2009-05-20, 52
processing file: , 109, 392234.json, 2009-05-20_1, 2009-05-20, 53
processing file: , 110, 392235.json, 2009-05-21, 2009-05-21, 54
processing file: , 111, 392236.json, 2009-05-21_1, 2009-05-21, 55
processing file: , 112, 392237.json, 2009-05-22, 2009-05-22, 56
match number not presentin file_name: 392237.json populating with:  57
processing file: , 113, 392238.json, 2009-05-23, 2009-05-23, 57
match number not presentin file_name: 392238.json populating with:  58
processing file: , 114, 392239.json, 2009-05-24, 2009-05-24, 58
match number not presentin file_name: 392239.json populating with:  59
2010 2009
processing file: , 115, 419106.json, 2010-03-12, 2010-03-12, 0
processing file: , 116, 419107.json, 2010-03-13, 2010-03-13, 1
processing file: , 117, 419108.json, 2010-03-13_1, 2010-03-13, 2
processing file: , 118, 419109.json, 2010-03-14, 2010-03-14, 3
processing file: , 119, 419110.json, 2010-03-14_1, 2010-03-14, 4
processing file: , 120, 419111.json, 2010-03-15, 2010-03-15, 5
processing file: , 121, 419112.json, 2010-03-16, 2010-03-16, 6
processing file: , 122, 419113.json, 2010-03-16_1, 2010-03-16, 7
processing file: , 123, 419114.json, 2010-03-17, 2010-03-17, 8
processing file: , 124, 419115.json, 2010-03-18, 2010-03-18, 9
processing file: , 125, 419116.json, 2010-03-19, 2010-03-19, 10
processing file: , 126, 419117.json, 2010-03-19_1, 2010-03-19, 11
processing file: , 127, 419118.json, 2010-03-20, 2010-03-20, 12
processing file: , 128, 419119.json, 2010-03-20_1, 2010-03-20, 13
processing file: , 129, 419120.json, 2010-03-21, 2010-03-21, 14
processing file: , 130, 419121.json, 2010-03-21_1, 2010-03-21, 15
skipping super_over:  2010-03-21 16
skipping super_over:  2010-03-21 16
processing file: , 131, 419122.json, 2010-03-22, 2010-03-22, 16
processing file: , 132, 419123.json, 2010-03-23, 2010-03-23, 17
processing file: , 133, 419124.json, 2010-03-24, 2010-03-24, 18
processing file: , 134, 419128.json, 2010-03-25, 2010-03-25, 19
processing file: , 135, 419125.json, 2010-03-25_1, 2010-03-25, 20
processing file: , 136, 419126.json, 2010-03-26, 2010-03-26, 21
processing file: , 137, 419127.json, 2010-03-27, 2010-03-27, 22
processing file: , 138, 419129.json, 2010-03-28, 2010-03-28, 23
processing file: , 139, 419130.json, 2010-03-28_1, 2010-03-28, 24
processing file: , 140, 419131.json, 2010-03-29, 2010-03-29, 25
processing file: , 141, 419132.json, 2010-03-30, 2010-03-30, 26
processing file: , 142, 419133.json, 2010-03-31, 2010-03-31, 27
processing file: , 143, 419134.json, 2010-03-31_1, 2010-03-31, 28
processing file: , 144, 419135.json, 2010-04-01, 2010-04-01, 29
processing file: , 145, 419136.json, 2010-04-02, 2010-04-02, 30
processing file: , 146, 419137.json, 2010-04-03, 2010-04-03, 31
processing file: , 147, 419138.json, 2010-04-03_1, 2010-04-03, 32
processing file: , 148, 419139.json, 2010-04-04, 2010-04-04, 33
processing file: , 149, 419140.json, 2010-04-04_1, 2010-04-04, 34
processing file: , 150, 419141.json, 2010-04-05, 2010-04-05, 35
processing file: , 151, 419142.json, 2010-04-06, 2010-04-06, 36
processing file: , 152, 419143.json, 2010-04-07, 2010-04-07, 37
processing file: , 153, 419144.json, 2010-04-07_1, 2010-04-07, 38
processing file: , 154, 419145.json, 2010-04-08, 2010-04-08, 39
processing file: , 155, 419146.json, 2010-04-09, 2010-04-09, 40
processing file: , 156, 419147.json, 2010-04-10, 2010-04-10, 41
processing file: , 157, 419148.json, 2010-04-10_1, 2010-04-10, 42
processing file: , 158, 419149.json, 2010-04-11, 2010-04-11, 43
processing file: , 159, 419150.json, 2010-04-11_1, 2010-04-11, 44
processing file: , 160, 419151.json, 2010-04-12, 2010-04-12, 45
processing file: , 161, 419152.json, 2010-04-13, 2010-04-13, 46
processing file: , 162, 419153.json, 2010-04-13_1, 2010-04-13, 47
processing file: , 163, 419154.json, 2010-04-14, 2010-04-14, 48
processing file: , 164, 419155.json, 2010-04-15, 2010-04-15, 49
processing file: , 165, 419156.json, 2010-04-16, 2010-04-16, 50
processing file: , 166, 419157.json, 2010-04-17, 2010-04-17, 51
processing file: , 167, 419158.json, 2010-04-17_1, 2010-04-17, 52
processing file: , 168, 419159.json, 2010-04-18, 2010-04-18, 53
processing file: , 169, 419160.json, 2010-04-18_1, 2010-04-18, 54
processing file: , 170, 419161.json, 2010-04-19, 2010-04-19, 55
processing file: , 171, 419162.json, 2010-04-21, 2010-04-21, 56
match number not presentin file_name: 419162.json populating with:  57
processing file: , 172, 419163.json, 2010-04-22, 2010-04-22, 57
match number not presentin file_name: 419163.json populating with:  58
processing file: , 173, 419164.json, 2010-04-24, 2010-04-24, 58
match number not presentin file_name: 419164.json populating with:  59
processing file: , 174, 419165.json, 2010-04-25, 2010-04-25, 59
match number not presentin file_name: 419165.json populating with:  60
2011 2010
processing file: , 175, 501198.json, 2011-04-08, 2011-04-08, 0
processing file: , 176, 501199.json, 2011-04-09, 2011-04-09, 1
processing file: , 177, 501200.json, 2011-04-09_1, 2011-04-09, 2
processing file: , 178, 501201.json, 2011-04-10, 2011-04-10, 3
processing file: , 179, 501202.json, 2011-04-10_1, 2011-04-10, 4
processing file: , 180, 501203.json, 2011-04-11, 2011-04-11, 5
processing file: , 181, 501204.json, 2011-04-12, 2011-04-12, 6
processing file: , 182, 501205.json, 2011-04-12_1, 2011-04-12, 7
processing file: , 183, 501206.json, 2011-04-13, 2011-04-13, 8
processing file: , 184, 501207.json, 2011-04-13_1, 2011-04-13, 9
processing file: , 185, 501208.json, 2011-04-14, 2011-04-14, 10
processing file: , 186, 501209.json, 2011-04-15, 2011-04-15, 11
processing file: , 187, 501210.json, 2011-04-15_1, 2011-04-15, 12
processing file: , 188, 501211.json, 2011-04-16, 2011-04-16, 13
processing file: , 189, 501212.json, 2011-04-16_1, 2011-04-16, 14
processing file: , 190, 501213.json, 2011-04-17, 2011-04-17, 15
processing file: , 191, 501214.json, 2011-04-17_1, 2011-04-17, 16
processing file: , 192, 501215.json, 2011-04-18, 2011-04-18, 17
processing file: , 193, 501216.json, 2011-04-19, 2011-04-19, 18
processing file: , 194, 501218.json, 2011-04-20, 2011-04-20, 19
processing file: , 195, 501219.json, 2011-04-20_1, 2011-04-20, 21
processing file: , 196, 501220.json, 2011-04-21, 2011-04-21, 22
processing file: , 197, 501222.json, 2011-04-22, 2011-04-22, 23
processing file: , 198, 501221.json, 2011-04-22_1, 2011-04-22, 24
processing file: , 199, 501223.json, 2011-04-23, 2011-04-23, 25
processing file: , 200, 501224.json, 2011-04-24, 2011-04-24, 26
processing file: , 201, 501225.json, 2011-04-24_1, 2011-04-24, 27
processing file: , 202, 501226.json, 2011-04-25, 2011-04-25, 28
processing file: , 203, 501227.json, 2011-04-26, 2011-04-26, 29
processing file: , 204, 501228.json, 2011-04-27, 2011-04-27, 30
processing file: , 205, 501229.json, 2011-04-27_1, 2011-04-27, 31
processing file: , 206, 501230.json, 2011-04-28, 2011-04-28, 32
processing file: , 207, 501231.json, 2011-04-29, 2011-04-29, 33
processing file: , 208, 501232.json, 2011-04-29_1, 2011-04-29, 34
processing file: , 209, 501233.json, 2011-04-30, 2011-04-30, 35
processing file: , 210, 501234.json, 2011-04-30_1, 2011-04-30, 36
processing file: , 211, 501235.json, 2011-05-01, 2011-05-01, 37
processing file: , 212, 501236.json, 2011-05-01_1, 2011-05-01, 38
processing file: , 213, 501237.json, 2011-05-02, 2011-05-02, 39
processing file: , 214, 501238.json, 2011-05-02_1, 2011-05-02, 40
processing file: , 215, 501239.json, 2011-05-03, 2011-05-03, 41
processing file: , 216, 501240.json, 2011-05-04, 2011-05-04, 42
processing file: , 217, 501241.json, 2011-05-04_1, 2011-05-04, 43
processing file: , 218, 501242.json, 2011-05-05, 2011-05-05, 44
processing file: , 219, 501243.json, 2011-05-05_1, 2011-05-05, 45
processing file: , 220, 501244.json, 2011-05-06, 2011-05-06, 46
processing file: , 221, 501245.json, 2011-05-07, 2011-05-07, 47
processing file: , 222, 501246.json, 2011-05-07_1, 2011-05-07, 48
processing file: , 223, 501247.json, 2011-05-08, 2011-05-08, 49
processing file: , 224, 501248.json, 2011-05-08_1, 2011-05-08, 50
processing file: , 225, 501249.json, 2011-05-09, 2011-05-09, 51
processing file: , 226, 501250.json, 2011-05-10, 2011-05-10, 52
processing file: , 227, 501251.json, 2011-05-10_1, 2011-05-10, 53
processing file: , 228, 501252.json, 2011-05-11, 2011-05-11, 54
processing file: , 229, 501253.json, 2011-05-12, 2011-05-12, 55
processing file: , 230, 501254.json, 2011-05-13, 2011-05-13, 56
processing file: , 231, 501255.json, 2011-05-14, 2011-05-14, 57
processing file: , 232, 501256.json, 2011-05-14_1, 2011-05-14, 58
processing file: , 233, 501257.json, 2011-05-15, 2011-05-15, 59
processing file: , 234, 501258.json, 2011-05-15_1, 2011-05-15, 60
processing file: , 235, 501259.json, 2011-05-16, 2011-05-16, 61
processing file: , 236, 501260.json, 2011-05-17, 2011-05-17, 62
processing file: , 237, 501261.json, 2011-05-18, 2011-05-18, 63
processing file: , 238, 501262.json, 2011-05-19, 2011-05-19, 64
processing file: , 239, 501263.json, 2011-05-20, 2011-05-20, 65
processing file: , 240, 501264.json, 2011-05-21, 2011-05-21, 66
processing file: , 241, 501265.json, 2011-05-21_1, 2011-05-21, 67
processing file: , 242, 501266.json, 2011-05-22, 2011-05-22, 68
processing file: , 243, 501267.json, 2011-05-22_1, 2011-05-22, 69
processing file: , 244, 501268.json, 2011-05-24, 2011-05-24, 70
match number not presentin file_name: 501268.json populating with:  71
processing file: , 245, 501269.json, 2011-05-25, 2011-05-25, 71
match number not presentin file_name: 501269.json populating with:  72
processing file: , 246, 501270.json, 2011-05-27, 2011-05-27, 72
match number not presentin file_name: 501270.json populating with:  73
processing file: , 247, 501271.json, 2011-05-28, 2011-05-28, 73
match number not presentin file_name: 501271.json populating with:  74
2012 2011
processing file: , 248, 548306.json, 2012-04-04, 2012-04-04, 0
processing file: , 249, 548307.json, 2012-04-05, 2012-04-05, 1
processing file: , 250, 548308.json, 2012-04-06, 2012-04-06, 2
processing file: , 251, 548309.json, 2012-04-06_1, 2012-04-06, 3
processing file: , 252, 548310.json, 2012-04-07, 2012-04-07, 4
processing file: , 253, 548311.json, 2012-04-07_1, 2012-04-07, 5
processing file: , 254, 548312.json, 2012-04-08, 2012-04-08, 6
processing file: , 255, 548313.json, 2012-04-08_1, 2012-04-08, 7
processing file: , 256, 548314.json, 2012-04-09, 2012-04-09, 8
processing file: , 257, 548315.json, 2012-04-10, 2012-04-10, 9
processing file: , 258, 548316.json, 2012-04-10_1, 2012-04-10, 10
processing file: , 259, 548317.json, 2012-04-11, 2012-04-11, 11
processing file: , 260, 548318.json, 2012-04-12, 2012-04-12, 12
processing file: , 261, 548319.json, 2012-04-12_1, 2012-04-12, 13
processing file: , 262, 548320.json, 2012-04-13, 2012-04-13, 14
processing file: , 263, 548322.json, 2012-04-14, 2012-04-14, 15
processing file: , 264, 548323.json, 2012-04-15, 2012-04-15, 16
processing file: , 265, 548324.json, 2012-04-15_1, 2012-04-15, 17
processing file: , 266, 548325.json, 2012-04-16, 2012-04-16, 18
processing file: , 267, 548326.json, 2012-04-17, 2012-04-17, 19
processing file: , 268, 548327.json, 2012-04-17_1, 2012-04-17, 20
processing file: , 269, 548328.json, 2012-04-18, 2012-04-18, 21
processing file: , 270, 548330.json, 2012-04-19, 2012-04-19, 22
processing file: , 271, 548321.json, 2012-04-19_1, 2012-04-19, 24
processing file: , 272, 548331.json, 2012-04-20, 2012-04-20, 23
processing file: , 273, 548332.json, 2012-04-21, 2012-04-21, 25
processing file: , 274, 548333.json, 2012-04-21_1, 2012-04-21, 26
processing file: , 275, 548334.json, 2012-04-22, 2012-04-22, 27
processing file: , 276, 548335.json, 2012-04-22_1, 2012-04-22, 28
processing file: , 277, 548336.json, 2012-04-23, 2012-04-23, 29
processing file: , 278, 548337.json, 2012-04-24, 2012-04-24, 30
processing file: , 279, 548339.json, 2012-04-25, 2012-04-25, 31
processing file: , 280, 548341.json, 2012-04-26, 2012-04-26, 33
processing file: , 281, 548342.json, 2012-04-27, 2012-04-27, 35
processing file: , 282, 548343.json, 2012-04-28, 2012-04-28, 36
processing file: , 283, 548344.json, 2012-04-28_1, 2012-04-28, 37
processing file: , 284, 548345.json, 2012-04-29, 2012-04-29, 38
processing file: , 285, 548346.json, 2012-04-29_1, 2012-04-29, 39
processing file: , 286, 548347.json, 2012-04-30, 2012-04-30, 40
processing file: , 287, 548348.json, 2012-05-01, 2012-05-01, 41
processing file: , 288, 548349.json, 2012-05-01_1, 2012-05-01, 42
processing file: , 289, 548350.json, 2012-05-02, 2012-05-02, 43
processing file: , 290, 548351.json, 2012-05-03, 2012-05-03, 44
processing file: , 291, 548352.json, 2012-05-04, 2012-05-04, 45
processing file: , 292, 548353.json, 2012-05-05, 2012-05-05, 46
processing file: , 293, 548354.json, 2012-05-05_1, 2012-05-05, 47
processing file: , 294, 548355.json, 2012-05-06, 2012-05-06, 48
processing file: , 295, 548356.json, 2012-05-06_1, 2012-05-06, 49
processing file: , 296, 548357.json, 2012-05-07, 2012-05-07, 50
processing file: , 297, 548358.json, 2012-05-08, 2012-05-08, 51
processing file: , 298, 548359.json, 2012-05-08_1, 2012-05-08, 52
processing file: , 299, 548360.json, 2012-05-09, 2012-05-09, 53
processing file: , 300, 548329.json, 2012-05-10, 2012-05-10, 54
processing file: , 301, 548361.json, 2012-05-10_1, 2012-05-10, 55
processing file: , 302, 548362.json, 2012-05-11, 2012-05-11, 56
processing file: , 303, 548363.json, 2012-05-12, 2012-05-12, 57
processing file: , 304, 548364.json, 2012-05-12_1, 2012-05-12, 58
processing file: , 305, 548365.json, 2012-05-13, 2012-05-13, 59
processing file: , 306, 548366.json, 2012-05-13_1, 2012-05-13, 60
processing file: , 307, 548367.json, 2012-05-14, 2012-05-14, 61
processing file: , 308, 548368.json, 2012-05-14_1, 2012-05-14, 62
processing file: , 309, 548369.json, 2012-05-15, 2012-05-15, 63
processing file: , 310, 548370.json, 2012-05-16, 2012-05-16, 64
processing file: , 311, 548371.json, 2012-05-17, 2012-05-17, 65
processing file: , 312, 548372.json, 2012-05-17_1, 2012-05-17, 66
processing file: , 313, 548373.json, 2012-05-18, 2012-05-18, 67
processing file: , 314, 548374.json, 2012-05-19, 2012-05-19, 68
processing file: , 315, 548375.json, 2012-05-19_1, 2012-05-19, 69

In [7]:
df_merged.columns

Index(['index', 'batter', 'bowler', 'non_striker', 'extras.legbyes',
       'runs.batter', 'runs.extras', 'runs.total', 'extras.wides', 'wickets',
       'extras.byes', 'over', 'date', 'match_number', 'innings', 'stage',
       'extras.noballs', 'extras.penalty', 'replacements.role',
       'runs.non_boundary', 'review.by', 'review.umpire', 'review.batter',
       'review.decision', 'review.umpires_call', 'review.type',
       'replacements.match', 'wicket.kind', 'wicket.player_out',
       'wicket.fielders'],
      dtype='object')

In [8]:
ordered_cols = [
    "date",
    "match_number",
    "innings",
    "over",
    "batter",
    "bowler",
    "stage",
    "non_striker",
    "runs.batter",
    "runs.extras",
    "runs.total",
    "extras.legbyes",
    "extras.wides",
    "extras.byes",
    "extras.noballs",
    "wicket.kind",
    "wicket.player_out",
    "wicket.fielders",
    "wickets",
]

In [9]:
df_merged

,index,batter,bowler,non_striker,extras.legbyes,runs.batter,runs.extras,runs.total,extras.wides,wickets,...,review.by,review.umpire,review.batter,review.decision,review.umpires_call,review.type,replacements.match,wicket.kind,wicket.player_out,wicket.fielders
0,0,SC Ganguly,P Kumar,BB McCullum,1.0,0,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,1,BB McCullum,P Kumar,SC Ganguly,NaN,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
2,2,BB McCullum,P Kumar,SC Ganguly,NaN,0,1,1,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
3,3,BB McCullum,P Kumar,SC Ganguly,NaN,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
4,4,BB McCullum,P Kumar,SC Ganguly,NaN,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260754,62,SS Iyer,AK Markram,VR Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
260755,63,VR Iyer,AK Markram,SS Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
260756,64,VR Iyer,Shahbaz Ahmed,SS Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
260757,65,SS Iyer,Shahbaz Ahmed,VR Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
260758,66,VR Iyer,Shahbaz Ahmed,SS Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None

In [10]:
# df_merged = pd.read_csv("./output/ipl_ball_by_ball_output.csv")

In [11]:
df_merged = df_merged.reindex(columns=ordered_cols)
df_merged.sort_values(by=["date", "match_number"], inplace=True)

In [12]:
df_merged['season'] = df_merged['date'].str.slice(0,4)

In [13]:
# df_wickets.to_csv("output/wickets.csv", index=False)

In [14]:
# df_merged.to_csv("output/ipl_ball_by_ball_output.csv", index=False)

In [15]:
df_merged.head()

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,NaN,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,NaN,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008

## Validate the resultant dataframe

In [16]:
print("min date: ", df_merged["date"].min())
print("max date: ", df_merged["date"].max())

min date:  2008-04-18
max date:  2024-05-26

### Since we have data for IPL matches between 2008 to 2024, the above date range looks right

In [17]:
df_merged["match_number"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 47, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76])

### The above values for match_number looks right

In [18]:
df_merged["innings"].unique()

array([1, 2])

In [19]:
df_merged["over"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19], dtype=object)

In [20]:
sorted(df_merged["runs.batter"].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6)]

In [21]:
sorted(df_merged["runs.extras"].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(7)]

In [22]:
sorted(df_merged["runs.total"].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7)]

In [23]:
sorted(df_merged["extras.legbyes"].unique())

[np.float64(1.0),
 np.float64(nan),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0),
 np.float64(5.0)]

In [24]:
sorted(df_merged["extras.wides"].unique())

[np.float64(nan),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0),
 np.float64(5.0)]

In [25]:
sorted(df_merged["extras.byes"].unique())

[np.float64(nan),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0)]

In [26]:
sorted(df_merged["extras.noballs"].unique())

[np.float64(nan),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(5.0)]

In [27]:
df_merged["wicket.kind"].unique()

array([None, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field', 'retired out'], dtype=object)

In [28]:
df_merged["wicket.player_out"].unique()[:10]

array([None, 'SC Ganguly', 'RT Ponting', 'DJ Hussey', 'R Dravid',
       'V Kohli', 'JH Kallis', 'W Jaffer', 'MV Boucher', 'B Akhil'],
      dtype=object)

In [29]:
df_merged[~pd.isnull(df_merged["wicket.fielders"])]["wicket.fielders"].count()

np.int64(9342)

In [30]:
df_merged[~ pd.isnull(df_merged["wickets"])]['wickets'].count()

np.int64(12923)

In [31]:
df_merged

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,NaN,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,NaN,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260754,2024-05-26,73,2,9,SS Iyer,AK Markram,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260755,2024-05-26,73,2,9,VR Iyer,AK Markram,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260756,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260757,2024-05-26,73,2,10,SS Iyer,Shahbaz Ahmed,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260758,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024

In [32]:
df_merged

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,NaN,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,NaN,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260754,2024-05-26,73,2,9,SS Iyer,AK Markram,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260755,2024-05-26,73,2,9,VR Iyer,AK Markram,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260756,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260757,2024-05-26,73,2,10,SS Iyer,Shahbaz Ahmed,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260758,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024

In [33]:
df_merged.drop(columns='wickets',inplace=True)

In [34]:
df_merged.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})

/tmp/ipykernel_11956/19595509.py:1: FutureWarning: The provided callable <function sum at 0x7122383815a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_merged.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})
/tmp/ipykernel_11956/19595509.py:1: FutureWarning: The provided callable <function sum at 0x7122383815a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_merged.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})

                                                    runs.batter  runs.extras  \
date       match_number innings batter
2008-04-18 1            1       BB McCullum                 158           11
                                DJ Hussey                    12            0
                                Mohammad Hafeez               5            0
                                RT Ponting                   20            4
                                SC Ganguly                   10            2
...                                                         ...          ...
2024-05-26 73           1       TM Head                       0            0
                        2       Rahmanullah Gurbaz           39            7
                                SP Narine                     6            0
                                SS Iyer                       6            0
                                VR Iyer                      52            4

                                                    bowler
date       match_number innings batter
2008-04-18 1            1       BB McCullum             77
                                DJ Hussey               12
                                Mohammad Hafeez          3
                                RT Ponting              20
                                SC Ganguly              12
...                                                    ...
2024-05-26 73           1       TM Head                  1
                        2       Rahmanullah Gurbaz      35
                                SP Narine                2
                                SS Iyer                  3
                                VR Iyer                 27

[16515 rows x 3 columns]

In [35]:
df_merged.groupby(['date','match_number','innings','bowler','runs.batter']).agg({'runs.total':'sum','wicket.kind':'count','batter':'count'})

                                                           runs.total  \
date       match_number innings bowler        runs.batter
2008-04-18 1            1       AA Noffke     0                     6
                                              1                    11
                                              2                     4
                                              4                     8
                                              6                    12
...                                                               ...
2024-05-26 73           2       Shahbaz Ahmed 6                    12
                                T Natarajan   0                     2
                                              1                     5
                                              4                    16
                                              6                     6

                                                           wicket.kind  batter
date       match_number innings bowler        runs.batter
2008-04-18 1            1       AA Noffke     0                      1       8
                                              1                      0      11
                                              2                      0       2
                                              4                      0       2
                                              6                      0       2
...                                                                ...     ...
2024-05-26 73           2       Shahbaz Ahmed 6                      0       2
                                T Natarajan   0                      0       4
                                              1                      0       5
                                              4                      0       4
                                              6                      0       1

[54044 rows x 3 columns]

In [36]:
ball_by_ball = df_merged

### THE SUMMARY DATA

In [91]:
fields_to_skip = ["meta", "players", "registry", "innings"]

In [92]:
def flatten_json(y):
    out = {}

    def flatten(x, name=""):
        if type(x) is dict:
            for a in x:
                if a in fields_to_skip:
                    # print("skipping field: ", a)
                    pass
                else:
                    flatten(x[a], name + a + "_")
        elif type(x) is list:
            i = 1
            for a in x:
                flatten(a, name + str(i) + "_")
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [93]:
files = os.listdir(path="data")
print(files)

['1254103.json', '1136605.json', '1216501.json', '1082595.json', '829731.json', '1359507.json', '548315.json', '1304079.json', '1422119.json', '1178418.json', '1359487.json', '1359515.json', '336025.json', '729309.json', '1178407.json', '501239.json', '1178423.json', '1426305.json', '419107.json', '336036.json', '1426311.json', '1082637.json', '392232.json', '1216522.json', '1426307.json', '829713.json', '1136576.json', '1359498.json', '1082629.json', '1178413.json', '1216506.json', '1426282.json', '1082613.json', '1304105.json', '1082642.json', '1359514.json', '1216530.json', '980967.json', '1254067.json', '392225.json', '336032.json', '1304057.json', '548359.json', '1304061.json', '548314.json', '1136561.json', '335995.json', '1136620.json', '1359538.json', '598005.json', '1426266.json', '1359533.json', '1216494.json', '829807.json', '829767.json', '1304094.json', '1426281.json', '.ipynb_checkpoints', '1136595.json', '980929.json', '1359496.json', '419114.json', '1304095.json', '1178406.json', '980911.json', '548341.json', '1136584.json', '419146.json', '1359509.json', '501211.json', '1136601.json', '829743.json', '419160.json', '980903.json', '980959.json', '1216499.json', '729291.json', '1082647.json', '729279.json', '1178430.json', '1178420.json', '598047.json', '1237181.json', '1304089.json', '1178426.json', '1359502.json', '829803.json', '1359536.json', '548339.json', '1254091.json', '336035.json', '598006.json', '1304055.json', '336031.json', '598001.json', '1178394.json', '501260.json', '1136602.json', '1216524.json', '419162.json', '501203.json', '829773.json', '335994.json', '1304068.json', '980981.json', '598009.json', '1312200.json', '548362.json', '1254087.json', '1304062.json', '1237177.json', '1359484.json', '1178412.json', '1082622.json', '419128.json', '392215.json', '1254060.json', '598026.json', '981011.json', '980919.json', '598056.json', '419119.json', '501244.json', '335997.json', '733985.json', '1254109.json', '548331.json', '1136579.json', '392206.json', '980949.json', '419153.json', '1216492.json', '548358.json', '501257.json', '419127.json', '501237.json', '598061.json', '548321.json', '501228.json', '1359483.json', '419143.json', '980915.json', '548327.json', '419136.json', '548364.json', '501243.json', '1082640.json', '419121.json', '1254117.json', '1426274.json', '829789.json', '419116.json', '1082610.json', '548351.json', '729317.json', '548369.json', '335992.json', '501200.json', '598022.json', '419150.json', '336018.json', '1136611.json', '1359494.json', '548354.json', '419165.json', '734041.json', '501224.json', '734043.json', '1254089.json', '419106.json', '336011.json', '1426267.json', '501214.json', '1216529.json', '729305.json', '598039.json', '548325.json', '336029.json', '1359527.json', '392199.json', '829817.json', '829783.json', '1304072.json', '392208.json', '598059.json', '1082636.json', '1254108.json', '548324.json', '1216520.json', '1254081.json', '1426268.json', '598063.json', '501223.json', '980941.json', '1136588.json', '1359512.json', '1178411.json', '501248.json', '1082606.json', '1216540.json', '734039.json', '1359520.json', '548317.json', '1359491.json', '1178398.json', '1181767.json', '1082614.json', '1082607.json', '336039.json', '980953.json', '392210.json', '1304076.json', '1216535.json', '336037.json', '1304104.json', '501234.json', '336010.json', '1136592.json', '598069.json', '1216545.json', '829769.json', '1426312.json', '548381.json', '1082639.json', '729287.json', '501265.json', '336020.json', '1082592.json', '1136590.json', '598073.json', '729285.json', '1175371.json', '1175359.json', '980991.json', '598014.json', '1216544.json', '829795.json', '392185.json', '1216536.json', '1178419.json', '392190.json', '1254107.json', '1254065.json', '1216521.json', '829719.json', '829815.json', '1254085.json', '829733.json', '336003.json', '1136583.json', '1422137.json', '1422123.json', '1304059.json', '548355.json', '598017.json', '419152.json', '598038.json', '501208.json', '980947.json', '419111.json', '1216502.json', '392216.json', '1422135.json', '1136613.json', '548346.json', '598066.json', '1136574.json', '1359530.json', '1178425.json', '1422121.json', '829797.json', '1178401.json', '1254115.json', '829811.json', '1426294.json', '598064.json', '729311.json', '598029.json', '1216538.json', '548334.json', '419129.json', '1082645.json', '829751.json', '548330.json', '392209.json', '1304085.json', '392227.json', '729301.json', '548328.json', '1178410.json', '1304109.json', '980933.json', '1304098.json', '1304099.json', '733975.json', '1254084.json', '1216537.json', '501213.json', '598018.json', '1216527.json', '1082621.json', '419154.json', '501254.json', '392235.json', '419131.json', '1082612.json', '1426289.json', '598008.json', '548349.json', '335983.json', '548319.json', '548335.json', '336015.json', '1359479.json', '548329.json', '501259.json', '548326.json', '501240.json', '1304106.json', '336019.json', '598020.json', '1426283.json', '1254093.json', '1216518.json', '1082620.json', '1178399.json', '1254063.json', '1370351.json', '501204.json', '1304056.json', '598065.json', '1082626.json', '1216514.json', '336021.json', '419147.json', '335982.json', '419118.json', '829717.json', '1082604.json', '1426264.json', '1178421.json', '598044.json', '1136581.json', '598003.json', '1359477.json', '392239.json', '1136578.json', '1178428.json', '501230.json', '1304052.json', '392229.json', '419137.json', '392220.json', '1254100.json', '548378.json', '1175369.json', '1370352.json', '1254104.json', '733983.json', '1304091.json', '1082650.json', '1181768.json', '419144.json', '729281.json', 'Hi.ipynb', '548318.json', '392233.json', '734037.json', '829793.json', '548374.json', '598011.json', '1178405.json', '1136594.json', '1178395.json', '1254090.json', '1216525.json', '501231.json', '1136614.json', '1082603.json', '1304071.json', '734019.json', '598040.json', '597998.json', '734017.json', '392196.json', '1359519.json', '1254094.json', '501241.json', '548350.json', '598053.json', '548336.json', '729297.json', '336008.json', '980955.json', '1359541.json', '1304088.json', '1082608.json', '981017.json', '1422133.json', '1082594.json', '733987.json', '1304096.json', '1254061.json', '1254114.json', '392198.json', '335991.json', '392236.json', '598041.json', '980907.json', '1304108.json', '1426288.json', '548313.json', '829725.json', '501247.json', '980987.json', '501219.json', '1359504.json', '501221.json', '501268.json', '1426284.json', '1216533.json', '1136564.json', '1359501.json', '1136580.json', '1082638.json', '598036.json', '548309.json', '1359488.json', '1359516.json', '1359529.json', '419142.json', '1254077.json', '335987.json', '1175368.json', '1359481.json', '729283.json', '1136604.json', '1175358.json', '392200.json', '501215.json', '419125.json', '1426276.json', '1426265.json', '598025.json', '1359506.json', '419156.json', '1426280.json', '1254088.json', '548332.json', '419135.json', '1082617.json', '1359489.json', '1304064.json', '1426291.json', '1216515.json', '598007.json', '419113.json', '336006.json', '1304067.json', '1082615.json', '1178397.json', '1426278.json', '598058.json', '335985.json', '501263.json', '1136573.json', '336007.json', '419126.json', '1136607.json', '829723.json', '501198.json', '829781.json', '1178403.json', '392183.json', '829763.json', '1175370.json', '1254069.json', '1216496.json', '1304101.json', '1136577.json', '1136612.json', '1254086.json', '1426272.json', '733979.json', '598010.json', '1304069.json', '1254075.json', '734031.json', '335986.json', '419161.json', '1216531.json', '1216539.json', '336034.json', '1426271.json', '1426292.json', '734003.json', '419157.json', '734013.json', '1082602.json', '598062.json', '1359490.json', '1304065.json', '336033.json', '1216543.json', '980913.json', '501246.json', '1304115.json', '1254058.json', '598028.json', '1304116.json', '1216542.json', '1304080.json', '980977.json', '1216513.json', '1136597.json', '501252.json', '598068.json', '336023.json', '1136600.json', '392224.json', '1426261.json', '1254092.json', '1422136.json', '1426277.json', '1254097.json', '829765.json', '1359513.json', '1422128.json', '1359482.json', '734005.json', '980927.json', '829823.json', '1304114.json', '501238.json', '981015.json', '419164.json', '419139.json', '1254101.json', '501267.json', '1359510.json', '829721.json', '598034.json', '1216509.json', '598016.json', '392186.json', '336022.json', '980939.json', '1254112.json', '392238.json', '548308.json', '1136566.json', '598024.json', '1082593.json', '980969.json', '1422130.json', '1175364.json', '1304075.json', '1304111.json', '501261.json', '548307.json', '734021.json', '829737.json', '1254079.json', '829779.json', '501236.json', '1426309.json', '336028.json', '1254073.json', '419123.json', '419110.json', '1304113.json', '1254095.json', '1175372.json', '1304097.json', '1426270.json', '1359523.json', '392204.json', '392214.json', '1136610.json', '598052.json', '829747.json', '1216516.json', '598033.json', '1359537.json', '1082646.json', '501229.json', '734045.json', '598060.json', '1136569.json', '980973.json', '1136596.json', '392184.json', '829801.json', '1359540.json', '1136571.json', '1082623.json', '1082618.json', '1359497.json', '1178393.json', '1178402.json', '1178409.json', '980971.json', '1082591.json', '1422126.json', '1304048.json', '1178417.json', '1181764.json', '729293.json', '501210.json', '548370.json', '1426260.json', '1082644.json', '336040.json', '392202.json', '1254068.json', '1304090.json', '336000.json', '1426296.json', '829799.json', '1216528.json', '980935.json', '1175365.json', '501271.json', '1082616.json', '392207.json', '419120.json', '548322.json', '548310.json', '501207.json', '548379.json', '1254059.json', '336014.json', '1175366.json', '336004.json', '501206.json', '981009.json', '501218.json', '980943.json', '1426287.json', '1359518.json', '734035.json', '336017.json', '336002.json', '598070.json', '392197.json', '733991.json', '1237180.json', '1304112.json', '419133.json', '1304051.json', '419134.json', '1304047.json', '829729.json', '829715.json', '734015.json', '734027.json', '1082635.json', '548371.json', '336005.json', '1254096.json', '1178416.json', '548312.json', '548342.json', '392228.json', '548360.json', '1082627.json', '1359478.json', '1082596.json', '1175363.json', '1254062.json', '980983.json', '1359476.json', '733993.json', '1254105.json', '729315.json', '392231.json', '1422125.json', '1136575.json', '1216503.json', '1359544.json', '1304093.json', '829805.json', '1422129.json', '1304077.json', '548353.json', '1422131.json', '1136567.json', '1359525.json', '1082643.json', '980917.json', '1136572.json', '1359505.json', '1359517.json', '1216546.json', '598030.json', '548316.json', '598072.json', '734023.json', '548343.json', '419117.json', '419141.json', '501270.json', '829705.json', '981007.json', '1359522.json', '419108.json', '392191.json', '501202.json', '501216.json', '419163.json', '1304074.json', '1254106.json', '1175367.json', '980999.json', '548337.json', '1082649.json', '419138.json', '1216508.json', '392226.json', '1304060.json', '733995.json', '1136582.json', '1136609.json', '1178404.json', '548368.json', '1082599.json', '1359475.json', '1216517.json', '1237178.json', '980925.json', '1422139.json', '1254116.json', '1178396.json', '829707.json', '1304049.json', '1136570.json', '548367.json', '1136586.json', '733971.json', '1359486.json', '1082597.json', '597999.json', '392211.json', '733997.json', '1136589.json', '1304092.json', '1082630.json', '733977.json', '1136593.json', '1082609.json', '1359531.json', '1216493.json', '335993.json', '1304086.json', '1422124.json', '1136599.json', '392217.json', '1136585.json', '548306.json', '829735.json', '501199.json', '1426310.json', '1216498.json', '1136562.json', '1254070.json', '980993.json', '1304082.json', '1254072.json', '1178429.json', '729313.json', '501264.json', '1312198.json', '598057.json', '981019.json', '598054.json', '1426263.json', '980989.json', '1082611.json', '1178408.json', '501269.json', '1426293.json', '829759.json', '1136565.json', '980975.json', '501232.json', '392195.json', '1254098.json', '501205.json', '829813.json', '598013.json', '1216534.json', '1136568.json', '392212.json', '1312197.json', '419159.json', '729307.json', '1359539.json', '1359503.json', '548344.json', '598048.json', '419145.json', '1082632.json', '1426295.json', '1216512.json', '1216547.json', '1216505.json', '392194.json', '1178414.json', '1181766.json', '734025.json', '598055.json', '598031.json', '980921.json', '1082641.json', '1359500.json', '1175360.json', '1216523.json', '829821.json', '1426297.json', '598015.json', '336027.json', '1422134.json', '1082598.json', '1136615.json', '501212.json', '392219.json', '1359508.json', '1082601.json', '1254099.json', '1178422.json', '1426306.json', '1254078.json', '1254110.json', '1254076.json', '392230.json', '1359532.json', '980965.json', '419158.json', '1359499.json', '729303.json', '1175357.json', '548352.json', '1136598.json', '734001.json', '501256.json', '1426279.json', '501253.json', '1426302.json', '419109.json', '1304063.json', '1304102.json', '1359526.json', '729295.json', '1082625.json', '419155.json', '336038.json', '419115.json', '1136587.json', '598023.json', '981003.json', '392221.json', '501258.json', '548320.json', '392218.json', '829791.json', '1254071.json', '1178431.json', '1304078.json', '829711.json', '501250.json', '501227.json', '392192.json', '1175361.json', '829741.json', '598049.json', '1175362.json', '1304107.json', '501251.json', '1359535.json', '598021.json', '1082600.json', '1426290.json', '1304083.json', '1359521.json', '1178415.json', '1426285.json', '1304073.json', '1136617.json', '336026.json', '1082648.json', '501235.json', '1422122.json', '335988.json', '981005.json', '392223.json', '501266.json', '980931.json', '1254066.json', '1359511.json', '598043.json', '1216511.json', '1304087.json', '335990.json', '501233.json', '1370350.json', '548365.json', '980905.json', '1136606.json', '548348.json', '1422138.json', '392213.json', '1136619.json', '548377.json', '598032.json', '1216510.json', '1426262.json', '1426298.json', '598002.json', '1422127.json', '1304050.json', '1359542.json', '1304058.json', '392203.json', '548366.json', '598071.json', '1254102.json', '729299.json', '734049.json', '501242.json', '729289.json', '1136591.json', '548380.json', '501245.json', '1082631.json', '829761.json', '1359543.json', '1082605.json', '980985.json', '1359485.json', '1216500.json', '392181.json', '336012.json', '1426275.json', '1254113.json', '733981.json', '1216532.json', '829727.json', '1136608.json', '1216504.json', '501209.json', '598035.json', '1254082.json', '1254083.json', '1254111.json', '548376.json', '548323.json', '598067.json', '980963.json', '829709.json', '980937.json', '335999.json', '733999.json', '1082624.json', '419124.json', '1304103.json', '981001.json', '501255.json', '419148.json', '598050.json', '392222.json', '829739.json', '1304084.json', '336013.json', '1254080.json', '392201.json', '548311.json', '1359493.json', '1426286.json', '548347.json', '1178427.json', '598012.json', '1304100.json', '501249.json', '980957.json', '392234.json', '392189.json', '598019.json', '335998.json', '1359528.json', '1216526.json', '336024.json', '419112.json', '734033.json', '980901.json', '419140.json', '829787.json', '501220.json', '1178400.json', '733989.json', '419130.json', '980923.json', '1312199.json', '1359480.json', '548357.json', '392182.json', '501201.json', '1426299.json', '980945.json', '734009.json', '501222.json', '392205.json', '1136616.json', '548345.json', '1254064.json', '1254074.json', '734011.json', '335989.json', '392237.json', '419122.json', '1426300.json', '501226.json', '598046.json', '980951.json', '829785.json', '829775.json', '1426269.json', '1175356.json', '336016.json', '1304054.json', '548363.json', '829777.json', '1359534.json', '1422132.json', '829753.json', '980961.json', '598004.json', '419132.json', '419151.json', '1216519.json', '548356.json', '1304066.json', '501262.json', '1082628.json', '829809.json', '1426273.json', '548372.json', '734007.json', '1082633.json', '598027.json', '1178424.json', '829757.json', '501225.json', '734047.json', '548361.json', '1136618.json', '598042.json', '829745.json', '829749.json', '335996.json', '733973.json', '734029.json', '829771.json', '1359492.json', '392188.json', '1136563.json', '980909.json', '419149.json', 'test.txt', '598045.json', '980979.json', '548373.json', '1216495.json', '980997.json', '980995.json', '548375.json', '1136603.json', '1304110.json', '548333.json', '981013.json', '598000.json', '598051.json', '598037.json', '336001.json', '1426303.json', '1304070.json', '1304053.json', '1216541.json', '1216507.json', '1359495.json', '829819.json', '1216497.json', '1082634.json', '1359524.json', '336009.json', '335984.json', '1422120.json', '1304081.json', '1370353.json']

In [94]:
rows = list()
files = os.listdir(path="data")

filter(lambda x: str(x).endswith(".json"), files)

for file in files:
    try:
        file_name = "data/" + file
        with open(file_name, "r") as file:
            json_data = json.load(file)
            flattened_data = flatten_json(json_data)
            rows.append(flattened_data)
    except:
        print(file_name)

data/.ipynb_checkpoints
data/test.txt

In [95]:
# Create a DataFrame with a single row
ipl_summary = pd.DataFrame(rows)

In [96]:
ipl_summary

,info_balls_per_over,info_city,info_dates_1,info_event_name,info_event_match_number,info_gender,info_match_type,info_officials_match_referees_1,info_officials_reserve_umpires_1,info_officials_tv_umpires_1,...,cells_3_id,metadata_kernelspec_display_name,metadata_kernelspec_language,metadata_kernelspec_name,metadata_language_info_codemirror_mode_name,metadata_language_info_file_extension,metadata_language_info_mimetype,metadata_language_info_name,nbformat,nbformat_minor
0,6.0,Dubai,2021-09-29,Indian Premier League,43.0,male,T20,M Nayyar,K Srinivasan,RK Illingworth,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.0,Delhi,2018-05-12,Indian Premier League,45.0,male,T20,Prakash Bhatt,K Srinath,AK Chaudhary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.0,Abu Dhabi,2020-10-07,Indian Premier League,21.0,male,T20,V Narayan Kutty,K Srinivasan,C Shamshuddin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.0,Bengaluru,2017-04-08,Indian Premier League,5.0,male,T20,J Srinath,Navdeep Singh,A Nand Kishore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,Visakhapatnam,2015-04-18,Indian Premier League,13.0,male,T20,M Nayyar,VK Sharma,C Shamshuddin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,6.0,Delhi,2008-05-08,Indian Premier League,28.0,male,T20,CH Lloyd,NaN,K Hariharan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1092,6.0,Delhi,2008-04-19,Indian Premier League,3.0,male,T20,GR Viswanath,NaN,IL Howell,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1093,6.0,Mohali,2024-03-23,Indian Premier League,2.0,male,T20,V Narayan Kutty,PM Joshi,AG Wharf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,6.0,Navi Mumbai,2022-04-23,Indian Premier League,35.0,male,T20,V Narayan Kutty,Vinod Seshan,BNJ Oxenford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1095,6.0,Ahmedabad,2023-05-29,Indian Premier League,NaN,male,T20,J Srinath,J Madanagopal,KN Ananthapadmanabhan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
ipl_summary.to_csv("output/ipl_summary_raw.csv", index=False)

In [44]:
ipl_summary.head()

,info_balls_per_over,info_city,info_dates_1,info_event_name,info_event_match_number,info_gender,info_match_type,info_officials_match_referees_1,info_officials_reserve_umpires_1,info_officials_tv_umpires_1,...,cells_3_id,metadata_kernelspec_display_name,metadata_kernelspec_language,metadata_kernelspec_name,metadata_language_info_codemirror_mode_name,metadata_language_info_file_extension,metadata_language_info_mimetype,metadata_language_info_name,nbformat,nbformat_minor
0,6.0,Dubai,2021-09-29,Indian Premier League,43.0,male,T20,M Nayyar,K Srinivasan,RK Illingworth,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.0,Delhi,2018-05-12,Indian Premier League,45.0,male,T20,Prakash Bhatt,K Srinath,AK Chaudhary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.0,Abu Dhabi,2020-10-07,Indian Premier League,21.0,male,T20,V Narayan Kutty,K Srinivasan,C Shamshuddin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.0,Bengaluru,2017-04-08,Indian Premier League,5.0,male,T20,J Srinath,Navdeep Singh,A Nand Kishore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,Visakhapatnam,2015-04-18,Indian Premier League,13.0,male,T20,M Nayyar,VK Sharma,C Shamshuddin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
def remove_prefix(x: str, to_replace: str, replace_by: str):
    return x.replace(to_replace, replace_by)

In [46]:
ipl_summary.rename(
    lambda x: remove_prefix(str(x), to_replace="info_", replace_by=""),
    inplace=True,
    axis=1,
)

In [47]:
ipl_summary.rename(
    lambda x: remove_prefix(str(x), to_replace=" ", replace_by="_"),
    inplace=True,
    axis=1,
)

In [48]:
ipl_summary.rename(lambda x: str(x).lower(), inplace=True, axis=1)

In [49]:
ipl_summary.head()

,balls_per_over,city,dates_1,event_name,event_match_number,gender,match_type,officials_match_referees_1,officials_reserve_umpires_1,officials_tv_umpires_1,...,cells_3_id,metadata_kernelspec_display_name,metadata_kernelspec_language,metadata_kernelspec_name,metadata_language_codemirror_mode_name,metadata_language_file_extension,metadata_language_mimetype,metadata_language_name,nbformat,nbformat_minor
0,6.0,Dubai,2021-09-29,Indian Premier League,43.0,male,T20,M Nayyar,K Srinivasan,RK Illingworth,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.0,Delhi,2018-05-12,Indian Premier League,45.0,male,T20,Prakash Bhatt,K Srinath,AK Chaudhary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.0,Abu Dhabi,2020-10-07,Indian Premier League,21.0,male,T20,V Narayan Kutty,K Srinivasan,C Shamshuddin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.0,Bengaluru,2017-04-08,Indian Premier League,5.0,male,T20,J Srinath,Navdeep Singh,A Nand Kishore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,Visakhapatnam,2015-04-18,Indian Premier League,13.0,male,T20,M Nayyar,VK Sharma,C Shamshuddin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
def populate_team_1(row):
    toss_winner = row["toss_winner"]
    if row["toss_decision"] == "bat":
        team_1 = row["toss_winner"]
    else:
        teams_1 = row["teams_1"]
        teams_2 = row["teams_2"]
        team_1 = teams_2 if toss_winner == teams_1 else teams_1

    return team_1

In [51]:
ipl_summary["team_1"] = ipl_summary.apply(populate_team_1, axis=1)

In [52]:
def populate_team_2(row):
    toss_winner = row["toss_winner"]
    if row["toss_decision"] == "field":
        team_2 = row["toss_winner"]
    else:
        teams_1 = row["teams_1"]
        teams_2 = row["teams_2"]
        team_2 = teams_2 if toss_winner == teams_1 else teams_1

    return team_2

In [53]:
ipl_summary["team_2"] = ipl_summary.apply(populate_team_2, axis=1)

In [54]:
ipl_summary.columns

Index(['balls_per_over', 'city', 'dates_1', 'event_name', 'event_match_number',
       'gender', 'match_type', 'officials_match_referees_1',
       'officials_reserve_umpires_1', 'officials_tv_umpires_1',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_winner',
       'outcome_by_wickets', 'overs', 'player_of_match_1', 'season',
       'team_type', 'teams_1', 'teams_2', 'toss_decision', 'toss_winner',
       'venue', 'outcome_by_runs', 'outcome_method', 'event_stage',
       'outcome_result', 'outcome_eliminator', 'dates_2', 'cells_1_cell_type',
       'cells_1_execution_count', 'cells_1_id', 'cells_1_source_1',
       'cells_1_source_2', 'cells_2_cell_type', 'cells_2_execution_count',
       'cells_2_id', 'cells_2_outputs_1_name', 'cells_2_outputs_1_output_type',
       'cells_2_outputs_1_text_1', 'cells_2_source_1', 'cells_3_cell_type',
       'cells_3_execution_count', 'cells_3_id',
       'metadata_kernelspec_display_name', 'metadata_kernelspec_language',
       'metadata_kernelspec_name', 'metadata_language_codemirror_mode_name',
       'metadata_language_file_extension', 'metadata_language_mimetype',
       'metadata_language_name', 'nbformat', 'nbformat_minor', 'team_1',
       'team_2'],
      dtype='object')

In [55]:
sel_cols = [
    "teams_1",
    "teams_2",
    "toss_decision",
    "toss_winner",
    "outcome_winner",
    "team_1",
    "team_2",
]
ipl_summary[sel_cols].head()

,teams_1,teams_2,toss_decision,toss_winner,outcome_winner,team_1,team_2
0,Rajasthan Royals,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Royal Challengers Bangalore,Rajasthan Royals,Royal Challengers Bangalore
1,Delhi Daredevils,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore
2,Kolkata Knight Riders,Chennai Super Kings,bat,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Chennai Super Kings
3,Royal Challengers Bangalore,Delhi Daredevils,bat,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,Delhi Daredevils
4,Sunrisers Hyderabad,Delhi Daredevils,bat,Delhi Daredevils,Delhi Daredevils,Delhi Daredevils,Sunrisers Hyderabad

In [56]:
ipl_summary.drop(columns=["teams_1", "teams_2"], inplace=True)

### Following columns have only a single value and so can be dropped from the dataframe

1. balls_per_over
2. event_name
3. gender
4. match_type
5. overs
6. team_type

In [57]:
ipl_summary["balls_per_over"].value_counts()

balls_per_over
6.0    1095
Name: count, dtype: int64

In [58]:
ipl_summary["event_name"].value_counts()

event_name
Indian Premier League    1095
Name: count, dtype: int64

In [59]:
ipl_summary["gender"].value_counts()

gender
male    1095
Name: count, dtype: int64

In [60]:
ipl_summary["match_type"].value_counts()

match_type
T20    1095
Name: count, dtype: int64

In [61]:
ipl_summary["overs"].value_counts()

overs
20.0    1095
Name: count, dtype: int64

In [62]:
ipl_summary["team_type"].value_counts()

team_type
club    1095
Name: count, dtype: int64

In [63]:
ipl_summary.drop(
    columns=[
        "balls_per_over",
        "event_name",
        "gender",
        "match_type",
        "overs",
        "team_type",
    ],
    inplace=True,
)

### Season has 2016 represented as string and numeric and so it is showing up as two different values. Convert to str type

In [64]:
ipl_summary[ipl_summary["season"].apply(lambda x: str(x).strip().find("2016") != -1)][
    "season"
].value_counts()

season
2016    59
2016     1
Name: count, dtype: int64

In [65]:
ipl_summary["season"] = ipl_summary["season"].astype(str)

In [66]:
ipl_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 47 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   city                                    1044 non-null   object
 1   dates_1                                 1095 non-null   object
 2   event_match_number                      1029 non-null   float64
 3   officials_match_referees_1              1095 non-null   object
 4   officials_reserve_umpires_1             1071 non-null   object
 5   officials_tv_umpires_1                  1091 non-null   object
 6   officials_umpires_1                     1095 non-null   object
 7   officials_umpires_2                     1095 non-null   object
 8   outcome_winner                          1076 non-null   object
 9   outcome_by_wickets                      578 non-null    float64
 10  player_of_match_1                       1090 non-null   object
 11  season                                  1096 non-null   object
 12  toss_decision                           1095 non-null   object
 13  toss_winner                             1095 non-null   object
 14  venue                                   1095 non-null   object
 15  outcome_by_runs                         498 non-null    float64
 16  outcome_method                          21 non-null     object
 17  event_stage                             66 non-null     object
 18  outcome_result                          19 non-null     object
 19  outcome_eliminator                      14 non-null     object
 20  dates_2                                 2 non-null      object
 21  cells_1_cell_type                       1 non-null      object
 22  cells_1_execution_count                 1 non-null      float64
 23  cells_1_id                              1 non-null      object
 24  cells_1_source_1                        1 non-null      object
 25  cells_1_source_2                        1 non-null      object
 26  cells_2_cell_type                       1 non-null      object
 27  cells_2_execution_count                 1 non-null      float64
 28  cells_2_id                              1 non-null      object
 29  cells_2_outputs_1_name                  1 non-null      object
 30  cells_2_outputs_1_output_type           1 non-null      object
 31  cells_2_outputs_1_text_1                1 non-null      object
 32  cells_2_source_1                        1 non-null      object
 33  cells_3_cell_type                       1 non-null      object
 34  cells_3_execution_count                 0 non-null      float64
 35  cells_3_id                              1 non-null      object
 36  metadata_kernelspec_display_name        1 non-null      object
 37  metadata_kernelspec_language            1 non-null      object
 38  metadata_kernelspec_name                1 non-null      object
 39  metadata_language_codemirror_mode_name  1 non-null      object
 40  metadata_language_file_extension        1 non-null      object
 41  metadata_language_mimetype              1 non-null      object
 42  metadata_language_name                  1 non-null      object
 43  nbformat                                1 non-null      float64
 44  nbformat_minor                          1 non-null      float64
 45  team_1                                  1095 non-null   object
 46  team_2                                  1095 non-null   object
dtypes: float64(8), object(39)
memory usage: 402.6+ KB

In [90]:
ipl_summary.to_csv("iplsummary.csv")

In [67]:
ipl_summary.loc[ipl_summary["event_match_number"].isnull(), "event_match_number"] = -1

In [68]:
ipl_summary["event_match_number"] = ipl_summary["event_match_number"].astype(int)

In [69]:
ipl_summary["event_match_number"].unique()

array([43, 45, 21,  5, 13, 33, 10,  1, 41, 16, 32, 42, 48, 67,  2, 53, -1,
       47, 52, 69, 24, 39, 38, 44, 23, 59, 40, 54, 34, 50, 11, 15,  9, 64,
        8, 28, 31, 35, 22, 49,  6, 14, 19, 55, 30,  7, 51, 62,  4, 63, 57,
       37, 20,  3, 56, 25, 26, 60, 65, 46, 36, 12, 27, 29, 17, 18, 66, 58,
       72, 68, 61, 70, 71])

In [70]:
ipl_summary.describe()

,event_match_number,outcome_by_wickets,outcome_by_runs,cells_1_execution_count,cells_2_execution_count,cells_3_execution_count,nbformat,nbformat_minor
count,1096.000000,578.000000,498.000000,1.0,1.0,0.0,1.0,1.0
mean,29.451642,6.192042,30.104418,2.0,3.0,NaN,4.0,5.0
std,19.401912,1.845733,26.739844,NaN,NaN,NaN,NaN,NaN
min,-1.000000,1.000000,1.000000,2.0,3.0,NaN,4.0,5.0
25%,13.000000,5.000000,11.000000,2.0,3.0,NaN,4.0,5.0
50%,29.000000,6.000000,22.000000,2.0,3.0,NaN,4.0,5.0
75%,45.000000,7.000000,41.000000,2.0,3.0,NaN,4.0,5.0
max,72.000000,10.000000,146.000000,2.0,3.0,NaN,4.0,5.0

In [71]:
for col in ipl_summary.columns:
    print(col, ipl_summary[col].dtype, sep=" => ")

city => object
dates_1 => object
event_match_number => int64
officials_match_referees_1 => object
officials_reserve_umpires_1 => object
officials_tv_umpires_1 => object
officials_umpires_1 => object
officials_umpires_2 => object
outcome_winner => object
outcome_by_wickets => float64
player_of_match_1 => object
season => object
toss_decision => object
toss_winner => object
venue => object
outcome_by_runs => float64
outcome_method => object
event_stage => object
outcome_result => object
outcome_eliminator => object
dates_2 => object
cells_1_cell_type => object
cells_1_execution_count => float64
cells_1_id => object
cells_1_source_1 => object
cells_1_source_2 => object
cells_2_cell_type => object
cells_2_execution_count => float64
cells_2_id => object
cells_2_outputs_1_name => object
cells_2_outputs_1_output_type => object
cells_2_outputs_1_text_1 => object
cells_2_source_1 => object
cells_3_cell_type => object
cells_3_execution_count => float64
cells_3_id => object
metadata_kernelspec_display_name => object
metadata_kernelspec_language => object
metadata_kernelspec_name => object
metadata_language_codemirror_mode_name => object
metadata_language_file_extension => object
metadata_language_mimetype => object
metadata_language_name => object
nbformat => float64
nbformat_minor => float64
team_1 => object
team_2 => object

# Handle Missing Values

### Populate missing city values based on the stadium

In [72]:

ipl_summary.loc[ipl_summary["venue"] == "Sharjah Cricket Stadium", "city"] = "Sharjah"
ipl_summary.loc[ipl_summary["venue"] == "Dubai International Cricket Stadium", "city"] = "Dubai"

In [73]:
# Drop dates_2 and outcome_eliminator columns as it has 98% missing values
ipl_summary = ipl_summary.drop(columns=["dates_2", "outcome_eliminator"])

In [74]:
# Defaulting the event_stage to group_stage as it is left blank
ipl_summary.loc[ipl_summary["event_stage"].isnull(), "event_stage"] = "group_stage"

In [75]:
ipl_summary.loc[ipl_summary["outcome_winner"].isnull(), "outcome_winner"] = ipl_summary["outcome_result"]

In [76]:
ipl_summary.loc[ipl_summary["outcome_method"].isnull(), "outcome_method"] = "regular"

In [77]:
# drop outcome_result as it is merged in the outcome_winner column
ipl_summary.drop(columns=["outcome_result"], inplace=True)

In [78]:
# Fix season values
ipl_summary.loc[ipl_summary["season"] == "2007/08", "season"] = "2008"
ipl_summary.loc[ipl_summary["season"] == "2009/10", "season"] = "2010"
ipl_summary.loc[ipl_summary["season"] == "2020/21", "season"] = "2020"

In [87]:
ipl_summary["season"].value_counts().sort_index()

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
2021    60
2022    74
2023    74
2024    71
nan      1
Name: count, dtype: int64

In [88]:
ipl_summary[ipl_summary.season.isna()]

Empty DataFrame
Columns: [city, dates_1, event_match_number, officials_match_referees_1, officials_reserve_umpires_1, officials_tv_umpires_1, officials_umpires_1, officials_umpires_2, outcome_winner, outcome_by_wickets, player_of_match_1, season, toss_decision, toss_winner, venue, outcome_by_runs, outcome_method, event_stage, cells_1_cell_type, cells_1_execution_count, cells_1_id, cells_1_source_1, cells_1_source_2, cells_2_cell_type, cells_2_execution_count, cells_2_id, cells_2_outputs_1_name, cells_2_outputs_1_output_type, cells_2_outputs_1_text_1, cells_2_source_1, cells_3_cell_type, cells_3_execution_count, cells_3_id, metadata_kernelspec_display_name, metadata_kernelspec_language, metadata_kernelspec_name, metadata_language_codemirror_mode_name, metadata_language_file_extension, metadata_language_mimetype, metadata_language_name, nbformat, nbformat_minor, team_1, team_2]
Index: []

[0 rows x 44 columns]

In [89]:
ipl_summary["season"] = ipl_summary["season"].astype(int)

ValueError: invalid literal for int() with base 10: 'nan'

In [ ]:
# Handle event_match_number
print(len(ipl_summary.loc[ipl_summary["event_match_number"] == -1, "event_match_number"]))
ipl_summary.loc[ipl_summary["event_match_number"] == -1, ["season", "dates_1"]].sort_values(by="dates_1")

66

      season     dates_1
853     2008  2008-05-30
207     2008  2008-05-31
610     2008  2008-06-01
1015    2009  2009-05-22
546     2009  2009-05-23
...      ...         ...
1094    2023  2023-05-29
563     2024  2024-05-21
759     2024  2024-05-22
20      2024  2024-05-24
220     2024  2024-05-26

[66 rows x 2 columns]

In [ ]:
# Not using this as we are populating the missing match numbers with event stage
def populate_match_numbers(df, season):
    df_part = df.loc[
        (df["season"] == season) & (df["event_match_number"].isnull()),
        ["event_match_number", "dates_1"],
    ].sort_values(by="dates_1")
    max_match_number = df[df["season"] == season]["event_match_number"].max() + 1
    print(df_part)
    for index, _ in df_part.iterrows():
        df.loc[index, "event_match_number"] = max_match_number
        max_match_number += 1

    print(df)

In [ ]:
# Not using this as we are populating the missing match numbers with event stage
def populate_match_numbers_across_seasons(df):
    for seas in df.season.unique():
        populate_match_numbers(df, seas)

In [ ]:
# Not using this as we are populating the missing match numbers with event stage
# populate_match_numbers_across_seasons(df)

In [ ]:
# note that this would convert the null values to string "nan"
ipl_summary["event_match_number"] = ipl_summary["event_match_number"].astype(str)

In [ ]:
ipl_summary.loc[ipl_summary["event_match_number"] == "-1", ["event_match_number"]] = ipl_summary["event_stage"]

In [ ]:
ipl_summary["event_match_number"].unique()

array(['43', '45', '21', '5', '13', '33', '10', '1', '41', '16', '32',
       '42', '48', '67', '2', '53', 'Qualifier 2', '47', '52', '69', '24',
       '39', '38', '44', '23', '59', '40', '54', '34', '50', '11', '15',
       '9', 'Final', '64', '8', '28', '31', '35', '22', '49', '6', '14',
       '19', '55', '30', '7', 'Qualifier 1', '51', '62', '4', '63',
       'Semi Final', '57', '37', '20', '3', '56', '25', '26', '60', '65',
       '46', '36', '12', '27', '29', '17', '18', '66', '58', '72', '68',
       'Eliminator', '61', '70', 'Elimination Final',
       '3rd Place Play-Off', '71'], dtype=object)

In [ ]:
pd.Series(ipl_summary["venue"].unique())

0                   Dubai International Cricket Stadium
1                                  Arun Jaitley Stadium
2                                  Sheikh Zayed Stadium
3                                 M.Chinnaswamy Stadium
4     Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
5                                 Eden Gardens, Kolkata
6                                 M Chinnaswamy Stadium
7                    Dr DY Patil Sports Academy, Mumbai
8              MA Chidambaram Stadium, Chepauk, Chennai
9                                          Eden Gardens
10                     Narendra Modi Stadium, Ahmedabad
11                              Sharjah Cricket Stadium
12         Punjab Cricket Association IS Bindra Stadium
13            Rajiv Gandhi International Stadium, Uppal
14                   Rajiv Gandhi International Stadium
15                             Wankhede Stadium, Mumbai
16                                    Brabourne Stadium
17                               Sawai Mansingh Stadium
18    Punjab Cricket Association IS Bindra Stadium, ...
19                                New Wanderers Stadium
20    Rajiv Gandhi International Stadium, Uppal, Hyd...
21                     M Chinnaswamy Stadium, Bengaluru
22              Maharashtra Cricket Association Stadium
23    Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
24                                     Feroz Shah Kotla
25                          Arun Jaitley Stadium, Delhi
26                                            Kingsmead
27                            Brabourne Stadium, Mumbai
28                                     Wankhede Stadium
29           Punjab Cricket Association Stadium, Mohali
30    Himachal Pradesh Cricket Association Stadium, ...
31               Saurashtra Cricket Association Stadium
32        Maharashtra Cricket Association Stadium, Pune
33                           Subrata Roy Sahara Stadium
34                      MA Chidambaram Stadium, Chepauk
35         Himachal Pradesh Cricket Association Stadium
36                           Dr DY Patil Sports Academy
37                     Zayed Cricket Stadium, Abu Dhabi
38                                         Buffalo Park
39     Shaheed Veer Narayan Singh International Stadium
40                   JSCA International Stadium Complex
41                                           Green Park
42                                        Nehru Stadium
43    Punjab Cricket Association IS Bindra Stadium, ...
44                               MA Chidambaram Stadium
45                                     St George's Park
46                                             Newlands
47                       Sawai Mansingh Stadium, Jaipur
48                         Sardar Patel Stadium, Motera
49                                De Beers Diamond Oval
50                               Holkar Cricket Stadium
51                                      SuperSport Park
52                                     Barabati Stadium
53         Vidarbha Cricket Association Stadium, Jamtha
54    Maharaja Yadavindra Singh International Cricke...
55                  Barsapara Cricket Stadium, Guwahati
56    Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
57                                      OUTsurance Oval
dtype: object

In [ ]:
ipl_summary["venue"] = ipl_summary["venue"].str.partition(",")[0]

In [ ]:
ipl_summary["venue"] = ipl_summary["venue"].str.replace(".", "")

In [ ]:
ipl_summary["venue"] = ipl_summary["venue"].str.replace(" ", "")

In [ ]:
pd.Series(ipl_summary["venue"].unique())

0                      DubaiInternationalCricketStadium
1                                    ArunJaitleyStadium
2                                    SheikhZayedStadium
3                                   MChinnaswamyStadium
4            DrYSRajasekharaReddyACA-VDCACricketStadium
5                                           EdenGardens
6                                DrDYPatilSportsAcademy
7                                  MAChidambaramStadium
8                                   NarendraModiStadium
9                                 SharjahCricketStadium
10              PunjabCricketAssociationISBindraStadium
11                      RajivGandhiInternationalStadium
12                                      WankhedeStadium
13                                     BrabourneStadium
14                                 SawaiMansinghStadium
15                                  NewWanderersStadium
16                 MaharashtraCricketAssociationStadium
17    BharatRatnaShriAtalBihariVajpayeeEkanaCricketS...
18                                       FerozShahKotla
19                                            Kingsmead
20                      PunjabCricketAssociationStadium
21             HimachalPradeshCricketAssociationStadium
22                  SaurashtraCricketAssociationStadium
23                              SubrataRoySaharaStadium
24                                  ZayedCricketStadium
25                                          BuffaloPark
26          ShaheedVeerNarayanSinghInternationalStadium
27                      JSCAInternationalStadiumComplex
28                                            GreenPark
29                                         NehruStadium
30                                       StGeorge'sPark
31                                             Newlands
32                                   SardarPatelStadium
33                                   DeBeersDiamondOval
34                                 HolkarCricketStadium
35                                       SuperSportPark
36                                      BarabatiStadium
37                    VidarbhaCricketAssociationStadium
38    MaharajaYadavindraSinghInternationalCricketSta...
39                              BarsaparaCricketStadium
40                                       OUTsuranceOval
dtype: object

In [ ]:
ipl_summary.columns

Index(['city', 'dates_1', 'event_match_number', 'officials_match_referees_1',
       'officials_reserve_umpires_1', 'officials_tv_umpires_1',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_winner',
       'outcome_by_wickets', 'player_of_match_1', 'season', 'toss_decision',
       'toss_winner', 'venue', 'outcome_by_runs', 'outcome_method',
       'event_stage', 'team_1', 'team_2'],
      dtype='object')

In [ ]:
ipl_summary = ipl_summary.rename(
    columns={
        "dates_1": "date",
        "officials_match_referees_1": "officials_match_referees",
        "officials_reserve_umpires_1": "officials_reserve_umpires",
        "officials_tv_umpires_1": "officials_tv_umpires",
        "teams_1": "team_1",
        "teams_2": "team_2",
        "player_of_match_1": "player_of_match",
    }
)

In [ ]:
ipl_summary.columns

Index(['city', 'date', 'event_match_number', 'officials_match_referees',
       'officials_reserve_umpires', 'officials_tv_umpires',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_winner',
       'outcome_by_wickets', 'player_of_match', 'season', 'toss_decision',
       'toss_winner', 'venue', 'outcome_by_runs', 'outcome_method',
       'event_stage', 'team_1', 'team_2'],
      dtype='object')

In [ ]:
ipl_summary.rename(columns={"event_match_number": "match_number"}, inplace=True)

In [ ]:
cols = [
    "date",
    "match_number",
    "city",
    "team_1",
    "team_2",
    "outcome_winner",
    "player_of_match",
    "toss_winner",
    "toss_decision",
    "officials_match_referees",
    "officials_reserve_umpires",
    "officials_tv_umpires",
    "officials_umpires_1",
    "officials_umpires_2",
    "outcome_by_wickets",
    "season",
    "venue",
    "outcome_by_runs",
    "event_stage",
    "outcome_method",
]
ipl_summary = ipl_summary.reindex(columns=cols)

In [ ]:
ipl_summary = ipl_summary.sort_values(by=["date", "match_number"])

In [ ]:
ipl_summary.to_csv("output/ipl_summary.csv", index=False)

In [ ]:
ball_by_ball

In [ ]:
ball_by_ball.shape

(260759, 18)

In [ ]:
ball_by_ball.head()

,date,match_number,innings,over,batter,bowler,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ipl_summary["match_number"] = ipl_summary["match_number"].astype("str")

In [ ]:
ipl_summary.shape

(1095, 20)

In [ ]:
ipl_summary.head()

,date,match_number,city,team_1,team_2,outcome_winner,player_of_match,toss_winner,toss_decision,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,BB McCullum,Royal Challengers Bangalore,field,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,MEK Hussey,Chennai Super Kings,bat,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,MF Maharoof,Rajasthan Royals,bat,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders,DJ Hussey,Deccan Chargers,bat,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,MV Boucher,Mumbai Indians,bat,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular

In [ ]:
def get_items_by_team(field, agg="sum"):
    if agg == "sum":
        grouped_df = ball_by_ball.groupby(["date", "match_number", "innings"])[field].sum()
    elif agg == "max":
        grouped_df = ball_by_ball.groupby(["date", "match_number", "innings"])[field].max()

    grouped_df = grouped_df.reset_index()

    df_pivot = grouped_df.pivot(
        index=["date", "match_number"], columns="innings", values=field
    )

    df_pivot.reset_index(inplace=True)

    df_pivot = df_pivot.rename(columns={1: "team_1_" + field, 2: "team_2_" + field})

    return df_pivot

In [ ]:
df_pivot = get_items_by_team("runs.total")
df_merged = pd.merge(ipl_summary, df_pivot, how="outer", on=["date", "match_number"])

In [ ]:
df_pivot = get_items_by_team("runs.extras")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [ ]:
df_pivot = get_items_by_team("extras.legbyes")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [ ]:
df_pivot = get_items_by_team("extras.wides")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [ ]:
df_pivot = get_items_by_team("extras.byes")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [ ]:
df_pivot = get_items_by_team("extras.noballs")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [ ]:
df_pivot = get_items_by_team("over", "max")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [ ]:
pd.set_option("display.max_columns", 35)
df_merged.head()

,date,match_number,city,team_1,team_2,outcome_winner,player_of_match,toss_winner,toss_decision,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method,team_1_runs.total,team_2_runs.total,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,team_2_extras.byes,team_1_extras.noballs,team_2_extras.noballs,team_1_over,team_2_over
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,BB McCullum,Royal Challengers Bangalore,field,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular,222.0,82.0,17.0,19.0,4.0,8.0,9.0,11.0,4.0,0.0,0.0,0.0,19.0,15.0
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,MEK Hussey,Chennai Super Kings,bat,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular,240.0,207.0,6.0,11.0,2.0,4.0,3.0,5.0,0.0,2.0,1.0,0.0,19.0,19.0
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,MF Maharoof,Rajasthan Royals,bat,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular,129.0,132.0,7.0,10.0,3.0,0.0,3.0,10.0,1.0,0.0,0.0,0.0,19.0,15.0
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders,DJ Hussey,Deccan Chargers,bat,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular,110.0,112.0,10.0,28.0,4.0,8.0,4.0,15.0,0.0,4.0,2.0,1.0,18.0,18.0
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,MV Boucher,Mumbai Indians,bat,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular,165.0,166.0,11.0,5.0,6.0,0.0,3.0,5.0,2.0,0.0,0.0,0.0,19.0,19.0

In [ ]:
cols = [
    "date",
    "match_number",
    "city",
    "team_1",
    "team_2",
    "team_1_runs.total",
    "team_2_runs.total",
    "outcome_winner",
    "player_of_match",
    "team_1_over",
    "team_2_over",
    "toss_winner",
    "toss_decision",
    "team_1_runs.extras",
    "team_2_runs.extras",
    "team_1_extras.legbyes",
    "team_2_extras.legbyes",
    "team_1_extras.wides",
    "team_2_extras.wides",
    "team_1_extras.byes",
    "team_2_extras.byes",
    "team_1_extras.noballs",
    "team_2_extras.noballs",
    "officials_match_referees",
    "officials_reserve_umpires",
    "officials_tv_umpires",
    "officials_umpires_1",
    "officials_umpires_2",
    "outcome_by_wickets",
    "season",
    "venue",
    "outcome_by_runs",
    "event_stage",
    "outcome_method",
]
df_merged = df_merged.reindex(columns=cols)

In [ ]:
pd.set_option('display.max_columns', 40)

df_merged.head()

,date,match_number,city,team_1,team_2,team_1_runs.total,team_2_runs.total,outcome_winner,player_of_match,team_1_over,team_2_over,toss_winner,toss_decision,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,team_2_extras.byes,team_1_extras.noballs,team_2_extras.noballs,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222.0,82.0,Kolkata Knight Riders,BB McCullum,19.0,15.0,Royal Challengers Bangalore,field,17.0,19.0,4.0,8.0,9.0,11.0,4.0,0.0,0.0,0.0,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,240.0,207.0,Chennai Super Kings,MEK Hussey,19.0,19.0,Chennai Super Kings,bat,6.0,11.0,2.0,4.0,3.0,5.0,0.0,2.0,1.0,0.0,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,129.0,132.0,Delhi Daredevils,MF Maharoof,19.0,15.0,Rajasthan Royals,bat,7.0,10.0,3.0,0.0,3.0,10.0,1.0,0.0,0.0,0.0,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,110.0,112.0,Kolkata Knight Riders,DJ Hussey,18.0,18.0,Deccan Chargers,bat,10.0,28.0,4.0,8.0,4.0,15.0,0.0,4.0,2.0,1.0,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,165.0,166.0,Royal Challengers Bangalore,MV Boucher,19.0,19.0,Mumbai Indians,bat,11.0,5.0,6.0,0.0,3.0,5.0,2.0,0.0,0.0,0.0,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular

In [ ]:
df_merged.rename(columns={"outcome_winner": "match_winner"}, inplace=True)

In [ ]:
df_merged["match_extras"] = df_merged["team_1_runs.extras"] + df_merged["team_2_runs.extras"]

In [ ]:
df_merged["match_legbyes"] = df_merged["team_1_extras.legbyes"] + df_merged["team_2_extras.legbyes"]

In [ ]:
df_merged["match_wides"] = df_merged["team_1_extras.wides"] + df_merged["team_2_extras.wides"]

In [ ]:
df_merged["match_byes"] = df_merged["team_1_extras.byes"] + df_merged["team_2_extras.byes"]

In [ ]:
df_merged["match_byes"] = df_merged["team_1_extras.byes"] + df_merged["team_2_extras.byes"]

In [ ]:
df_merged["match_noballs"] = df_merged["team_1_extras.noballs"] + df_merged["team_2_extras.noballs"]

In [ ]:
df_merged.head()

,date,match_number,city,team_1,team_2,team_1_runs.total,team_2_runs.total,match_winner,player_of_match,team_1_over,team_2_over,toss_winner,toss_decision,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,team_2_extras.byes,team_1_extras.noballs,team_2_extras.noballs,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method,match_extras,match_legbyes,match_wides,match_byes,match_noballs
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222.0,82.0,Kolkata Knight Riders,BB McCullum,19.0,15.0,Royal Challengers Bangalore,field,17.0,19.0,4.0,8.0,9.0,11.0,4.0,0.0,0.0,0.0,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular,36.0,12.0,20.0,4.0,0.0
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,240.0,207.0,Chennai Super Kings,MEK Hussey,19.0,19.0,Chennai Super Kings,bat,6.0,11.0,2.0,4.0,3.0,5.0,0.0,2.0,1.0,0.0,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular,17.0,6.0,8.0,2.0,1.0
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,129.0,132.0,Delhi Daredevils,MF Maharoof,19.0,15.0,Rajasthan Royals,bat,7.0,10.0,3.0,0.0,3.0,10.0,1.0,0.0,0.0,0.0,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular,17.0,3.0,13.0,1.0,0.0
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,110.0,112.0,Kolkata Knight Riders,DJ Hussey,18.0,18.0,Deccan Chargers,bat,10.0,28.0,4.0,8.0,4.0,15.0,0.0,4.0,2.0,1.0,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular,38.0,12.0,19.0,4.0,3.0
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,165.0,166.0,Royal Challengers Bangalore,MV Boucher,19.0,19.0,Mumbai Indians,bat,11.0,5.0,6.0,0.0,3.0,5.0,2.0,0.0,0.0,0.0,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular,16.0,6.0,8.0,2.0,0.0

In [ ]:
ball_by_ball.head(10)

,date,match_number,innings,over,batter,bowler,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2008-04-18,1,1,0,BB McCullum,P Kumar,SC Ganguly,0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2008-04-18,1,1,1,BB McCullum,Z Khan,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2008-04-18,1,1,1,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2008-04-18,1,1,1,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
runs_groupby= ball_by_ball.groupby(['date', 'match_number', 'runs.batter'])['runs.batter'].agg(["count"])

In [ ]:
runs_groupby

                                     count
date       match_number runs.batter
2008-04-18 1            0              110
                        1               66
                        2               14
                        4               18
                        6               17
...                                    ...
2024-05-26 Final        0               90
                        1               57
                        2               10
                        4               18
                        6                9

[6068 rows x 1 columns]

In [ ]:
runs_df = runs_groupby.reset_index()

In [ ]:
runs_df = runs_df[(runs_df['runs.batter'] == 4) | (runs_df['runs.batter'] == 6) ].sort_values(by=['date','match_number'])

In [ ]:
runs_df

            date match_number  runs.batter  count
3     2008-04-18            1            4     18
4     2008-04-18            1            6     17
9     2008-04-19            2            6     25
8     2008-04-19            2            4     38
14    2008-04-19            3            6      4
...          ...          ...          ...    ...
6057  2024-05-22   Eliminator            6     13
6062  2024-05-24  Qualifier 2            6     14
6061  2024-05-24  Qualifier 2            4     24
6067  2024-05-26        Final            6      9
6066  2024-05-26        Final            4     18

[2190 rows x 4 columns]

In [ ]:
runs_pivot = runs_df.pivot(index=["date", "match_number"], columns="runs.batter", values=["count"])

In [ ]:
runs_pivot

                        count
runs.batter                 0   4   6
date       match_number
2008-04-18 1              110  18  17
2008-04-19 2               72  38  25
           3               97  32   4
2008-04-20 4              147  11  10
           5               94  33  11
...                       ...  ..  ..
2024-05-19 69              82  31  26
2024-05-21 Qualifier 1     80  29  16
2024-05-22 Eliminator      81  33  13
2024-05-24 Qualifier 2    107  24  14
2024-05-26 Final           90  18   9

[1095 rows x 3 columns]

In [ ]:
runs_pivot.reset_index(inplace=True)

In [ ]:
runs_pivot.columns.values

array([('date', ''), ('match_number', ''), ('count', 0), ('count', 4),
       ('count', 6)], dtype=object)

In [ ]:
runs_pivot.columns = [col[0] + "_" + str(col[1]) for col in runs_pivot.columns.values]

In [ ]:
runs_pivot.columns

Index(['date_', 'match_number_', 'count_0', 'count_4', 'count_6'], dtype='object')

In [ ]:
runs_pivot = runs_pivot.rename(columns={"date_": "date", "match_number_": "match_number", "count_0": "match_dotballs" , "count_4": "match_4's" , "count_6": "match_6's"} )

In [ ]:
runs_pivot

            date match_number  match_dotballs  match_4's  match_6's
0     2008-04-18            1             110         18         17
1     2008-04-19            2              72         38         25
2     2008-04-19            3              97         32          4
3     2008-04-20            4             147         11         10
4     2008-04-20            5              94         33         11
...          ...          ...             ...        ...        ...
1090  2024-05-19           69              82         31         26
1091  2024-05-21  Qualifier 1              80         29         16
1092  2024-05-22   Eliminator              81         33         13
1093  2024-05-24  Qualifier 2             107         24         14
1094  2024-05-26        Final              90         18          9

[1095 rows x 5 columns]

In [ ]:
df_merged = pd.merge(df_merged, runs_pivot, how="outer", on=["date", "match_number"])

In [ ]:
df_merged

,date,match_number,city,team_1,team_2,team_1_runs.total,team_2_runs.total,match_winner,player_of_match,team_1_over,team_2_over,toss_winner,toss_decision,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,...,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method,match_extras,match_legbyes,match_wides,match_byes,match_noballs,match_dotballs_x,match_4's_x,match_6's_x,match_dotballs_y,match_4's_y,match_6's_y
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222.0,82.0,Kolkata Knight Riders,BB McCullum,19.0,15.0,Royal Challengers Bangalore,field,17.0,19.0,4.0,8.0,9.0,11.0,4.0,...,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular,36.0,12.0,20.0,4.0,0.0,110,18,17,110,18,17
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,240.0,207.0,Chennai Super Kings,MEK Hussey,19.0,19.0,Chennai Super Kings,bat,6.0,11.0,2.0,4.0,3.0,5.0,0.0,...,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular,17.0,6.0,8.0,2.0,1.0,72,38,25,72,38,25
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,129.0,132.0,Delhi Daredevils,MF Maharoof,19.0,15.0,Rajasthan Royals,bat,7.0,10.0,3.0,0.0,3.0,10.0,1.0,...,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular,17.0,3.0,13.0,1.0,0.0,97,32,4,97,32,4
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,110.0,112.0,Kolkata Knight Riders,DJ Hussey,18.0,18.0,Deccan Chargers,bat,10.0,28.0,4.0,8.0,4.0,15.0,0.0,...,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular,38.0,12.0,19.0,4.0,3.0,147,11,10,147,11,10
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,165.0,166.0,Royal Challengers Bangalore,MV Boucher,19.0,19.0,Mumbai Indians,bat,11.0,5.0,6.0,0.0,3.0,5.0,2.0,...,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular,16.0,6.0,8.0,2.0,0.0,94,33,11,94,33,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,2024-05-19,69,Hyderabad,Punjab Kings,Sunrisers Hyderabad,214.0,215.0,Sunrisers Hyderabad,Abhishek Sharma,19.0,19.0,Punjab Kings,bat,10.0,17.0,5.0,6.0,4.0,10.0,0.0,...,HAS Khalid,Nitin Menon,VK Sharma,4.0,2024,RajivGandhiInternationalStadium,NaN,group_stage,regular,27.0,11.0,14.0,0.0,2.0,82,31,26,82,31,26
1091,2024-05-21,Qualifier 1,Ahmedabad,Sunrisers Hyderabad,Kolkata Knight Riders,159.0,164.0,Kolkata Knight Riders,MA Starc,19.0,13.0,Sunrisers Hyderabad,bat,7.0,11.0,0.0,9.0,5.0,2.0,0.0,...,KN Ananthapadmanabhan,AK Chaudhary,R Pandit,8.0,2024,NarendraModiStadium,NaN,Qualifier 1,regular,18.0,9.0,7.0,0.0,2.0,80,29,16,80,29,16
1092,2024-05-22,Eliminator,Ahmedabad,Royal Challengers Bengaluru,Rajasthan Royals,172.0,174.0,Rajasthan Royals,R Ashwin,19.0,18.0,Rajasthan Royals,field,4.0,6.0,2.0,1.0,2.0,5.0,0.0,...,AK Chaudhary,KN Ananthapadmanabhan,MV Saidharshan Kumar,4.0,2024,NarendraModiStadium,NaN,Eliminator,regular,10.0,3.0,7.0,0.0,0.0,81,33,13,81,33,13
1093,2024-05-24,Qualifier 2,Chennai,Sunrisers Hyderabad,Rajasthan Royals,175.0,139.0,Sunrisers Hyderabad,Shahbaz Ahmed,19.0,19.0,Rajasthan Royals,field,8.0,5.0,1.0,1.0,7.0,3.0,0.0,...,MA Gough,Nitin Menon,VK Sharma,NaN,2024,MAChidambaramStadium,36.0,Qualifier 2,regular,13.0,2.0,10.0,0.0,1.0,107,24,14,107,24,14
1094,2024-05-26,Final,Chennai,Sunrisers Hyderabad,Kolkata Knight Riders,113.0,114.0,Kolkata Knight Riders,MA Starc,18.0,10.0,Sunrisers Hyderabad,bat,13.0,11.0,2.0,2.0,6.0,5.0,5.0,...,MA Gough,J Madanagopal,Nitin Menon,8.0,2024,MAChidambaramStadium,NaN,Final,regular,24.0,4.0,11.0,9.0,0.0,90,18,9,90,18,9

In [ ]:
df_merged.to_csv("output/ipl_match_level_stats.csv", index=False)