In [183]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import json
import plotly.express as px


def gapminder(
    df: pd.DataFrame,
    x_col: str | pd.Series,
    y_col: str | pd.Series,
    size_col: str | pd.Series | None = None,
    color_col: str | pd.Series | None = None,
    hover_name: str | None = None,
    title: str = "Gapminder Plot",
    labels: dict | None = None,
) -> None:

    fig = px.scatter(
        df,
        x=x_col,
        y=y_col,
        size=size_col,
        color=color_col,
        hover_name=hover_name,
        title=title,
        labels=labels,
    )
    fig.show()


def parallelplot(
    df: pd.DataFrame,
    columns: list[str | pd.Series],
    color_col: str | pd.Series | None = None,
    title: str = "Parallel Coordinates Plot",
    labels: pd.Series | str | None | dict[str, str] = None,
) -> None:

    fig = px.parallel_coordinates(
        df, dimensions=columns, color=color_col, title=title, labels=labels
    )
    fig.show()

### BALL BY BALL DATA

In [2]:
fields_to_skip = ["meta", "info"]

In [3]:
# def populate_wicket_data(idx, delivery):
#     wicket_record = {}
#     if "wickets" in delivery and delivery["wickets"]:
#         for wicket in delivery["wickets"]:
#             wicket_record = {
#                 "delivery_index": idx,
#                 "wicket.kind": wicket["kind"],
#                 "wicket.player_out": wicket["player_out"],
#                 "wicket.fielders": (
#                     [fielder["name"] for fielder in wicket["fielders"]]
#                     if wicket.get("fielders") != None
#                     else None
#                 ),
#             }
#     else:
#         wicket_record = {
#             "delivery_index": idx,
#             "wicket.kind": None,
#             "wicket.player_out": None,
#             "wicket.fielders": None,
#         }
#     return wicket_record

In [4]:
def populate_wicket_data(idx, delivery):
    wicket_record = {}
    if "wickets" in delivery and delivery["wickets"]:
        for wicket in delivery["wickets"]:
            wicket_record = {
                "delivery_index": idx,
                "wicket.kind": wicket["kind"],
                "wicket.player_out": wicket["player_out"],
                "wicket.fielders": (
                    [fielder["name"] for fielder in wicket["fielders"]]
                    if wicket.get("fielders") != None
                    else None
                ),
            }
    else:
        wicket_record = {
            "delivery_index": idx,
            "wicket.kind": None,
            "wicket.player_out": None,
            "wicket.fielders": None,
        }
    return wicket_record

In [5]:
file_names = os.listdir(path="data")
print(file_names[:10])
file_names = list(filter(lambda x: str(x).endswith(".json"), file_names))
file_names.sort()
print(file_names[:10])

merged_deliveries = pd.DataFrame()
wickets_data = []
index = 0
match_number = 1
prev_match_number = 0
date_file_name_dict = {}
prev_match_number = 0

for file_idx, file_name in enumerate(file_names):
    file_path = "data/" + file_name
    with open(file=file_path, mode="r") as file:
        data = json.load(file)
        info = data["info"]
        date = info["dates"][0]
        if info["event"].get("match_number") != None:
            match_number = info["event"].get("match_number")
        else:
            match_number = prev_match_number + 1
        
        if date_file_name_dict.get(date) != None:
            if prev_match_number < match_number:
                date_file_name_dict[date +"_1"] = file_name
            else:
                date_file_name_dict[date +"_1"] = date_file_name_dict[date] 
                date_file_name_dict[date] = file_name
        else:
            date_file_name_dict[date] = file_name
        prev_match_number = match_number

['1254103.json', '1136605.json', '1216501.json', '1082595.json', '829731.json', '1359507.json', '548315.json', '1304079.json', '1422119.json', '1178418.json']
['1082591.json', '1082592.json', '1082593.json', '1082594.json', '1082595.json', '1082596.json', '1082597.json', '1082598.json', '1082599.json', '1082600.json']

In [6]:
match_dates = list(date_file_name_dict.keys())
match_dates.sort()

In [7]:
# file_names = ["829813.json", "829817.json", "336038.json"]
index = 0
match_number = 1
prev_match_number = 0
prev_year = ""
stage = ""

for file_idx, match_date in enumerate(match_dates):
    file_name = date_file_name_dict[match_date]
    file_path = "data/" + file_name
    with open(file=file_path, mode="r") as file:
        data = json.load(file)
        info = data["info"]
        date = info["dates"][0]
        curr_year = date.split("-")[0]
        if curr_year != prev_year:
            print(curr_year, prev_year)
            prev_match_number = 0
        print("processing file: ", file_idx, file_name, match_date, date, prev_match_number, sep=", ")
        
        if info["event"].get("match_number") != None:
            match_number = info["event"].get("match_number")
        else:
            match_number = prev_match_number + 1
            print("match number not presentin file_name:", file_name, "populating with: ", match_number)
        
        if info["event"].get("stage") == None:
            stage = "group"
        else:
            stage = info["event"].get("stage")

        prev_match_number = match_number
        prev_year = date.split("-")[0]
        
        innings = data["innings"]
        for idx, inning in enumerate(innings):
            if inning.get("super_over") is not None:
                print("skipping super_over: ", date, match_number)
                continue
            overs = inning["overs"]
            df_deliveries = pd.json_normalize(
                overs, record_path=["deliveries"], meta=["over"]
            )
            df_deliveries["date"] = date
            df_deliveries["match_number"] = match_number
            df_deliveries["innings"] = idx + 1
            df_deliveries['stage'] = stage
            merged_deliveries = pd.concat([merged_deliveries, df_deliveries], axis=0)
            for over in overs:
                for delivery in over["deliveries"]:
                    wicket_data = populate_wicket_data(index, delivery)
                    wickets_data.append(wicket_data)
                    index += 1
                    
df_wickets = pd.DataFrame(wickets_data)

merged_deliveries.reset_index(inplace=True)

merged_deliveries["delivery_index"] = merged_deliveries.index

df_merged = pd.merge(merged_deliveries, df_wickets, on="delivery_index", how="left")

df_merged.drop("delivery_index", inplace=True, axis=1)
# df_merged.drop("wickets", inplace=True, axis=1)

2008
processing file: , 0, 335982.json, 2008-04-18, 2008-04-18, 0
processing file: , 1, 335983.json, 2008-04-19, 2008-04-19, 1
processing file: , 2, 335984.json, 2008-04-19_1, 2008-04-19, 2
processing file: , 3, 335986.json, 2008-04-20, 2008-04-20, 3
processing file: , 4, 335985.json, 2008-04-20_1, 2008-04-20, 4
processing file: , 5, 335987.json, 2008-04-21, 2008-04-21, 5
processing file: , 6, 335988.json, 2008-04-22, 2008-04-22, 6
processing file: , 7, 335989.json, 2008-04-23, 2008-04-23, 7
processing file: , 8, 335990.json, 2008-04-24, 2008-04-24, 8
processing file: , 9, 335991.json, 2008-04-25, 2008-04-25, 9
processing file: , 10, 335993.json, 2008-04-26, 2008-04-26, 10
processing file: , 11, 335992.json, 2008-04-26_1, 2008-04-26, 11
processing file: , 12, 335995.json, 2008-04-27, 2008-04-27, 12
processing file: , 13, 335994.json, 2008-04-27_1, 2008-04-27, 13
processing file: , 14, 335996.json, 2008-04-28, 2008-04-28, 14
processing file: , 15, 335997.json, 2008-04-29, 2008-04-29, 15
processing file: , 16, 335998.json, 2008-04-30, 2008-04-30, 16
processing file: , 17, 336000.json, 2008-05-01, 2008-05-01, 17
processing file: , 18, 335999.json, 2008-05-01_1, 2008-05-01, 18
processing file: , 19, 336001.json, 2008-05-02, 2008-05-02, 19
processing file: , 20, 336034.json, 2008-05-03, 2008-05-03, 20
processing file: , 21, 336003.json, 2008-05-03_1, 2008-05-03, 21
processing file: , 22, 336004.json, 2008-05-04, 2008-05-04, 22
processing file: , 23, 336005.json, 2008-05-04_1, 2008-05-04, 23
processing file: , 24, 336006.json, 2008-05-05, 2008-05-05, 24
processing file: , 25, 336007.json, 2008-05-06, 2008-05-06, 25
processing file: , 26, 336008.json, 2008-05-07, 2008-05-07, 26
processing file: , 27, 336009.json, 2008-05-08, 2008-05-08, 27
processing file: , 28, 336010.json, 2008-05-08_1, 2008-05-08, 28
processing file: , 29, 336011.json, 2008-05-09, 2008-05-09, 29
processing file: , 30, 336013.json, 2008-05-10, 2008-05-10, 30
processing file: , 31, 336014.json, 2008-05-11, 2008-05-11, 31
processing file: , 32, 336015.json, 2008-05-11_1, 2008-05-11, 32
processing file: , 33, 336016.json, 2008-05-12, 2008-05-12, 33
processing file: , 34, 336017.json, 2008-05-13, 2008-05-13, 34
processing file: , 35, 336018.json, 2008-05-14, 2008-05-14, 35
processing file: , 36, 336020.json, 2008-05-15, 2008-05-15, 36
processing file: , 37, 336021.json, 2008-05-16, 2008-05-16, 37
processing file: , 38, 336023.json, 2008-05-17, 2008-05-17, 38
processing file: , 39, 336022.json, 2008-05-17_1, 2008-05-17, 39
processing file: , 40, 336025.json, 2008-05-18, 2008-05-18, 40
processing file: , 41, 336024.json, 2008-05-18_1, 2008-05-18, 41
processing file: , 42, 336026.json, 2008-05-19, 2008-05-19, 42
processing file: , 43, 336027.json, 2008-05-20, 2008-05-20, 43
processing file: , 44, 336028.json, 2008-05-21, 2008-05-21, 44
processing file: , 45, 336029.json, 2008-05-21_1, 2008-05-21, 45
processing file: , 46, 336031.json, 2008-05-23, 2008-05-23, 46
processing file: , 47, 336033.json, 2008-05-24, 2008-05-24, 48
processing file: , 48, 336032.json, 2008-05-24_1, 2008-05-24, 49
processing file: , 49, 336002.json, 2008-05-25, 2008-05-25, 50
processing file: , 50, 336035.json, 2008-05-25_1, 2008-05-25, 51
processing file: , 51, 336036.json, 2008-05-26, 2008-05-26, 52
processing file: , 52, 336037.json, 2008-05-27, 2008-05-27, 53
processing file: , 53, 336012.json, 2008-05-28, 2008-05-28, 54
processing file: , 54, 336019.json, 2008-05-28_1, 2008-05-28, 55
processing file: , 55, 336038.json, 2008-05-30, 2008-05-30, 56
match number not presentin file_name: 336038.json populating with:  57
processing file: , 56, 336039.json, 2008-05-31, 2008-05-31, 57
match number not presentin file_name: 336039.json populating with:  58
processing file: , 57, 336040.json, 2008-06-01, 2008-06-01, 58
match number not presentin file_name: 336040.json populating with:  59
2009 2008
processing file: , 58, 392181.json, 2009-04-18, 2009-04-18, 0
processing file: , 59, 392182.json, 2009-04-18_1, 2009-04-18, 1
processing file: , 60, 392183.json, 2009-04-19, 2009-04-19, 2
processing file: , 61, 392184.json, 2009-04-19_1, 2009-04-19, 3
processing file: , 62, 392185.json, 2009-04-20, 2009-04-20, 4
processing file: , 63, 392186.json, 2009-04-21, 2009-04-21, 5
processing file: , 64, 392188.json, 2009-04-22, 2009-04-22, 6
processing file: , 65, 392189.json, 2009-04-23, 2009-04-23, 8
processing file: , 66, 392190.json, 2009-04-23_1, 2009-04-23, 9
skipping super_over:  2009-04-23 10
skipping super_over:  2009-04-23 10
processing file: , 67, 392191.json, 2009-04-24, 2009-04-24, 10
processing file: , 68, 392192.json, 2009-04-25, 2009-04-25, 11
processing file: , 69, 392194.json, 2009-04-26, 2009-04-26, 12
processing file: , 70, 392195.json, 2009-04-26_1, 2009-04-26, 14
processing file: , 71, 392196.json, 2009-04-27, 2009-04-27, 15
processing file: , 72, 392197.json, 2009-04-27_1, 2009-04-27, 16
processing file: , 73, 392198.json, 2009-04-28, 2009-04-28, 17
processing file: , 74, 392199.json, 2009-04-29, 2009-04-29, 18
processing file: , 75, 392200.json, 2009-04-29_1, 2009-04-29, 19
processing file: , 76, 392201.json, 2009-04-30, 2009-04-30, 20
processing file: , 77, 392202.json, 2009-04-30_1, 2009-04-30, 21
processing file: , 78, 392203.json, 2009-05-01, 2009-05-01, 22
processing file: , 79, 392204.json, 2009-05-01_1, 2009-05-01, 23
processing file: , 80, 392205.json, 2009-05-02, 2009-05-02, 24
processing file: , 81, 392206.json, 2009-05-02_1, 2009-05-02, 25
processing file: , 82, 392207.json, 2009-05-03, 2009-05-03, 26
processing file: , 83, 392208.json, 2009-05-03_1, 2009-05-03, 27
processing file: , 84, 392209.json, 2009-05-04, 2009-05-04, 28
processing file: , 85, 392210.json, 2009-05-05, 2009-05-05, 29
processing file: , 86, 392211.json, 2009-05-05_1, 2009-05-05, 30
processing file: , 87, 392212.json, 2009-05-06, 2009-05-06, 31
processing file: , 88, 392213.json, 2009-05-07, 2009-05-07, 32
processing file: , 89, 392214.json, 2009-05-07_1, 2009-05-07, 33
processing file: , 90, 392215.json, 2009-05-08, 2009-05-08, 34
processing file: , 91, 392216.json, 2009-05-09, 2009-05-09, 35
processing file: , 92, 392217.json, 2009-05-09_1, 2009-05-09, 36
processing file: , 93, 392218.json, 2009-05-10, 2009-05-10, 37
processing file: , 94, 392219.json, 2009-05-10_1, 2009-05-10, 38
processing file: , 95, 392220.json, 2009-05-11, 2009-05-11, 39
processing file: , 96, 392221.json, 2009-05-12, 2009-05-12, 40
processing file: , 97, 392222.json, 2009-05-12_1, 2009-05-12, 41
processing file: , 98, 392223.json, 2009-05-13, 2009-05-13, 42
processing file: , 99, 392224.json, 2009-05-14, 2009-05-14, 43
processing file: , 100, 392225.json, 2009-05-14_1, 2009-05-14, 44
processing file: , 101, 392226.json, 2009-05-15, 2009-05-15, 45
processing file: , 102, 392227.json, 2009-05-16, 2009-05-16, 46
processing file: , 103, 392228.json, 2009-05-16_1, 2009-05-16, 47
processing file: , 104, 392229.json, 2009-05-17, 2009-05-17, 48
processing file: , 105, 392230.json, 2009-05-17_1, 2009-05-17, 49
processing file: , 106, 392231.json, 2009-05-18, 2009-05-18, 50
processing file: , 107, 392232.json, 2009-05-19, 2009-05-19, 51
processing file: , 108, 392233.json, 2009-05-20, 2009-05-20, 52
processing file: , 109, 392234.json, 2009-05-20_1, 2009-05-20, 53
processing file: , 110, 392235.json, 2009-05-21, 2009-05-21, 54
processing file: , 111, 392236.json, 2009-05-21_1, 2009-05-21, 55
processing file: , 112, 392237.json, 2009-05-22, 2009-05-22, 56
match number not presentin file_name: 392237.json populating with:  57
processing file: , 113, 392238.json, 2009-05-23, 2009-05-23, 57
match number not presentin file_name: 392238.json populating with:  58
processing file: , 114, 392239.json, 2009-05-24, 2009-05-24, 58
match number not presentin file_name: 392239.json populating with:  59
2010 2009
processing file: , 115, 419106.json, 2010-03-12, 2010-03-12, 0
processing file: , 116, 419107.json, 2010-03-13, 2010-03-13, 1
processing file: , 117, 419108.json, 2010-03-13_1, 2010-03-13, 2
processing file: , 118, 419109.json, 2010-03-14, 2010-03-14, 3
processing file: , 119, 419110.json, 2010-03-14_1, 2010-03-14, 4
processing file: , 120, 419111.json, 2010-03-15, 2010-03-15, 5
processing file: , 121, 419112.json, 2010-03-16, 2010-03-16, 6
processing file: , 122, 419113.json, 2010-03-16_1, 2010-03-16, 7
processing file: , 123, 419114.json, 2010-03-17, 2010-03-17, 8
processing file: , 124, 419115.json, 2010-03-18, 2010-03-18, 9
processing file: , 125, 419116.json, 2010-03-19, 2010-03-19, 10
processing file: , 126, 419117.json, 2010-03-19_1, 2010-03-19, 11
processing file: , 127, 419118.json, 2010-03-20, 2010-03-20, 12
processing file: , 128, 419119.json, 2010-03-20_1, 2010-03-20, 13
processing file: , 129, 419120.json, 2010-03-21, 2010-03-21, 14
processing file: , 130, 419121.json, 2010-03-21_1, 2010-03-21, 15
skipping super_over:  2010-03-21 16
skipping super_over:  2010-03-21 16
processing file: , 131, 419122.json, 2010-03-22, 2010-03-22, 16
processing file: , 132, 419123.json, 2010-03-23, 2010-03-23, 17
processing file: , 133, 419124.json, 2010-03-24, 2010-03-24, 18
processing file: , 134, 419128.json, 2010-03-25, 2010-03-25, 19
processing file: , 135, 419125.json, 2010-03-25_1, 2010-03-25, 20
processing file: , 136, 419126.json, 2010-03-26, 2010-03-26, 21
processing file: , 137, 419127.json, 2010-03-27, 2010-03-27, 22
processing file: , 138, 419129.json, 2010-03-28, 2010-03-28, 23
processing file: , 139, 419130.json, 2010-03-28_1, 2010-03-28, 24
processing file: , 140, 419131.json, 2010-03-29, 2010-03-29, 25
processing file: , 141, 419132.json, 2010-03-30, 2010-03-30, 26
processing file: , 142, 419133.json, 2010-03-31, 2010-03-31, 27
processing file: , 143, 419134.json, 2010-03-31_1, 2010-03-31, 28
processing file: , 144, 419135.json, 2010-04-01, 2010-04-01, 29
processing file: , 145, 419136.json, 2010-04-02, 2010-04-02, 30
processing file: , 146, 419137.json, 2010-04-03, 2010-04-03, 31
processing file: , 147, 419138.json, 2010-04-03_1, 2010-04-03, 32
processing file: , 148, 419139.json, 2010-04-04, 2010-04-04, 33
processing file: , 149, 419140.json, 2010-04-04_1, 2010-04-04, 34
processing file: , 150, 419141.json, 2010-04-05, 2010-04-05, 35
processing file: , 151, 419142.json, 2010-04-06, 2010-04-06, 36
processing file: , 152, 419143.json, 2010-04-07, 2010-04-07, 37
processing file: , 153, 419144.json, 2010-04-07_1, 2010-04-07, 38
processing file: , 154, 419145.json, 2010-04-08, 2010-04-08, 39
processing file: , 155, 419146.json, 2010-04-09, 2010-04-09, 40
processing file: , 156, 419147.json, 2010-04-10, 2010-04-10, 41
processing file: , 157, 419148.json, 2010-04-10_1, 2010-04-10, 42
processing file: , 158, 419149.json, 2010-04-11, 2010-04-11, 43
processing file: , 159, 419150.json, 2010-04-11_1, 2010-04-11, 44
processing file: , 160, 419151.json, 2010-04-12, 2010-04-12, 45
processing file: , 161, 419152.json, 2010-04-13, 2010-04-13, 46
processing file: , 162, 419153.json, 2010-04-13_1, 2010-04-13, 47
processing file: , 163, 419154.json, 2010-04-14, 2010-04-14, 48
processing file: , 164, 419155.json, 2010-04-15, 2010-04-15, 49
processing file: , 165, 419156.json, 2010-04-16, 2010-04-16, 50
processing file: , 166, 419157.json, 2010-04-17, 2010-04-17, 51
processing file: , 167, 419158.json, 2010-04-17_1, 2010-04-17, 52
processing file: , 168, 419159.json, 2010-04-18, 2010-04-18, 53
processing file: , 169, 419160.json, 2010-04-18_1, 2010-04-18, 54
processing file: , 170, 419161.json, 2010-04-19, 2010-04-19, 55
processing file: , 171, 419162.json, 2010-04-21, 2010-04-21, 56
match number not presentin file_name: 419162.json populating with:  57
processing file: , 172, 419163.json, 2010-04-22, 2010-04-22, 57
match number not presentin file_name: 419163.json populating with:  58
processing file: , 173, 419164.json, 2010-04-24, 2010-04-24, 58
match number not presentin file_name: 419164.json populating with:  59
processing file: , 174, 419165.json, 2010-04-25, 2010-04-25, 59
match number not presentin file_name: 419165.json populating with:  60
2011 2010
processing file: , 175, 501198.json, 2011-04-08, 2011-04-08, 0
processing file: , 176, 501199.json, 2011-04-09, 2011-04-09, 1
processing file: , 177, 501200.json, 2011-04-09_1, 2011-04-09, 2
processing file: , 178, 501201.json, 2011-04-10, 2011-04-10, 3
processing file: , 179, 501202.json, 2011-04-10_1, 2011-04-10, 4
processing file: , 180, 501203.json, 2011-04-11, 2011-04-11, 5
processing file: , 181, 501204.json, 2011-04-12, 2011-04-12, 6
processing file: , 182, 501205.json, 2011-04-12_1, 2011-04-12, 7
processing file: , 183, 501206.json, 2011-04-13, 2011-04-13, 8
processing file: , 184, 501207.json, 2011-04-13_1, 2011-04-13, 9
processing file: , 185, 501208.json, 2011-04-14, 2011-04-14, 10
processing file: , 186, 501209.json, 2011-04-15, 2011-04-15, 11
processing file: , 187, 501210.json, 2011-04-15_1, 2011-04-15, 12
processing file: , 188, 501211.json, 2011-04-16, 2011-04-16, 13
processing file: , 189, 501212.json, 2011-04-16_1, 2011-04-16, 14
processing file: , 190, 501213.json, 2011-04-17, 2011-04-17, 15
processing file: , 191, 501214.json, 2011-04-17_1, 2011-04-17, 16
processing file: , 192, 501215.json, 2011-04-18, 2011-04-18, 17
processing file: , 193, 501216.json, 2011-04-19, 2011-04-19, 18
processing file: , 194, 501218.json, 2011-04-20, 2011-04-20, 19
processing file: , 195, 501219.json, 2011-04-20_1, 2011-04-20, 21
processing file: , 196, 501220.json, 2011-04-21, 2011-04-21, 22
processing file: , 197, 501222.json, 2011-04-22, 2011-04-22, 23
processing file: , 198, 501221.json, 2011-04-22_1, 2011-04-22, 24
processing file: , 199, 501223.json, 2011-04-23, 2011-04-23, 25
processing file: , 200, 501224.json, 2011-04-24, 2011-04-24, 26
processing file: , 201, 501225.json, 2011-04-24_1, 2011-04-24, 27
processing file: , 202, 501226.json, 2011-04-25, 2011-04-25, 28
processing file: , 203, 501227.json, 2011-04-26, 2011-04-26, 29
processing file: , 204, 501228.json, 2011-04-27, 2011-04-27, 30
processing file: , 205, 501229.json, 2011-04-27_1, 2011-04-27, 31
processing file: , 206, 501230.json, 2011-04-28, 2011-04-28, 32
processing file: , 207, 501231.json, 2011-04-29, 2011-04-29, 33
processing file: , 208, 501232.json, 2011-04-29_1, 2011-04-29, 34
processing file: , 209, 501233.json, 2011-04-30, 2011-04-30, 35
processing file: , 210, 501234.json, 2011-04-30_1, 2011-04-30, 36
processing file: , 211, 501235.json, 2011-05-01, 2011-05-01, 37
processing file: , 212, 501236.json, 2011-05-01_1, 2011-05-01, 38
processing file: , 213, 501237.json, 2011-05-02, 2011-05-02, 39
processing file: , 214, 501238.json, 2011-05-02_1, 2011-05-02, 40
processing file: , 215, 501239.json, 2011-05-03, 2011-05-03, 41
processing file: , 216, 501240.json, 2011-05-04, 2011-05-04, 42
processing file: , 217, 501241.json, 2011-05-04_1, 2011-05-04, 43
processing file: , 218, 501242.json, 2011-05-05, 2011-05-05, 44
processing file: , 219, 501243.json, 2011-05-05_1, 2011-05-05, 45
processing file: , 220, 501244.json, 2011-05-06, 2011-05-06, 46
processing file: , 221, 501245.json, 2011-05-07, 2011-05-07, 47
processing file: , 222, 501246.json, 2011-05-07_1, 2011-05-07, 48
processing file: , 223, 501247.json, 2011-05-08, 2011-05-08, 49
processing file: , 224, 501248.json, 2011-05-08_1, 2011-05-08, 50
processing file: , 225, 501249.json, 2011-05-09, 2011-05-09, 51
processing file: , 226, 501250.json, 2011-05-10, 2011-05-10, 52
processing file: , 227, 501251.json, 2011-05-10_1, 2011-05-10, 53
processing file: , 228, 501252.json, 2011-05-11, 2011-05-11, 54
processing file: , 229, 501253.json, 2011-05-12, 2011-05-12, 55
processing file: , 230, 501254.json, 2011-05-13, 2011-05-13, 56
processing file: , 231, 501255.json, 2011-05-14, 2011-05-14, 57
processing file: , 232, 501256.json, 2011-05-14_1, 2011-05-14, 58
processing file: , 233, 501257.json, 2011-05-15, 2011-05-15, 59
processing file: , 234, 501258.json, 2011-05-15_1, 2011-05-15, 60
processing file: , 235, 501259.json, 2011-05-16, 2011-05-16, 61
processing file: , 236, 501260.json, 2011-05-17, 2011-05-17, 62
processing file: , 237, 501261.json, 2011-05-18, 2011-05-18, 63
processing file: , 238, 501262.json, 2011-05-19, 2011-05-19, 64
processing file: , 239, 501263.json, 2011-05-20, 2011-05-20, 65
processing file: , 240, 501264.json, 2011-05-21, 2011-05-21, 66
processing file: , 241, 501265.json, 2011-05-21_1, 2011-05-21, 67
processing file: , 242, 501266.json, 2011-05-22, 2011-05-22, 68
processing file: , 243, 501267.json, 2011-05-22_1, 2011-05-22, 69
processing file: , 244, 501268.json, 2011-05-24, 2011-05-24, 70
match number not presentin file_name: 501268.json populating with:  71
processing file: , 245, 501269.json, 2011-05-25, 2011-05-25, 71
match number not presentin file_name: 501269.json populating with:  72
processing file: , 246, 501270.json, 2011-05-27, 2011-05-27, 72
match number not presentin file_name: 501270.json populating with:  73
processing file: , 247, 501271.json, 2011-05-28, 2011-05-28, 73
match number not presentin file_name: 501271.json populating with:  74
2012 2011
processing file: , 248, 548306.json, 2012-04-04, 2012-04-04, 0
processing file: , 249, 548307.json, 2012-04-05, 2012-04-05, 1
processing file: , 250, 548308.json, 2012-04-06, 2012-04-06, 2
processing file: , 251, 548309.json, 2012-04-06_1, 2012-04-06, 3
processing file: , 252, 548310.json, 2012-04-07, 2012-04-07, 4
processing file: , 253, 548311.json, 2012-04-07_1, 2012-04-07, 5
processing file: , 254, 548312.json, 2012-04-08, 2012-04-08, 6
processing file: , 255, 548313.json, 2012-04-08_1, 2012-04-08, 7
processing file: , 256, 548314.json, 2012-04-09, 2012-04-09, 8
processing file: , 257, 548315.json, 2012-04-10, 2012-04-10, 9
processing file: , 258, 548316.json, 2012-04-10_1, 2012-04-10, 10
processing file: , 259, 548317.json, 2012-04-11, 2012-04-11, 11
processing file: , 260, 548318.json, 2012-04-12, 2012-04-12, 12
processing file: , 261, 548319.json, 2012-04-12_1, 2012-04-12, 13
processing file: , 262, 548320.json, 2012-04-13, 2012-04-13, 14
processing file: , 263, 548322.json, 2012-04-14, 2012-04-14, 15
processing file: , 264, 548323.json, 2012-04-15, 2012-04-15, 16
processing file: , 265, 548324.json, 2012-04-15_1, 2012-04-15, 17
processing file: , 266, 548325.json, 2012-04-16, 2012-04-16, 18
processing file: , 267, 548326.json, 2012-04-17, 2012-04-17, 19
processing file: , 268, 548327.json, 2012-04-17_1, 2012-04-17, 20
processing file: , 269, 548328.json, 2012-04-18, 2012-04-18, 21
processing file: , 270, 548330.json, 2012-04-19, 2012-04-19, 22
processing file: , 271, 548321.json, 2012-04-19_1, 2012-04-19, 24
processing file: , 272, 548331.json, 2012-04-20, 2012-04-20, 23
processing file: , 273, 548332.json, 2012-04-21, 2012-04-21, 25
processing file: , 274, 548333.json, 2012-04-21_1, 2012-04-21, 26
processing file: , 275, 548334.json, 2012-04-22, 2012-04-22, 27
processing file: , 276, 548335.json, 2012-04-22_1, 2012-04-22, 28
processing file: , 277, 548336.json, 2012-04-23, 2012-04-23, 29
processing file: , 278, 548337.json, 2012-04-24, 2012-04-24, 30
processing file: , 279, 548339.json, 2012-04-25, 2012-04-25, 31
processing file: , 280, 548341.json, 2012-04-26, 2012-04-26, 33
processing file: , 281, 548342.json, 2012-04-27, 2012-04-27, 35
processing file: , 282, 548343.json, 2012-04-28, 2012-04-28, 36
processing file: , 283, 548344.json, 2012-04-28_1, 2012-04-28, 37
processing file: , 284, 548345.json, 2012-04-29, 2012-04-29, 38
processing file: , 285, 548346.json, 2012-04-29_1, 2012-04-29, 39
processing file: , 286, 548347.json, 2012-04-30, 2012-04-30, 40
processing file: , 287, 548348.json, 2012-05-01, 2012-05-01, 41
processing file: , 288, 548349.json, 2012-05-01_1, 2012-05-01, 42
processing file: , 289, 548350.json, 2012-05-02, 2012-05-02, 43
processing file: , 290, 548351.json, 2012-05-03, 2012-05-03, 44
processing file: , 291, 548352.json, 2012-05-04, 2012-05-04, 45
processing file: , 292, 548353.json, 2012-05-05, 2012-05-05, 46

In [8]:
df_merged.columns

Index(['index', 'batter', 'bowler', 'non_striker', 'extras.legbyes',
       'runs.batter', 'runs.extras', 'runs.total', 'extras.wides', 'wickets',
       'extras.byes', 'over', 'date', 'match_number', 'innings', 'stage',
       'extras.noballs', 'extras.penalty', 'replacements.role',
       'runs.non_boundary', 'review.by', 'review.umpire', 'review.batter',
       'review.decision', 'review.umpires_call', 'review.type',
       'replacements.match', 'wicket.kind', 'wicket.player_out',
       'wicket.fielders'],
      dtype='object')

In [9]:
ordered_cols = [
    "date",
    "match_number",
    "innings",
    "over",
    "batter",
    "bowler",
    "stage",
    "non_striker",
    "runs.batter",
    "runs.extras",
    "runs.total",
    "extras.legbyes",
    "extras.wides",
    "extras.byes",
    "extras.noballs",
    "wicket.kind",
    "wicket.player_out",
    "wicket.fielders",
    "wickets",
]

In [10]:
df_merged

,index,batter,bowler,non_striker,extras.legbyes,runs.batter,runs.extras,runs.total,extras.wides,wickets,...,review.by,review.umpire,review.batter,review.decision,review.umpires_call,review.type,replacements.match,wicket.kind,wicket.player_out,wicket.fielders
0,0,SC Ganguly,P Kumar,BB McCullum,1.0,0,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,1,BB McCullum,P Kumar,SC Ganguly,NaN,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
2,2,BB McCullum,P Kumar,SC Ganguly,NaN,0,1,1,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
3,3,BB McCullum,P Kumar,SC Ganguly,NaN,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
4,4,BB McCullum,P Kumar,SC Ganguly,NaN,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260754,62,SS Iyer,AK Markram,VR Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
260755,63,VR Iyer,AK Markram,SS Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
260756,64,VR Iyer,Shahbaz Ahmed,SS Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
260757,65,SS Iyer,Shahbaz Ahmed,VR Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
260758,66,VR Iyer,Shahbaz Ahmed,SS Iyer,NaN,1,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None

In [11]:
# df_merged = pd.read_csv("./output/ipl_ball_by_ball_output.csv")

In [12]:
df_merged = df_merged.reindex(columns=ordered_cols)
df_merged.sort_values(by=["date", "match_number"], inplace=True)

In [13]:
df_merged['season'] = df_merged['date'].str.slice(0,4)

In [14]:
df_wickets.to_csv("output/wickets.csv", index=False)

In [15]:
df_merged.to_csv("output/ipl_ball_by_ball_output.csv", index=False)

In [16]:
df_merged.head()

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,NaN,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,NaN,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008

In [17]:
df_merged.stage.value_counts()

stage
group                 244937
Final                   4086
Qualifier 1             3406
Qualifier 2             3392
Eliminator              2597
Semi Final              1409
Elimination Final        734
3rd Place Play-Off       198
Name: count, dtype: int64

#### Validate the resultant dataframe

In [18]:
df_merged.columns

Index(['date', 'match_number', 'innings', 'over', 'batter', 'bowler', 'stage',
       'non_striker', 'runs.batter', 'runs.extras', 'runs.total',
       'extras.legbyes', 'extras.wides', 'extras.byes', 'extras.noballs',
       'wicket.kind', 'wicket.player_out', 'wicket.fielders', 'wickets',
       'season'],
      dtype='object')

In [19]:
print("min date: ", df_merged["date"].min())
print("max date: ", df_merged["date"].max())

min date:  2008-04-18
max date:  2024-05-26

#### Since we have data for IPL matches between 2008 to 2024, the above date range looks right

In [20]:
df_merged["match_number"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 47, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76])

##### The above values for match_number looks right

In [21]:
df_merged["innings"].unique()

array([1, 2])

In [22]:
df_merged["over"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19], dtype=object)

In [23]:
sorted(df_merged["runs.batter"].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6)]

In [24]:
sorted(df_merged["runs.extras"].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(7)]

In [25]:
sorted(df_merged["runs.total"].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7)]

In [26]:
sorted(df_merged["extras.legbyes"].unique())

[np.float64(1.0),
 np.float64(nan),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0),
 np.float64(5.0)]

In [27]:
sorted(df_merged["extras.wides"].unique())

[np.float64(nan),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0),
 np.float64(5.0)]

In [28]:
sorted(df_merged["extras.byes"].unique())

[np.float64(nan),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0)]

In [29]:
sorted(df_merged["extras.noballs"].unique())

[np.float64(nan),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(5.0)]

In [30]:
df_merged["wicket.kind"].unique()

array([None, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field', 'retired out'], dtype=object)

In [31]:
df_merged["wicket.player_out"].unique()[:10]

array([None, 'SC Ganguly', 'RT Ponting', 'DJ Hussey', 'R Dravid',
       'V Kohli', 'JH Kallis', 'W Jaffer', 'MV Boucher', 'B Akhil'],
      dtype=object)

In [32]:
df_merged[~pd.isnull(df_merged["wicket.fielders"])]["wicket.fielders"].count()

np.int64(9342)

In [33]:
df_merged[~ pd.isnull(df_merged["wickets"])]['wickets'].count()

np.int64(12923)

In [34]:
df_merged

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,NaN,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,NaN,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260754,2024-05-26,73,2,9,SS Iyer,AK Markram,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260755,2024-05-26,73,2,9,VR Iyer,AK Markram,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260756,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260757,2024-05-26,73,2,10,SS Iyer,Shahbaz Ahmed,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260758,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024

In [35]:
df_merged

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,NaN,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,NaN,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,NaN,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260754,2024-05-26,73,2,9,SS Iyer,AK Markram,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260755,2024-05-26,73,2,9,VR Iyer,AK Markram,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260756,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260757,2024-05-26,73,2,10,SS Iyer,Shahbaz Ahmed,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024
260758,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,NaN,2024

In [36]:
df_merged.drop(columns='wickets',inplace=True)

In [37]:
df_merged.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})

/tmp/ipykernel_324315/19595509.py:1: FutureWarning: The provided callable <function sum at 0x76e5b05815a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_merged.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})
/tmp/ipykernel_324315/19595509.py:1: FutureWarning: The provided callable <function sum at 0x76e5b05815a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_merged.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})

                                                    runs.batter  runs.extras  \
date       match_number innings batter
2008-04-18 1            1       BB McCullum                 158           11
                                DJ Hussey                    12            0
                                Mohammad Hafeez               5            0
                                RT Ponting                   20            4
                                SC Ganguly                   10            2
...                                                         ...          ...
2024-05-26 73           1       TM Head                       0            0
                        2       Rahmanullah Gurbaz           39            7
                                SP Narine                     6            0
                                SS Iyer                       6            0
                                VR Iyer                      52            4

                                                    bowler
date       match_number innings batter
2008-04-18 1            1       BB McCullum             77
                                DJ Hussey               12
                                Mohammad Hafeez          3
                                RT Ponting              20
                                SC Ganguly              12
...                                                    ...
2024-05-26 73           1       TM Head                  1
                        2       Rahmanullah Gurbaz      35
                                SP Narine                2
                                SS Iyer                  3
                                VR Iyer                 27

[16515 rows x 3 columns]

In [38]:
df_merged.groupby(['date','match_number','innings','bowler','runs.batter']).agg({'runs.total':'sum','wicket.kind':'count','batter':'count'})

                                                           runs.total  \
date       match_number innings bowler        runs.batter
2008-04-18 1            1       AA Noffke     0                     6
                                              1                    11
                                              2                     4
                                              4                     8
                                              6                    12
...                                                               ...
2024-05-26 73           2       Shahbaz Ahmed 6                    12
                                T Natarajan   0                     2
                                              1                     5
                                              4                    16
                                              6                     6

                                                           wicket.kind  batter
date       match_number innings bowler        runs.batter
2008-04-18 1            1       AA Noffke     0                      1       8
                                              1                      0      11
                                              2                      0       2
                                              4                      0       2
                                              6                      0       2
...                                                                ...     ...
2024-05-26 73           2       Shahbaz Ahmed 6                      0       2
                                T Natarajan   0                      0       4
                                              1                      0       5
                                              4                      0       4
                                              6                      0       1

[54044 rows x 3 columns]

In [39]:
ball_by_ball = df_merged

### THE SUMMARY DATA

In [42]:
fields_to_skip = ["meta", "players", "registry", "innings"]

In [43]:
def flatten_json(y):
    out = {}

    def flatten(x, name=""):
        if type(x) is dict:
            for a in x:
                if a in fields_to_skip:
                    # print("skipping field: ", a)
                    pass
                else:
                    flatten(x[a], name + a + "_")
        elif type(x) is list:
            i = 1
            for a in x:
                flatten(a, name + str(i) + "_")
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [44]:
files = os.listdir(path="data")
print(files)

['1254103.json', '1136605.json', '1216501.json', '1082595.json', '829731.json', '1359507.json', '548315.json', '1304079.json', '1422119.json', '1178418.json', '1359487.json', '1359515.json', '336025.json', '729309.json', '1178407.json', '501239.json', '1178423.json', '1426305.json', '419107.json', '336036.json', '1426311.json', '1082637.json', '392232.json', '1216522.json', '1426307.json', '829713.json', '1136576.json', '1359498.json', '1082629.json', '1178413.json', '1216506.json', '1426282.json', '1082613.json', '1304105.json', '1082642.json', '1359514.json', '1216530.json', '980967.json', '1254067.json', '392225.json', '336032.json', '1304057.json', '548359.json', '1304061.json', '548314.json', '1136561.json', '335995.json', '1136620.json', '1359538.json', '598005.json', '1426266.json', '1359533.json', '1216494.json', '829807.json', '829767.json', '1304094.json', '1426281.json', '1136595.json', '980929.json', '1359496.json', '419114.json', '1304095.json', '1178406.json', '980911.json', '548341.json', '1136584.json', '419146.json', '1359509.json', '501211.json', '1136601.json', '829743.json', '419160.json', '980903.json', '980959.json', '1216499.json', '729291.json', '1082647.json', '729279.json', '1178430.json', '1178420.json', '598047.json', '1237181.json', '1304089.json', '1178426.json', '1359502.json', '829803.json', '1359536.json', '548339.json', '1254091.json', '336035.json', '598006.json', '1304055.json', '336031.json', '598001.json', '1178394.json', '501260.json', '1136602.json', '1216524.json', '419162.json', '501203.json', '829773.json', '335994.json', '1304068.json', '980981.json', '598009.json', '1312200.json', '548362.json', '1254087.json', '1304062.json', '1237177.json', '1359484.json', '1178412.json', '1082622.json', '419128.json', '392215.json', '1254060.json', '598026.json', '981011.json', '980919.json', '598056.json', '419119.json', '501244.json', '335997.json', '733985.json', '1254109.json', '548331.json', '1136579.json', '392206.json', '980949.json', '419153.json', '1216492.json', '548358.json', '501257.json', '419127.json', '501237.json', '598061.json', '548321.json', '501228.json', '1359483.json', '419143.json', '980915.json', '548327.json', '419136.json', '548364.json', '501243.json', '1082640.json', '419121.json', '1254117.json', '1426274.json', '829789.json', '419116.json', '1082610.json', '548351.json', '729317.json', '548369.json', '335992.json', '501200.json', '598022.json', '419150.json', '336018.json', '1136611.json', '1359494.json', '548354.json', '419165.json', '734041.json', '501224.json', '734043.json', '1254089.json', '419106.json', '336011.json', '1426267.json', '501214.json', '1216529.json', '729305.json', '598039.json', '548325.json', '336029.json', '1359527.json', '392199.json', '829817.json', '829783.json', '1304072.json', '392208.json', '598059.json', '1082636.json', '1254108.json', '548324.json', '1216520.json', '1254081.json', '1426268.json', '598063.json', '501223.json', '980941.json', '1136588.json', '1359512.json', '1178411.json', '501248.json', '1082606.json', '1216540.json', '734039.json', '1359520.json', '548317.json', '1359491.json', '1178398.json', '1181767.json', '1082614.json', '1082607.json', '336039.json', '980953.json', '392210.json', '1304076.json', '1216535.json', '336037.json', '1304104.json', '501234.json', '336010.json', '1136592.json', '598069.json', '1216545.json', '829769.json', '1426312.json', '548381.json', '1082639.json', '729287.json', '501265.json', '336020.json', '1082592.json', '1136590.json', '598073.json', '729285.json', '1175371.json', '1175359.json', '980991.json', '598014.json', '1216544.json', '829795.json', '392185.json', '1216536.json', '1178419.json', '392190.json', '1254107.json', '1254065.json', '1216521.json', '829719.json', '829815.json', '1254085.json', '829733.json', '336003.json', '1136583.json', '1422137.json', '1422123.json', '1304059.json', '548355.json', '598017.json', '419152.json', '598038.json', '501208.json', '980947.json', '419111.json', '1216502.json', '392216.json', '1422135.json', '1136613.json', '548346.json', '598066.json', '1136574.json', '1359530.json', '1178425.json', '1422121.json', '829797.json', '1178401.json', '1254115.json', '829811.json', '1426294.json', '598064.json', '729311.json', '598029.json', '1216538.json', '548334.json', '419129.json', '1082645.json', '829751.json', '548330.json', '392209.json', '1304085.json', '392227.json', '729301.json', '548328.json', '1178410.json', '1304109.json', '980933.json', '1304098.json', '1304099.json', '733975.json', '1254084.json', '1216537.json', '501213.json', '598018.json', '1216527.json', '1082621.json', '419154.json', '501254.json', '392235.json', '419131.json', '1082612.json', '1426289.json', '598008.json', '548349.json', '335983.json', '548319.json', '548335.json', '336015.json', '1359479.json', '548329.json', '501259.json', '548326.json', '501240.json', '1304106.json', '336019.json', '598020.json', '1426283.json', '1254093.json', '1216518.json', '1082620.json', '1178399.json', '1254063.json', '1370351.json', '501204.json', '1304056.json', '598065.json', '1082626.json', '1216514.json', '336021.json', '419147.json', '335982.json', '419118.json', '829717.json', '1082604.json', '1426264.json', '1178421.json', '598044.json', '1136581.json', '598003.json', '1359477.json', '392239.json', '1136578.json', '1178428.json', '501230.json', '1304052.json', '392229.json', '419137.json', '392220.json', '1254100.json', '548378.json', '1175369.json', '1370352.json', '1254104.json', '733983.json', '1304091.json', '1082650.json', '1181768.json', '419144.json', '729281.json', '548318.json', '392233.json', '734037.json', '829793.json', '548374.json', '598011.json', '1178405.json', '1136594.json', '1178395.json', '1254090.json', '1216525.json', '501231.json', '1136614.json', '1082603.json', '1304071.json', '734019.json', '598040.json', '597998.json', '734017.json', '392196.json', '1359519.json', '1254094.json', '501241.json', '548350.json', '598053.json', '548336.json', '729297.json', '336008.json', '980955.json', '1359541.json', '1304088.json', '1082608.json', '981017.json', '1422133.json', '1082594.json', '733987.json', '1304096.json', '1254061.json', '1254114.json', '392198.json', '335991.json', '392236.json', '598041.json', '980907.json', '1304108.json', '1426288.json', '548313.json', '829725.json', '501247.json', '980987.json', '501219.json', '1359504.json', '501221.json', '501268.json', '1426284.json', '1216533.json', '1136564.json', '1359501.json', '1136580.json', '1082638.json', '598036.json', '548309.json', '1359488.json', '1359516.json', '1359529.json', '419142.json', '1254077.json', '335987.json', '1175368.json', '1359481.json', '729283.json', '1136604.json', '1175358.json', '392200.json', '501215.json', '419125.json', '1426276.json', '1426265.json', '598025.json', '1359506.json', '419156.json', '1426280.json', '1254088.json', '548332.json', '419135.json', '1082617.json', '1359489.json', '1304064.json', '1426291.json', '1216515.json', '598007.json', '419113.json', '336006.json', '1304067.json', '1082615.json', '1178397.json', '1426278.json', '598058.json', '335985.json', '501263.json', '1136573.json', '336007.json', '419126.json', '1136607.json', '829723.json', '501198.json', '829781.json', '1178403.json', '392183.json', '829763.json', '1175370.json', '1254069.json', '1216496.json', '1304101.json', '1136577.json', '1136612.json', '1254086.json', '1426272.json', '733979.json', '598010.json', '1304069.json', '1254075.json', '734031.json', '335986.json', '419161.json', '1216531.json', '1216539.json', '336034.json', '1426271.json', '1426292.json', '734003.json', '419157.json', '734013.json', '1082602.json', '598062.json', '1359490.json', '1304065.json', '336033.json', '1216543.json', '980913.json', '501246.json', '1304115.json', '1254058.json', '598028.json', '1304116.json', '1216542.json', '1304080.json', '980977.json', '1216513.json', '1136597.json', '501252.json', '598068.json', '336023.json', '1136600.json', '392224.json', '1426261.json', '1254092.json', '1422136.json', '1426277.json', '1254097.json', '829765.json', '1359513.json', '1422128.json', '1359482.json', '734005.json', '980927.json', '829823.json', '1304114.json', '501238.json', '981015.json', '419164.json', '419139.json', '1254101.json', '501267.json', '1359510.json', '829721.json', '598034.json', '1216509.json', '598016.json', '392186.json', '336022.json', '980939.json', '1254112.json', '392238.json', '548308.json', '1136566.json', '598024.json', '1082593.json', '980969.json', '1422130.json', '1175364.json', '1304075.json', '1304111.json', '501261.json', '548307.json', '734021.json', '829737.json', '1254079.json', '829779.json', '501236.json', '1426309.json', '336028.json', '1254073.json', '419123.json', '419110.json', '1304113.json', '1254095.json', '1175372.json', '1304097.json', '1426270.json', '1359523.json', '392204.json', '392214.json', '1136610.json', '598052.json', '829747.json', '1216516.json', '598033.json', '1359537.json', '1082646.json', '501229.json', '734045.json', '598060.json', '1136569.json', '980973.json', '1136596.json', '392184.json', '829801.json', '1359540.json', '1136571.json', '1082623.json', '1082618.json', '1359497.json', '1178393.json', '1178402.json', '1178409.json', '980971.json', '1082591.json', '1422126.json', '1304048.json', '1178417.json', '1181764.json', '729293.json', '501210.json', '548370.json', '1426260.json', '1082644.json', '336040.json', '392202.json', '1254068.json', '1304090.json', '336000.json', '1426296.json', '829799.json', '1216528.json', '980935.json', '1175365.json', '501271.json', '1082616.json', '392207.json', '419120.json', '548322.json', '548310.json', '501207.json', '548379.json', '1254059.json', '336014.json', '1175366.json', '336004.json', '501206.json', '981009.json', '501218.json', '980943.json', '1426287.json', '1359518.json', '734035.json', '336017.json', '336002.json', '598070.json', '392197.json', '733991.json', '1237180.json', '1304112.json', '419133.json', '1304051.json', '419134.json', '1304047.json', '829729.json', '829715.json', '734015.json', '734027.json', '1082635.json', '548371.json', '336005.json', '1254096.json', '1178416.json', '548312.json', '548342.json', '392228.json', '548360.json', '1082627.json', '1359478.json', '1082596.json', '1175363.json', '1254062.json', '980983.json', '1359476.json', '733993.json', '1254105.json', '729315.json', '392231.json', '1422125.json', '1136575.json', '1216503.json', '1359544.json', '1304093.json', '829805.json', '1422129.json', '1304077.json', '548353.json', '1422131.json', '1136567.json', '1359525.json', '1082643.json', '980917.json', '1136572.json', '1359505.json', '1359517.json', '1216546.json', '598030.json', '548316.json', '598072.json', '734023.json', '548343.json', '419117.json', '419141.json', '501270.json', '829705.json', '981007.json', '1359522.json', '419108.json', '392191.json', '501202.json', '501216.json', '419163.json', '1304074.json', '1254106.json', '1175367.json', '980999.json', '548337.json', '1082649.json', '419138.json', '1216508.json', '392226.json', '1304060.json', '733995.json', '1136582.json', '1136609.json', '1178404.json', '548368.json', '1082599.json', '1359475.json', '1216517.json', '1237178.json', '980925.json', '1422139.json', '1254116.json', '1178396.json', '829707.json', '1304049.json', '1136570.json', '548367.json', '1136586.json', '733971.json', '1359486.json', '1082597.json', '597999.json', '392211.json', '733997.json', '1136589.json', '1304092.json', '1082630.json', '733977.json', '1136593.json', '1082609.json', '1359531.json', '1216493.json', '335993.json', '1304086.json', '1422124.json', '1136599.json', '392217.json', '1136585.json', '548306.json', '829735.json', '501199.json', '1426310.json', '1216498.json', '1136562.json', '1254070.json', '980993.json', '1304082.json', '1254072.json', '1178429.json', '729313.json', '501264.json', '1312198.json', '598057.json', '981019.json', '598054.json', '1426263.json', '980989.json', '1082611.json', '1178408.json', '501269.json', '1426293.json', '829759.json', '1136565.json', '980975.json', '501232.json', '392195.json', '1254098.json', '501205.json', '829813.json', '598013.json', '1216534.json', '1136568.json', '392212.json', '1312197.json', '419159.json', '729307.json', '1359539.json', '1359503.json', '548344.json', '598048.json', '419145.json', '1082632.json', '1426295.json', '1216512.json', '1216547.json', '1216505.json', '392194.json', '1178414.json', '1181766.json', '734025.json', '598055.json', '598031.json', '980921.json', '1082641.json', '1359500.json', '1175360.json', '1216523.json', '829821.json', '1426297.json', '598015.json', '336027.json', '1422134.json', '1082598.json', '1136615.json', '501212.json', '392219.json', '1359508.json', '1082601.json', '1254099.json', '1178422.json', '1426306.json', '1254078.json', '1254110.json', '1254076.json', '392230.json', '1359532.json', '980965.json', '419158.json', '1359499.json', '729303.json', '1175357.json', '548352.json', '1136598.json', '734001.json', '501256.json', '1426279.json', '501253.json', '1426302.json', '419109.json', '1304063.json', '1304102.json', '1359526.json', '729295.json', '1082625.json', '419155.json', '336038.json', '419115.json', '1136587.json', '598023.json', '981003.json', '392221.json', '501258.json', '548320.json', '392218.json', '829791.json', '1254071.json', '1178431.json', '1304078.json', '829711.json', '501250.json', '501227.json', '392192.json', '1175361.json', '829741.json', '598049.json', '1175362.json', '1304107.json', '501251.json', '1359535.json', '598021.json', '1082600.json', '1426290.json', '1304083.json', '1359521.json', '1178415.json', '1426285.json', '1304073.json', '1136617.json', '336026.json', '1082648.json', '501235.json', '1422122.json', '335988.json', '981005.json', '392223.json', '501266.json', '980931.json', '1254066.json', '1359511.json', '598043.json', '1216511.json', '1304087.json', '335990.json', '501233.json', '1370350.json', '548365.json', '980905.json', '1136606.json', '548348.json', '1422138.json', '392213.json', '1136619.json', '548377.json', '598032.json', '1216510.json', '1426262.json', '1426298.json', '598002.json', '1422127.json', '1304050.json', '1359542.json', '1304058.json', '392203.json', '548366.json', '598071.json', '1254102.json', '729299.json', '734049.json', '501242.json', '729289.json', '1136591.json', '548380.json', '501245.json', '1082631.json', '829761.json', '1359543.json', '1082605.json', '980985.json', '1359485.json', '1216500.json', '392181.json', '336012.json', '1426275.json', '1254113.json', '733981.json', '1216532.json', '829727.json', '1136608.json', '1216504.json', '501209.json', '598035.json', '1254082.json', '1254083.json', '1254111.json', '548376.json', '548323.json', '598067.json', '980963.json', '829709.json', '980937.json', '335999.json', '733999.json', '1082624.json', '419124.json', '1304103.json', '981001.json', '501255.json', '419148.json', '598050.json', '392222.json', '829739.json', '1304084.json', '336013.json', '1254080.json', '392201.json', '548311.json', '1359493.json', '1426286.json', '548347.json', '1178427.json', '598012.json', '1304100.json', '501249.json', '980957.json', '392234.json', '392189.json', '598019.json', '335998.json', '1359528.json', '1216526.json', '336024.json', '419112.json', '734033.json', '980901.json', '419140.json', '829787.json', '501220.json', '1178400.json', '733989.json', '419130.json', '980923.json', '1312199.json', '1359480.json', '548357.json', '392182.json', '501201.json', '1426299.json', '980945.json', '734009.json', '501222.json', '392205.json', '1136616.json', '548345.json', '1254064.json', '1254074.json', '734011.json', '335989.json', '392237.json', '419122.json', '1426300.json', '501226.json', '598046.json', '980951.json', '829785.json', '829775.json', '1426269.json', '1175356.json', '336016.json', '1304054.json', '548363.json', '829777.json', '1359534.json', '1422132.json', '829753.json', '980961.json', '598004.json', '419132.json', '419151.json', '1216519.json', '548356.json', '1304066.json', '501262.json', '1082628.json', '829809.json', '1426273.json', '548372.json', '734007.json', '1082633.json', '598027.json', '1178424.json', '829757.json', '501225.json', '734047.json', '548361.json', '1136618.json', '598042.json', '829745.json', '829749.json', '335996.json', '733973.json', '734029.json', '829771.json', '1359492.json', '392188.json', '1136563.json', '980909.json', '419149.json', 'test.txt', '598045.json', '980979.json', '548373.json', '1216495.json', '980997.json', '980995.json', '548375.json', '1136603.json', '1304110.json', '548333.json', '981013.json', '598000.json', '598051.json', '598037.json', '336001.json', '1426303.json', '1304070.json', '1304053.json', '1216541.json', '1216507.json', '1359495.json', '829819.json', '1216497.json', '1082634.json', '1359524.json', '336009.json', '335984.json', '1422120.json', '1304081.json', '1370353.json']

In [45]:
rows = list()
files = os.listdir(path="data")

files = list(filter(lambda x: str(x).endswith(".json"), files))
prev_match_number = -1
for file in files:
    print('procesaing file',file)
    try:
        file_name = "data/" + file
        with open(file_name, "r") as file:
            json_data = json.load(file)
            flattened_data = flatten_json(json_data)
            # if not   flattened_data['match_number'].isnumeric():
            #     flattened_data['match_number'] = prev_match_number + 1
            #     print("match number not presentin file_name:", file_name, "populating with: ", flattened_data['match_number'])
            # prev_match_number = flattened_data['match_number']
            rows.append(flattened_data)
    except:
        print(file_name)

procesaing file 1254103.json
procesaing file 1136605.json
procesaing file 1216501.json
procesaing file 1082595.json
procesaing file 829731.json
procesaing file 1359507.json
procesaing file 548315.json
procesaing file 1304079.json
procesaing file 1422119.json
procesaing file 1178418.json
procesaing file 1359487.json
procesaing file 1359515.json
procesaing file 336025.json
procesaing file 729309.json
procesaing file 1178407.json
procesaing file 501239.json
procesaing file 1178423.json
procesaing file 1426305.json
procesaing file 419107.json
procesaing file 336036.json
procesaing file 1426311.json
procesaing file 1082637.json
procesaing file 392232.json
procesaing file 1216522.json
procesaing file 1426307.json
procesaing file 829713.json
procesaing file 1136576.json
procesaing file 1359498.json
procesaing file 1082629.json
procesaing file 1178413.json
procesaing file 1216506.json
procesaing file 1426282.json
procesaing file 1082613.json
procesaing file 1304105.json
procesaing file 1082642.json
procesaing file 1359514.json
procesaing file 1216530.json
procesaing file 980967.json
procesaing file 1254067.json
procesaing file 392225.json
procesaing file 336032.json
procesaing file 1304057.json
procesaing file 548359.json
procesaing file 1304061.json
procesaing file 548314.json
procesaing file 1136561.json
procesaing file 335995.json
procesaing file 1136620.json
procesaing file 1359538.json
procesaing file 598005.json
procesaing file 1426266.json
procesaing file 1359533.json
procesaing file 1216494.json
procesaing file 829807.json
procesaing file 829767.json
procesaing file 1304094.json
procesaing file 1426281.json
procesaing file 1136595.json
procesaing file 980929.json
procesaing file 1359496.json
procesaing file 419114.json
procesaing file 1304095.json
procesaing file 1178406.json
procesaing file 980911.json
procesaing file 548341.json
procesaing file 1136584.json
procesaing file 419146.json
procesaing file 1359509.json
procesaing file 501211.json
procesaing file 1136601.json
procesaing file 829743.json
procesaing file 419160.json
procesaing file 980903.json
procesaing file 980959.json
procesaing file 1216499.json
procesaing file 729291.json
procesaing file 1082647.json
procesaing file 729279.json
procesaing file 1178430.json
procesaing file 1178420.json
procesaing file 598047.json
procesaing file 1237181.json
procesaing file 1304089.json
procesaing file 1178426.json
procesaing file 1359502.json
procesaing file 829803.json
procesaing file 1359536.json
procesaing file 548339.json
procesaing file 1254091.json
procesaing file 336035.json
procesaing file 598006.json
procesaing file 1304055.json
procesaing file 336031.json
procesaing file 598001.json
procesaing file 1178394.json
procesaing file 501260.json
procesaing file 1136602.json
procesaing file 1216524.json
procesaing file 419162.json
procesaing file 501203.json
procesaing file 829773.json
procesaing file 335994.json
procesaing file 1304068.json
procesaing file 980981.json
procesaing file 598009.json
procesaing file 1312200.json
procesaing file 548362.json
procesaing file 1254087.json
procesaing file 1304062.json
procesaing file 1237177.json
procesaing file 1359484.json
procesaing file 1178412.json
procesaing file 1082622.json
procesaing file 419128.json
procesaing file 392215.json
procesaing file 1254060.json
procesaing file 598026.json
procesaing file 981011.json
procesaing file 980919.json
procesaing file 598056.json
procesaing file 419119.json
procesaing file 501244.json
procesaing file 335997.json
procesaing file 733985.json
procesaing file 1254109.json
procesaing file 548331.json
procesaing file 1136579.json
procesaing file 392206.json
procesaing file 980949.json
procesaing file 419153.json
procesaing file 1216492.json
procesaing file 548358.json
procesaing file 501257.json
procesaing file 419127.json
procesaing file 501237.json
procesaing file 598061.json
procesaing file 548321.json
procesaing file 501228.json
procesaing file 1359483.json
procesaing file 419143.json
procesaing file 980915.json
procesaing file 548327.json
procesaing file 419136.json
procesaing file 548364.json
procesaing file 501243.json
procesaing file 1082640.json
procesaing file 419121.json
procesaing file 1254117.json
procesaing file 1426274.json
procesaing file 829789.json
procesaing file 419116.json
procesaing file 1082610.json
procesaing file 548351.json
procesaing file 729317.json
procesaing file 548369.json
procesaing file 335992.json
procesaing file 501200.json
procesaing file 598022.json
procesaing file 419150.json
procesaing file 336018.json
procesaing file 1136611.json
procesaing file 1359494.json
procesaing file 548354.json
procesaing file 419165.json
procesaing file 734041.json
procesaing file 501224.json
procesaing file 734043.json
procesaing file 1254089.json
procesaing file 419106.json
procesaing file 336011.json
procesaing file 1426267.json
procesaing file 501214.json
procesaing file 1216529.json
procesaing file 729305.json
procesaing file 598039.json
procesaing file 548325.json
procesaing file 336029.json
procesaing file 1359527.json
procesaing file 392199.json
procesaing file 829817.json
procesaing file 829783.json
procesaing file 1304072.json
procesaing file 392208.json
procesaing file 598059.json
procesaing file 1082636.json
procesaing file 1254108.json
procesaing file 548324.json
procesaing file 1216520.json
procesaing file 1254081.json
procesaing file 1426268.json
procesaing file 598063.json
procesaing file 501223.json
procesaing file 980941.json
procesaing file 1136588.json
procesaing file 1359512.json
procesaing file 1178411.json
procesaing file 501248.json
procesaing file 1082606.json
procesaing file 1216540.json
procesaing file 734039.json
procesaing file 1359520.json
procesaing file 548317.json
procesaing file 1359491.json
procesaing file 1178398.json
procesaing file 1181767.json
procesaing file 1082614.json
procesaing file 1082607.json
procesaing file 336039.json
procesaing file 980953.json
procesaing file 392210.json
procesaing file 1304076.json
procesaing file 1216535.json
procesaing file 336037.json
procesaing file 1304104.json
procesaing file 501234.json
procesaing file 336010.json
procesaing file 1136592.json
procesaing file 598069.json
procesaing file 1216545.json
procesaing file 829769.json
procesaing file 1426312.json
procesaing file 548381.json
procesaing file 1082639.json
procesaing file 729287.json
procesaing file 501265.json
procesaing file 336020.json
procesaing file 1082592.json
procesaing file 1136590.json
procesaing file 598073.json
procesaing file 729285.json
procesaing file 1175371.json
procesaing file 1175359.json
procesaing file 980991.json
procesaing file 598014.json
procesaing file 1216544.json
procesaing file 829795.json
procesaing file 392185.json
procesaing file 1216536.json
procesaing file 1178419.json
procesaing file 392190.json
procesaing file 1254107.json
procesaing file 1254065.json
procesaing file 1216521.json
procesaing file 829719.json
procesaing file 829815.json
procesaing file 1254085.json
procesaing file 829733.json
procesaing file 336003.json
procesaing file 1136583.json
procesaing file 1422137.json
procesaing file 1422123.json
procesaing file 1304059.json
procesaing file 548355.json
procesaing file 598017.json
procesaing file 419152.json
procesaing file 598038.json
procesaing file 501208.json
procesaing file 980947.json
procesaing file 419111.json
procesaing file 1216502.json
procesaing file 392216.json
procesaing file 1422135.json
procesaing file 1136613.json
procesaing file 548346.json
procesaing file 598066.json
procesaing file 1136574.json
procesaing file 1359530.json
procesaing file 1178425.json
procesaing file 1422121.json
procesaing file 829797.json
procesaing file 1178401.json
procesaing file 1254115.json
procesaing file 829811.json
procesaing file 1426294.json
procesaing file 598064.json
procesaing file 729311.json
procesaing file 598029.json
procesaing file 1216538.json
procesaing file 548334.json
procesaing file 419129.json
procesaing file 1082645.json
procesaing file 829751.json
procesaing file 548330.json
procesaing file 392209.json
procesaing file 1304085.json
procesaing file 392227.json
procesaing file 729301.json
procesaing file 548328.json
procesaing file 1178410.json
procesaing file 1304109.json
procesaing file 980933.json
procesaing file 1304098.json
procesaing file 1304099.json
procesaing file 733975.json
procesaing file 1254084.json
procesaing file 1216537.json
procesaing file 501213.json
procesaing file 598018.json
procesaing file 1216527.json
procesaing file 1082621.json
procesaing file 419154.json
procesaing file 501254.json
procesaing file 392235.json
procesaing file 419131.json
procesaing file 1082612.json
procesaing file 1426289.json
procesaing file 598008.json
procesaing file 548349.json
procesaing file 335983.json
procesaing file 548319.json
procesaing file 548335.json
procesaing file 336015.json
procesaing file 1359479.json
procesaing file 548329.json
procesaing file 501259.json
procesaing file 548326.json
procesaing file 501240.json
procesaing file 1304106.json
procesaing file 336019.json
procesaing file 598020.json
procesaing file 1426283.json
procesaing file 1254093.json
procesaing file 1216518.json
procesaing file 1082620.json
procesaing file 1178399.json
procesaing file 1254063.json
procesaing file 1370351.json
procesaing file 501204.json
procesaing file 1304056.json
procesaing file 598065.json
procesaing file 1082626.json
procesaing file 1216514.json
procesaing file 336021.json
procesaing file 419147.json
procesaing file 335982.json
procesaing file 419118.json
procesaing file 829717.json
procesaing file 1082604.json
procesaing file 1426264.json
procesaing file 1178421.json
procesaing file 598044.json
procesaing file 1136581.json
procesaing file 598003.json
procesaing file 1359477.json
procesaing file 392239.json
procesaing file 1136578.json
procesaing file 1178428.json
procesaing file 501230.json
procesaing file 1304052.json
procesaing file 392229.json
procesaing file 419137.json
procesaing file 392220.json
procesaing file 1254100.json
procesaing file 548378.json
procesaing file 1175369.json
procesaing file 1370352.json
procesaing file 1254104.json
procesaing file 733983.json
procesaing file 1304091.json
procesaing file 1082650.json
procesaing file 1181768.json
procesaing file 419144.json
procesaing file 729281.json
procesaing file 548318.json
procesaing file 392233.json
procesaing file 734037.json
procesaing file 829793.json
procesaing file 548374.json
procesaing file 598011.json
procesaing file 1178405.json
procesaing file 1136594.json
procesaing file 1178395.json
procesaing file 1254090.json
procesaing file 1216525.json
procesaing file 501231.json
procesaing file 1136614.json
procesaing file 1082603.json
procesaing file 1304071.json
procesaing file 734019.json
procesaing file 598040.json
procesaing file 597998.json
procesaing file 734017.json
procesaing file 392196.json
procesaing file 1359519.json
procesaing file 1254094.json
procesaing file 501241.json
procesaing file 548350.json
procesaing file 598053.json
procesaing file 548336.json
procesaing file 729297.json
procesaing file 336008.json
procesaing file 980955.json
procesaing file 1359541.json
procesaing file 1304088.json
procesaing file 1082608.json
procesaing file 981017.json
procesaing file 1422133.json
procesaing file 1082594.json
procesaing file 733987.json
procesaing file 1304096.json
procesaing file 1254061.json
procesaing file 1254114.json
procesaing file 392198.json
procesaing file 335991.json
procesaing file 392236.json
procesaing file 598041.json
procesaing file 980907.json
procesaing file 1304108.json
procesaing file 1426288.json
procesaing file 548313.json
procesaing file 829725.json
procesaing file 501247.json
procesaing file 980987.json
procesaing file 501219.json
procesaing file 1359504.json
procesaing file 501221.json
procesaing file 501268.json
procesaing file 1426284.json
procesaing file 1216533.json
procesaing file 1136564.json
procesaing file 1359501.json
procesaing file 1136580.json
procesaing file 1082638.json
procesaing file 598036.json
procesaing file 548309.json
procesaing file 1359488.json
procesaing file 1359516.json
procesaing file 1359529.json
procesaing file 419142.json
procesaing file 1254077.json
procesaing file 335987.json
procesaing file 1175368.json
procesaing file 1359481.json
procesaing file 729283.json
procesaing file 1136604.json
procesaing file 1175358.json
procesaing file 392200.json
procesaing file 501215.json
procesaing file 419125.json
procesaing file 1426276.json
procesaing file 1426265.json
procesaing file 598025.json
procesaing file 1359506.json
procesaing file 419156.json
procesaing file 1426280.json
procesaing file 1254088.json
procesaing file 548332.json
procesaing file 419135.json
procesaing file 1082617.json
procesaing file 1359489.json
procesaing file 1304064.json
procesaing file 1426291.json
procesaing file 1216515.json
procesaing file 598007.json
procesaing file 419113.json
procesaing file 336006.json
procesaing file 1304067.json
procesaing file 1082615.json
procesaing file 1178397.json
procesaing file 1426278.json
procesaing file 598058.json
procesaing file 335985.json
procesaing file 501263.json
procesaing file 1136573.json
procesaing file 336007.json
procesaing file 419126.json
procesaing file 1136607.json
procesaing file 829723.json
procesaing file 501198.json
procesaing file 829781.json
procesaing file 1178403.json
procesaing file 392183.json
procesaing file 829763.json
procesaing file 1175370.json
procesaing file 1254069.json
procesaing file 1216496.json
procesaing file 1304101.json
procesaing file 1136577.json
procesaing file 1136612.json
procesaing file 1254086.json
procesaing file 1426272.json
procesaing file 733979.json
procesaing file 598010.json
procesaing file 1304069.json
procesaing file 1254075.json
procesaing file 734031.json
procesaing file 335986.json
procesaing file 419161.json
procesaing file 1216531.json
procesaing file 1216539.json
procesaing file 336034.json
procesaing file 1426271.json
procesaing file 1426292.json
procesaing file 734003.json
procesaing file 419157.json
procesaing file 734013.json
procesaing file 1082602.json
procesaing file 598062.json
procesaing file 1359490.json
procesaing file 1304065.json
procesaing file 336033.json
procesaing file 1216543.json
procesaing file 980913.json
procesaing file 501246.json
procesaing file 1304115.json
procesaing file 1254058.json
procesaing file 598028.json
procesaing file 1304116.json
procesaing file 1216542.json
procesaing file 1304080.json
procesaing file 980977.json
procesaing file 1216513.json
procesaing file 1136597.json
procesaing file 501252.json
procesaing file 598068.json
procesaing file 336023.json
procesaing file 1136600.json
procesaing file 392224.json
procesaing file 1426261.json
procesaing file 1254092.json
procesaing file 1422136.json
procesaing file 1426277.json
procesaing file 1254097.json
procesaing file 829765.json
procesaing file 1359513.json
procesaing file 1422128.json
procesaing file 1359482.json
procesaing file 734005.json
procesaing file 980927.json
procesaing file 829823.json
procesaing file 1304114.json
procesaing file 501238.json
procesaing file 981015.json
procesaing file 419164.json
procesaing file 419139.json
procesaing file 1254101.json
procesaing file 501267.json
procesaing file 1359510.json
procesaing file 829721.json
procesaing file 598034.json
procesaing file 1216509.json
procesaing file 598016.json
procesaing file 392186.json
procesaing file 336022.json
procesaing file 980939.json
procesaing file 1254112.json
procesaing file 392238.json
procesaing file 548308.json
procesaing file 1136566.json
procesaing file 598024.json
procesaing file 1082593.json
procesaing file 980969.json
procesaing file 1422130.json
procesaing file 1175364.json
procesaing file 1304075.json
procesaing file 1304111.json
procesaing file 501261.json
procesaing file 548307.json
procesaing file 734021.json
procesaing file 829737.json
procesaing file 1254079.json
procesaing file 829779.json
procesaing file 501236.json
procesaing file 1426309.json
procesaing file 336028.json
procesaing file 1254073.json
procesaing file 419123.json
procesaing file 419110.json
procesaing file 1304113.json
procesaing file 1254095.json
procesaing file 1175372.json
procesaing file 1304097.json
procesaing file 1426270.json
procesaing file 1359523.json
procesaing file 392204.json
procesaing file 392214.json
procesaing file 1136610.json
procesaing file 598052.json
procesaing file 829747.json
procesaing file 1216516.json
procesaing file 598033.json
procesaing file 1359537.json
procesaing file 1082646.json
procesaing file 501229.json
procesaing file 734045.json
procesaing file 598060.json
procesaing file 1136569.json
procesaing file 980973.json
procesaing file 1136596.json
procesaing file 392184.json
procesaing file 829801.json
procesaing file 1359540.json
procesaing file 1136571.json
procesaing file 1082623.json
procesaing file 1082618.json
procesaing file 1359497.json
procesaing file 1178393.json
procesaing file 1178402.json
procesaing file 1178409.json
procesaing file 980971.json
procesaing file 1082591.json
procesaing file 1422126.json
procesaing file 1304048.json
procesaing file 1178417.json
procesaing file 1181764.json
procesaing file 729293.json
procesaing file 501210.json
procesaing file 548370.json
procesaing file 1426260.json
procesaing file 1082644.json
procesaing file 336040.json
procesaing file 392202.json
procesaing file 1254068.json
procesaing file 1304090.json
procesaing file 336000.json
procesaing file 1426296.json
procesaing file 829799.json
procesaing file 1216528.json
procesaing file 980935.json
procesaing file 1175365.json
procesaing file 501271.json
procesaing file 1082616.json
procesaing file 392207.json
procesaing file 419120.json
procesaing file 548322.json
procesaing file 548310.json
procesaing file 501207.json
procesaing file 548379.json
procesaing file 1254059.json
procesaing file 336014.json
procesaing file 1175366.json
procesaing file 336004.json
procesaing file 501206.json
procesaing file 981009.json
procesaing file 501218.json
procesaing file 980943.json
procesaing file 1426287.json
procesaing file 1359518.json
procesaing file 734035.json
procesaing file 336017.json
procesaing file 336002.json
procesaing file 598070.json
procesaing file 392197.json
procesaing file 733991.json
procesaing file 1237180.json
procesaing file 1304112.json
procesaing file 419133.json
procesaing file 1304051.json
procesaing file 419134.json
procesaing file 1304047.json
procesaing file 829729.json
procesaing file 829715.json
procesaing file 734015.json
procesaing file 734027.json
procesaing file 1082635.json
procesaing file 548371.json
procesaing file 336005.json
procesaing file 1254096.json
procesaing file 1178416.json
procesaing file 548312.json
procesaing file 548342.json
procesaing file 392228.json
procesaing file 548360.json
procesaing file 1082627.json
procesaing file 1359478.json
procesaing file 1082596.json
procesaing file 1175363.json
procesaing file 1254062.json
procesaing file 980983.json
procesaing file 1359476.json
procesaing file 733993.json
procesaing file 1254105.json
procesaing file 729315.json
procesaing file 392231.json
procesaing file 1422125.json
procesaing file 1136575.json
procesaing file 1216503.json
procesaing file 1359544.json
procesaing file 1304093.json
procesaing file 829805.json
procesaing file 1422129.json
procesaing file 1304077.json
procesaing file 548353.json
procesaing file 1422131.json
procesaing file 1136567.json
procesaing file 1359525.json
procesaing file 1082643.json
procesaing file 980917.json
procesaing file 1136572.json
procesaing file 1359505.json
procesaing file 1359517.json
procesaing file 1216546.json
procesaing file 598030.json
procesaing file 548316.json
procesaing file 598072.json
procesaing file 734023.json
procesaing file 548343.json
procesaing file 419117.json
procesaing file 419141.json
procesaing file 501270.json
procesaing file 829705.json
procesaing file 981007.json

In [46]:
# Create a DataFrame with a single row
ipl_summary = pd.DataFrame(rows)

In [47]:
ipl_summary

,info_balls_per_over,info_city,info_dates_1,info_event_name,info_event_match_number,info_gender,info_match_type,info_officials_match_referees_1,info_officials_reserve_umpires_1,info_officials_tv_umpires_1,...,info_teams_2,info_toss_decision,info_toss_winner,info_venue,info_outcome_by_runs,info_outcome_method,info_event_stage,info_outcome_result,info_outcome_eliminator,info_dates_2
0,6,Dubai,2021-09-29,Indian Premier League,43.0,male,T20,M Nayyar,K Srinivasan,RK Illingworth,...,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Dubai International Cricket Stadium,NaN,NaN,NaN,NaN,NaN,NaN
1,6,Delhi,2018-05-12,Indian Premier League,45.0,male,T20,Prakash Bhatt,K Srinath,AK Chaudhary,...,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Arun Jaitley Stadium,NaN,NaN,NaN,NaN,NaN,NaN
2,6,Abu Dhabi,2020-10-07,Indian Premier League,21.0,male,T20,V Narayan Kutty,K Srinivasan,C Shamshuddin,...,Chennai Super Kings,bat,Kolkata Knight Riders,Sheikh Zayed Stadium,10.0,NaN,NaN,NaN,NaN,NaN
3,6,Bengaluru,2017-04-08,Indian Premier League,5.0,male,T20,J Srinath,Navdeep Singh,A Nand Kishore,...,Delhi Daredevils,bat,Royal Challengers Bangalore,M.Chinnaswamy Stadium,15.0,NaN,NaN,NaN,NaN,NaN
4,6,Visakhapatnam,2015-04-18,Indian Premier League,13.0,male,T20,M Nayyar,VK Sharma,C Shamshuddin,...,Delhi Daredevils,bat,Delhi Daredevils,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,4.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,6,Delhi,2008-05-08,Indian Premier League,28.0,male,T20,CH Lloyd,NaN,K Hariharan,...,Chennai Super Kings,field,Chennai Super Kings,Feroz Shah Kotla,NaN,NaN,NaN,NaN,NaN,NaN
1091,6,Delhi,2008-04-19,Indian Premier League,3.0,male,T20,GR Viswanath,NaN,IL Howell,...,Rajasthan Royals,bat,Rajasthan Royals,Feroz Shah Kotla,NaN,NaN,NaN,NaN,NaN,NaN
1092,6,Mohali,2024-03-23,Indian Premier League,2.0,male,T20,V Narayan Kutty,PM Joshi,AG Wharf,...,Punjab Kings,field,Punjab Kings,Maharaja Yadavindra Singh International Cricke...,NaN,NaN,NaN,NaN,NaN,NaN
1093,6,Navi Mumbai,2022-04-23,Indian Premier League,35.0,male,T20,V Narayan Kutty,Vinod Seshan,BNJ Oxenford,...,Kolkata Knight Riders,bat,Gujarat Titans,"Dr DY Patil Sports Academy, Mumbai",8.0,NaN,NaN,NaN,NaN,NaN
1094,6,Ahmedabad,2023-05-29,Indian Premier League,NaN,male,T20,J Srinath,J Madanagopal,KN Ananthapadmanabhan,...,Chennai Super Kings,field,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,D/L,Final,NaN,NaN,NaN

In [48]:
ipl_summary.to_csv("output/ipl_summary_raw.csv", index=False)

In [49]:
ipl_summary.head()

,info_balls_per_over,info_city,info_dates_1,info_event_name,info_event_match_number,info_gender,info_match_type,info_officials_match_referees_1,info_officials_reserve_umpires_1,info_officials_tv_umpires_1,...,info_teams_2,info_toss_decision,info_toss_winner,info_venue,info_outcome_by_runs,info_outcome_method,info_event_stage,info_outcome_result,info_outcome_eliminator,info_dates_2
0,6,Dubai,2021-09-29,Indian Premier League,43.0,male,T20,M Nayyar,K Srinivasan,RK Illingworth,...,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Dubai International Cricket Stadium,NaN,NaN,NaN,NaN,NaN,NaN
1,6,Delhi,2018-05-12,Indian Premier League,45.0,male,T20,Prakash Bhatt,K Srinath,AK Chaudhary,...,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Arun Jaitley Stadium,NaN,NaN,NaN,NaN,NaN,NaN
2,6,Abu Dhabi,2020-10-07,Indian Premier League,21.0,male,T20,V Narayan Kutty,K Srinivasan,C Shamshuddin,...,Chennai Super Kings,bat,Kolkata Knight Riders,Sheikh Zayed Stadium,10.0,NaN,NaN,NaN,NaN,NaN
3,6,Bengaluru,2017-04-08,Indian Premier League,5.0,male,T20,J Srinath,Navdeep Singh,A Nand Kishore,...,Delhi Daredevils,bat,Royal Challengers Bangalore,M.Chinnaswamy Stadium,15.0,NaN,NaN,NaN,NaN,NaN
4,6,Visakhapatnam,2015-04-18,Indian Premier League,13.0,male,T20,M Nayyar,VK Sharma,C Shamshuddin,...,Delhi Daredevils,bat,Delhi Daredevils,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,4.0,NaN,NaN,NaN,NaN,NaN

In [50]:
def remove_prefix(x: str, to_replace: str, replace_by: str):
    return x.replace(to_replace, replace_by)

In [51]:
ipl_summary.rename(
    lambda x: remove_prefix(str(x), to_replace="info_", replace_by=""),
    inplace=True,
    axis=1,
)

In [52]:
ipl_summary.rename(
    lambda x: remove_prefix(str(x), to_replace=" ", replace_by="_"),
    inplace=True,
    axis=1,
)

In [53]:
ipl_summary.rename(lambda x: str(x).lower(), inplace=True, axis=1)

In [54]:
ipl_summary.head()

,balls_per_over,city,dates_1,event_name,event_match_number,gender,match_type,officials_match_referees_1,officials_reserve_umpires_1,officials_tv_umpires_1,...,teams_2,toss_decision,toss_winner,venue,outcome_by_runs,outcome_method,event_stage,outcome_result,outcome_eliminator,dates_2
0,6,Dubai,2021-09-29,Indian Premier League,43.0,male,T20,M Nayyar,K Srinivasan,RK Illingworth,...,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Dubai International Cricket Stadium,NaN,NaN,NaN,NaN,NaN,NaN
1,6,Delhi,2018-05-12,Indian Premier League,45.0,male,T20,Prakash Bhatt,K Srinath,AK Chaudhary,...,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Arun Jaitley Stadium,NaN,NaN,NaN,NaN,NaN,NaN
2,6,Abu Dhabi,2020-10-07,Indian Premier League,21.0,male,T20,V Narayan Kutty,K Srinivasan,C Shamshuddin,...,Chennai Super Kings,bat,Kolkata Knight Riders,Sheikh Zayed Stadium,10.0,NaN,NaN,NaN,NaN,NaN
3,6,Bengaluru,2017-04-08,Indian Premier League,5.0,male,T20,J Srinath,Navdeep Singh,A Nand Kishore,...,Delhi Daredevils,bat,Royal Challengers Bangalore,M.Chinnaswamy Stadium,15.0,NaN,NaN,NaN,NaN,NaN
4,6,Visakhapatnam,2015-04-18,Indian Premier League,13.0,male,T20,M Nayyar,VK Sharma,C Shamshuddin,...,Delhi Daredevils,bat,Delhi Daredevils,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,4.0,NaN,NaN,NaN,NaN,NaN

In [55]:
def populate_team_1(row):
    toss_winner = row["toss_winner"]
    if row["toss_decision"] == "bat":
        team_1 = row["toss_winner"]
    else:
        teams_1 = row["teams_1"]
        teams_2 = row["teams_2"]
        team_1 = teams_2 if toss_winner == teams_1 else teams_1

    return team_1

In [56]:
ipl_summary["team_1"] = ipl_summary.apply(populate_team_1, axis=1)

In [57]:
def populate_team_2(row):
    toss_winner = row["toss_winner"]
    if row["toss_decision"] == "field":
        team_2 = row["toss_winner"]
    else:
        teams_1 = row["teams_1"]
        teams_2 = row["teams_2"]
        team_2 = teams_2 if toss_winner == teams_1 else teams_1

    return team_2

In [58]:
ipl_summary["team_2"] = ipl_summary.apply(populate_team_2, axis=1)

In [59]:
ipl_summary.columns

Index(['balls_per_over', 'city', 'dates_1', 'event_name', 'event_match_number',
       'gender', 'match_type', 'officials_match_referees_1',
       'officials_reserve_umpires_1', 'officials_tv_umpires_1',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_winner',
       'outcome_by_wickets', 'overs', 'player_of_match_1', 'season',
       'team_type', 'teams_1', 'teams_2', 'toss_decision', 'toss_winner',
       'venue', 'outcome_by_runs', 'outcome_method', 'event_stage',
       'outcome_result', 'outcome_eliminator', 'dates_2', 'team_1', 'team_2'],
      dtype='object')

In [60]:
sel_cols = [
    "teams_1",
    "teams_2",
    "toss_decision",
    "toss_winner",
    "outcome_winner",
    "team_1",
    "team_2",
]
ipl_summary[sel_cols].head()

,teams_1,teams_2,toss_decision,toss_winner,outcome_winner,team_1,team_2
0,Rajasthan Royals,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Royal Challengers Bangalore,Rajasthan Royals,Royal Challengers Bangalore
1,Delhi Daredevils,Royal Challengers Bangalore,field,Royal Challengers Bangalore,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore
2,Kolkata Knight Riders,Chennai Super Kings,bat,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Chennai Super Kings
3,Royal Challengers Bangalore,Delhi Daredevils,bat,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,Delhi Daredevils
4,Sunrisers Hyderabad,Delhi Daredevils,bat,Delhi Daredevils,Delhi Daredevils,Delhi Daredevils,Sunrisers Hyderabad

In [61]:
ipl_summary.drop(columns=["teams_1", "teams_2"], inplace=True)

### Following columns have only a single value and so can be dropped from the dataframe

1. balls_per_over
2. event_name
3. gender
4. match_type
5. overs
6. team_type

In [62]:
ipl_summary["balls_per_over"].value_counts()

balls_per_over
6    1095
Name: count, dtype: int64

In [63]:
ipl_summary["event_name"].value_counts()

event_name
Indian Premier League    1095
Name: count, dtype: int64

In [64]:
ipl_summary["gender"].value_counts()

gender
male    1095
Name: count, dtype: int64

In [65]:
ipl_summary["match_type"].value_counts()

match_type
T20    1095
Name: count, dtype: int64

In [66]:
ipl_summary["overs"].value_counts()

overs
20    1095
Name: count, dtype: int64

In [67]:
ipl_summary["team_type"].value_counts()

team_type
club    1095
Name: count, dtype: int64

In [68]:
ipl_summary.drop(
    columns=[
        "balls_per_over",
        "event_name",
        "gender",
        "match_type",
        "overs",
        "team_type",
    ],
    inplace=True,
)

### Season has 2016 represented as string and numeric and so it is showing up as two different values. Convert to str type

In [69]:
ipl_summary[ipl_summary["season"].apply(lambda x: str(x).strip().find("2016") != -1)][
    "season"
].value_counts()

season
2016    59
2016     1
Name: count, dtype: int64

In [70]:
ipl_summary["season"] = ipl_summary["season"].astype(str)

In [71]:
ipl_summary.season.value_counts()

season
2013       76
2023       74
2012       74
2022       74
2011       73
2024       71
2021       60
2020/21    60
2018       60
2016       60
2009/10    60
2014       60
2019       60
2017       59
2015       59
2007/08    58
2009       57
Name: count, dtype: int64

In [72]:
ipl_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city                         1044 non-null   object
 1   dates_1                      1095 non-null   object
 2   event_match_number           1029 non-null   float64
 3   officials_match_referees_1   1095 non-null   object
 4   officials_reserve_umpires_1  1071 non-null   object
 5   officials_tv_umpires_1       1091 non-null   object
 6   officials_umpires_1          1095 non-null   object
 7   officials_umpires_2          1095 non-null   object
 8   outcome_winner               1076 non-null   object
 9   outcome_by_wickets           578 non-null    float64
 10  player_of_match_1            1090 non-null   object
 11  season                       1095 non-null   object
 12  toss_decision                1095 non-null   object
 13  toss_winner                  1095 non-null   object
 14  venue                        1095 non-null   object
 15  outcome_by_runs              498 non-null    float64
 16  outcome_method               21 non-null     object
 17  event_stage                  66 non-null     object
 18  outcome_result               19 non-null     object
 19  outcome_eliminator           14 non-null     object
 20  dates_2                      2 non-null      object
 21  team_1                       1095 non-null   object
 22  team_2                       1095 non-null   object
dtypes: float64(3), object(20)
memory usage: 196.9+ KB

In [73]:
ipl_summary.loc[ipl_summary["event_match_number"].isnull(), "event_match_number"] = -1

In [74]:
ipl_summary["event_match_number"] = ipl_summary["event_match_number"].astype(int)

In [75]:
ipl_summary["event_match_number"].unique()

array([43, 45, 21,  5, 13, 33, 10,  1, 41, 16, 32, 42, 48, 67,  2, 53, -1,
       47, 52, 69, 24, 39, 38, 44, 23, 59, 40, 54, 34, 50, 11, 15,  9, 64,
        8, 28, 31, 35, 22, 49,  6, 14, 19, 55, 30,  7, 51, 62,  4, 63, 57,
       37, 20,  3, 56, 25, 26, 60, 65, 46, 36, 12, 27, 29, 17, 18, 66, 58,
       72, 68, 61, 70, 71])

In [76]:
ipl_summary.describe()

       event_match_number  outcome_by_wickets  outcome_by_runs
count         1095.000000          578.000000       498.000000
mean            29.479452            6.192042        30.104418
std             19.388911            1.845733        26.739844
min             -1.000000            1.000000         1.000000
25%             13.000000            5.000000        11.000000
50%             29.000000            6.000000        22.000000
75%             45.000000            7.000000        41.000000
max             72.000000           10.000000       146.000000

In [77]:
for col in ipl_summary.columns:
    print(col, ipl_summary[col].dtype, sep=" => ")

city => object
dates_1 => object
event_match_number => int64
officials_match_referees_1 => object
officials_reserve_umpires_1 => object
officials_tv_umpires_1 => object
officials_umpires_1 => object
officials_umpires_2 => object
outcome_winner => object
outcome_by_wickets => float64
player_of_match_1 => object
season => object
toss_decision => object
toss_winner => object
venue => object
outcome_by_runs => float64
outcome_method => object
event_stage => object
outcome_result => object
outcome_eliminator => object
dates_2 => object
team_1 => object
team_2 => object

# Handle Missing Values

In [78]:
# populate missing city values based on the stadium
ipl_summary.loc[ipl_summary["venue"] == "Sharjah Cricket Stadium", "city"] = "Sharjah"
ipl_summary.loc[ipl_summary["venue"] == "Dubai International Cricket Stadium", "city"] = "Dubai"

In [79]:
# Drop dates_2 and outcome_eliminator columns as it has 98% missing values
ipl_summary = ipl_summary.drop(columns=["dates_2", "outcome_eliminator"])

In [80]:
# Defaulting the event_stage to group_stage as it is left blank
ipl_summary.loc[ipl_summary["event_stage"].isnull(), "event_stage"] = "group_stage"

In [81]:
ipl_summary['outcome_result']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1090    NaN
1091    NaN
1092    NaN
1093    NaN
1094    NaN
Name: outcome_result, Length: 1095, dtype: object

In [82]:
ipl_summary.loc[ipl_summary["outcome_winner"].isnull(), "outcome_winner"] = ipl_summary["outcome_result"]

In [83]:
ipl_summary.loc[ipl_summary["outcome_method"].isnull(), "outcome_method"] = "regular"

In [84]:
# drop outcome_result as it is merged in the outcome_winner column
ipl_summary.drop(columns=["outcome_result"], inplace=True)

In [85]:
# Fix season values
ipl_summary.loc[ipl_summary["season"] == "2007/08", "season"] = "2008"
ipl_summary.loc[ipl_summary["season"] == "2009/10", "season"] = "2010"
ipl_summary.loc[ipl_summary["season"] == "2020/21", "season"] = "2020"

In [86]:
ipl_summary["season"].value_counts().sort_index()

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
2021    60
2022    74
2023    74
2024    71
Name: count, dtype: int64

In [87]:
ipl_summary["season"] = ipl_summary["season"].astype(int)

In [88]:
# Handle event_match_number
print(len(ipl_summary.loc[ipl_summary["event_match_number"] == -1, "event_match_number"]))
ipl_summary.loc[ipl_summary["event_match_number"] == -1, ["season", "dates_1"]].sort_values(by="dates_1")

66

      season     dates_1
853     2008  2008-05-30
207     2008  2008-05-31
610     2008  2008-06-01
1015    2009  2009-05-22
546     2009  2009-05-23
...      ...         ...
1094    2023  2023-05-29
563     2024  2024-05-21
759     2024  2024-05-22
20      2024  2024-05-24
220     2024  2024-05-26

[66 rows x 2 columns]

In [89]:
# Not using this as we are populating the missing match numbers with event stage
def populate_match_numbers(df, season):
    df_part = df.loc[
        (df["season"] == season) & (df["event_match_number"].isnull()),
        ["event_match_number", "dates_1"],
    ].sort_values(by="dates_1")
    max_match_number = df[df["season"] == season]["event_match_number"].max() + 1
    print(df_part)
    for index, _ in df_part.iterrows():
        df.loc[index, "event_match_number"] = max_match_number
        max_match_number += 1

    print(df)

In [90]:
# Not using this as we are populating the missing match numbers with event stage
def populate_match_numbers_across_seasons(df):
    for seas in df.season.unique():
        populate_match_numbers(df, seas)

In [91]:
# Not using this as we are populating the missing match numbers with event stage
# populate_match_numbers_across_seasons(df)

In [92]:
# note that this would convert the null values to string "nan"
ipl_summary["event_match_number"] = ipl_summary["event_match_number"].astype(str)

In [93]:
ipl_summary.sort_values(by='dates_1',inplace=True)

In [94]:
ipl_summary.loc[ipl_summary["event_match_number"] == "-1", ["event_match_number"]] = ipl_summary["event_stage"]

In [95]:
ipl_summary['match_number'] = 0

In [96]:
prev_match_number = -1
for match_number,season in zip(ipl_summary['event_match_number'],ipl_summary['season']):

    if match_number.isnumeric():
        ipl_summary.loc[(ipl_summary["event_match_number"] == match_number) &(ipl_summary['season'] == season) , ["match_number"]] = int(
            match_number
        )
    else:
        int_match_number= prev_match_number+1
        ipl_summary.loc[
            (ipl_summary["event_match_number"] == match_number) & (ipl_summary["season"] == season),
            ["match_number"],
        ] = int_match_number
        match_number = int_match_number
    prev_match_number = int(match_number)

In [97]:
ipl_summary['match_number'].value_counts()

match_number
56    22
58    19
1     17
4     17
5     17
      ..
69     6
66     5
63     5
74     5
75     2
Name: count, Length: 75, dtype: int64

In [98]:
ipl_summary["match_number"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       19, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 42, 41, 43, 44, 45, 46, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 58, 59, 47, 57, 60, 61, 62, 63, 64, 65, 66, 68, 67,
       69, 70, 71, 72, 73, 74, 75])

In [99]:
pd.Series(ipl_summary["venue"].unique())

0                                 M Chinnaswamy Stadium
1            Punjab Cricket Association Stadium, Mohali
2                                      Feroz Shah Kotla
3                                          Eden Gardens
4                                      Wankhede Stadium
5                                Sawai Mansingh Stadium
6             Rajiv Gandhi International Stadium, Uppal
7                       MA Chidambaram Stadium, Chepauk
8                            Dr DY Patil Sports Academy
9                                              Newlands
10                                     St George's Park
11                                            Kingsmead
12                                      SuperSport Park
13                                         Buffalo Park
14                                New Wanderers Stadium
15                                De Beers Diamond Oval
16                                      OUTsurance Oval
17                                    Brabourne Stadium
18                         Sardar Patel Stadium, Motera
19                                     Barabati Stadium
20                            Brabourne Stadium, Mumbai
21         Vidarbha Cricket Association Stadium, Jamtha
22         Himachal Pradesh Cricket Association Stadium
23                                        Nehru Stadium
24                               Holkar Cricket Stadium
25    Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
26                           Subrata Roy Sahara Stadium
27              Maharashtra Cricket Association Stadium
28     Shaheed Veer Narayan Singh International Stadium
29                   JSCA International Stadium Complex
30                                 Sheikh Zayed Stadium
31                              Sharjah Cricket Stadium
32                  Dubai International Cricket Stadium
33    Punjab Cricket Association IS Bindra Stadium, ...
34               Saurashtra Cricket Association Stadium
35                                           Green Park
36                                M.Chinnaswamy Stadium
37         Punjab Cricket Association IS Bindra Stadium
38                   Rajiv Gandhi International Stadium
39                               MA Chidambaram Stadium
40                                 Arun Jaitley Stadium
41             MA Chidambaram Stadium, Chepauk, Chennai
42                             Wankhede Stadium, Mumbai
43                     Narendra Modi Stadium, Ahmedabad
44                          Arun Jaitley Stadium, Delhi
45                     Zayed Cricket Stadium, Abu Dhabi
46                   Dr DY Patil Sports Academy, Mumbai
47        Maharashtra Cricket Association Stadium, Pune
48                                Eden Gardens, Kolkata
49    Punjab Cricket Association IS Bindra Stadium, ...
50    Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
51    Rajiv Gandhi International Stadium, Uppal, Hyd...
52                     M Chinnaswamy Stadium, Bengaluru
53                  Barsapara Cricket Stadium, Guwahati
54                       Sawai Mansingh Stadium, Jaipur
55    Himachal Pradesh Cricket Association Stadium, ...
56    Maharaja Yadavindra Singh International Cricke...
57    Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
dtype: object

In [100]:
ipl_summary["venue"] = ipl_summary["venue"].str.partition(",")[0]

In [101]:
ipl_summary["venue"] = ipl_summary["venue"].str.replace(".", "")

In [102]:
ipl_summary["venue"] = ipl_summary["venue"].str.replace(" ", "")

In [103]:
pd.Series(ipl_summary["venue"].unique())

0                                   MChinnaswamyStadium
1                       PunjabCricketAssociationStadium
2                                        FerozShahKotla
3                                           EdenGardens
4                                       WankhedeStadium
5                                  SawaiMansinghStadium
6                       RajivGandhiInternationalStadium
7                                  MAChidambaramStadium
8                                DrDYPatilSportsAcademy
9                                              Newlands
10                                       StGeorge'sPark
11                                            Kingsmead
12                                       SuperSportPark
13                                          BuffaloPark
14                                  NewWanderersStadium
15                                   DeBeersDiamondOval
16                                       OUTsuranceOval
17                                     BrabourneStadium
18                                   SardarPatelStadium
19                                      BarabatiStadium
20                    VidarbhaCricketAssociationStadium
21             HimachalPradeshCricketAssociationStadium
22                                         NehruStadium
23                                 HolkarCricketStadium
24           DrYSRajasekharaReddyACA-VDCACricketStadium
25                              SubrataRoySaharaStadium
26                 MaharashtraCricketAssociationStadium
27          ShaheedVeerNarayanSinghInternationalStadium
28                      JSCAInternationalStadiumComplex
29                                   SheikhZayedStadium
30                                SharjahCricketStadium
31                     DubaiInternationalCricketStadium
32              PunjabCricketAssociationISBindraStadium
33                  SaurashtraCricketAssociationStadium
34                                            GreenPark
35                                   ArunJaitleyStadium
36                                  NarendraModiStadium
37                                  ZayedCricketStadium
38    BharatRatnaShriAtalBihariVajpayeeEkanaCricketS...
39                              BarsaparaCricketStadium
40    MaharajaYadavindraSinghInternationalCricketSta...
dtype: object

In [104]:
ipl_summary.columns

Index(['city', 'dates_1', 'event_match_number', 'officials_match_referees_1',
       'officials_reserve_umpires_1', 'officials_tv_umpires_1',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_winner',
       'outcome_by_wickets', 'player_of_match_1', 'season', 'toss_decision',
       'toss_winner', 'venue', 'outcome_by_runs', 'outcome_method',
       'event_stage', 'team_1', 'team_2', 'match_number'],
      dtype='object')

In [105]:
ipl_summary = ipl_summary.rename(
    columns={
        "dates_1": "date",
        "officials_match_referees_1": "officials_match_referees",
        "officials_reserve_umpires_1": "officials_reserve_umpires",
        "officials_tv_umpires_1": "officials_tv_umpires",
        "teams_1": "team_1",
        "teams_2": "team_2",
        "player_of_match_1": "player_of_match",
    }
)

In [106]:
ipl_summary.columns

Index(['city', 'date', 'event_match_number', 'officials_match_referees',
       'officials_reserve_umpires', 'officials_tv_umpires',
       'officials_umpires_1', 'officials_umpires_2', 'outcome_winner',
       'outcome_by_wickets', 'player_of_match', 'season', 'toss_decision',
       'toss_winner', 'venue', 'outcome_by_runs', 'outcome_method',
       'event_stage', 'team_1', 'team_2', 'match_number'],
      dtype='object')

In [107]:
ipl_summary.rename(columns={"event_match_number": "season_match_no"}, inplace=True)

In [108]:
cols = [
    "date",
    "match_number",
    "city",
    "team_1",
    "team_2",
    "season_match_no",
    "outcome_winner",
    "player_of_match",
    "toss_winner",
    "toss_decision",
    "officials_match_referees",
    "officials_reserve_umpires",
    "officials_tv_umpires",
    "officials_umpires_1",
    "officials_umpires_2",
    "outcome_by_wickets",
    "season",
    "venue",
    "outcome_by_runs",
    "event_stage",
    "outcome_method",
]
ipl_summary = ipl_summary.reindex(columns=cols)

In [109]:
ipl_summary = ipl_summary.sort_values(by=["date", "match_number"])

In [110]:
ipl_summary["season"] = ipl_summary["date"].str.slice(0, 4)

In [111]:
ipl_summary.season.value_counts()

season
2013    76
2022    74
2012    74
2023    74
2011    73
2024    71
2019    60
2016    60
2010    60
2021    60
2020    60
2014    60
2018    60
2017    59
2015    59
2008    58
2009    57
Name: count, dtype: int64

In [112]:
ipl_summary.to_csv("output/ipl_summary.csv", index=False)

In [113]:
ball_by_ball

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260754,2024-05-26,73,2,9,SS Iyer,AK Markram,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,2024
260755,2024-05-26,73,2,9,VR Iyer,AK Markram,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,2024
260756,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,2024
260757,2024-05-26,73,2,10,SS Iyer,Shahbaz Ahmed,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,2024
260758,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,None,None,None,2024

In [114]:
ball_by_ball.shape

(260759, 19)

In [115]:
ball_by_ball.head()

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008

In [116]:
ipl_summary["match_number"] = ipl_summary["match_number"].astype("str")

In [117]:
ipl_summary.shape

(1095, 21)

In [118]:
ipl_summary.head()

,date,match_number,city,team_1,team_2,season_match_no,outcome_winner,player_of_match,toss_winner,toss_decision,...,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method
334,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,1,Kolkata Knight Riders,BB McCullum,Royal Challengers Bangalore,field,...,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular
308,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,2,Chennai Super Kings,MEK Hussey,Chennai Super Kings,bat,...,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular
1091,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,3,Delhi Daredevils,MF Maharoof,Rajasthan Royals,bat,...,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular
486,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,4,Kolkata Knight Riders,DJ Hussey,Deccan Chargers,bat,...,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular
461,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,5,Royal Challengers Bangalore,MV Boucher,Mumbai Indians,bat,...,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular

In [119]:
def get_items_by_team(field, agg="sum"):
    if agg == "sum":
        grouped_df = ball_by_ball.groupby(["date", "match_number", "innings"])[field].sum()
    elif agg == "max":
        grouped_df = ball_by_ball.groupby(["date", "match_number", "innings"])[field].max()

    grouped_df = grouped_df.reset_index()

    df_pivot = grouped_df.pivot(
        index=["date", "match_number"], columns="innings", values=field
    )

    df_pivot.reset_index(inplace=True)

    df_pivot = df_pivot.rename(columns={1: "team_1_" + field, 2: "team_2_" + field})

    return df_pivot

In [121]:
df_pivot = get_items_by_team("runs.total")

In [123]:
df_pivot.match_number.dtype

dtype('int64')

In [125]:
ipl_summary['match_number'] = ipl_summary.match_number.astype(int)

In [126]:
df_merged = pd.merge(ipl_summary, df_pivot, how="outer", on=["date", "match_number"])

In [127]:
df_pivot = get_items_by_team("runs.extras")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [128]:
df_pivot = get_items_by_team("extras.legbyes")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [129]:
df_pivot = get_items_by_team("extras.wides")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [130]:
df_pivot = get_items_by_team("extras.byes")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [131]:
df_pivot = get_items_by_team("extras.noballs")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [132]:
df_pivot = get_items_by_team("over", "max")
df_merged = pd.merge(df_merged, df_pivot, how="outer", on=["date", "match_number"])

In [133]:
pd.set_option("display.max_columns", 35)
df_merged.head()

,date,match_number,city,team_1,team_2,season_match_no,outcome_winner,player_of_match,toss_winner,toss_decision,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method,team_1_runs.total,team_2_runs.total,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,team_2_extras.byes,team_1_extras.noballs,team_2_extras.noballs,team_1_over,team_2_over
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,1,Kolkata Knight Riders,BB McCullum,Royal Challengers Bangalore,field,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular,222.0,82.0,17.0,19.0,4.0,8.0,9.0,11.0,4.0,0.0,0.0,0.0,19,15
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,2,Chennai Super Kings,MEK Hussey,Chennai Super Kings,bat,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular,240.0,207.0,6.0,11.0,2.0,4.0,3.0,5.0,0.0,2.0,1.0,0.0,19,19
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,3,Delhi Daredevils,MF Maharoof,Rajasthan Royals,bat,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular,129.0,132.0,7.0,10.0,3.0,0.0,3.0,10.0,1.0,0.0,0.0,0.0,19,15
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,4,Kolkata Knight Riders,DJ Hussey,Deccan Chargers,bat,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular,110.0,112.0,10.0,28.0,4.0,8.0,4.0,15.0,0.0,4.0,2.0,1.0,18,18
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,5,Royal Challengers Bangalore,MV Boucher,Mumbai Indians,bat,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular,165.0,166.0,11.0,5.0,6.0,0.0,3.0,5.0,2.0,0.0,0.0,0.0,19,19

In [134]:
cols = [
    "date",
    "match_number",
    "city",
    "team_1",
    "team_2",
    "team_1_runs.total",
    "team_2_runs.total",
    "outcome_winner",
    "player_of_match",
    "team_1_over",
    "team_2_over",
    "toss_winner",
    "toss_decision",
    "team_1_runs.extras",
    "team_2_runs.extras",
    "team_1_extras.legbyes",
    "team_2_extras.legbyes",
    "team_1_extras.wides",
    "team_2_extras.wides",
    "team_1_extras.byes",
    "team_2_extras.byes",
    "team_1_extras.noballs",
    "team_2_extras.noballs",
    "officials_match_referees",
    "officials_reserve_umpires",
    "officials_tv_umpires",
    "officials_umpires_1",
    "officials_umpires_2",
    "outcome_by_wickets",
    "season",
    "venue",
    "outcome_by_runs",
    "event_stage",
    "outcome_method",
]
df_merged = df_merged.reindex(columns=cols)

In [135]:
pd.set_option('display.max_columns', 40)

df_merged.head()

,date,match_number,city,team_1,team_2,team_1_runs.total,team_2_runs.total,outcome_winner,player_of_match,team_1_over,team_2_over,toss_winner,toss_decision,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,team_2_extras.byes,team_1_extras.noballs,team_2_extras.noballs,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222.0,82.0,Kolkata Knight Riders,BB McCullum,19,15,Royal Challengers Bangalore,field,17.0,19.0,4.0,8.0,9.0,11.0,4.0,0.0,0.0,0.0,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,240.0,207.0,Chennai Super Kings,MEK Hussey,19,19,Chennai Super Kings,bat,6.0,11.0,2.0,4.0,3.0,5.0,0.0,2.0,1.0,0.0,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,129.0,132.0,Delhi Daredevils,MF Maharoof,19,15,Rajasthan Royals,bat,7.0,10.0,3.0,0.0,3.0,10.0,1.0,0.0,0.0,0.0,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,110.0,112.0,Kolkata Knight Riders,DJ Hussey,18,18,Deccan Chargers,bat,10.0,28.0,4.0,8.0,4.0,15.0,0.0,4.0,2.0,1.0,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,165.0,166.0,Royal Challengers Bangalore,MV Boucher,19,19,Mumbai Indians,bat,11.0,5.0,6.0,0.0,3.0,5.0,2.0,0.0,0.0,0.0,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular

In [136]:
df_merged.rename(columns={"outcome_winner": "match_winner"}, inplace=True)

In [137]:
df_merged["match_extras"] = df_merged["team_1_runs.extras"] + df_merged["team_2_runs.extras"]

In [138]:
df_merged["match_legbyes"] = df_merged["team_1_extras.legbyes"] + df_merged["team_2_extras.legbyes"]

In [139]:
df_merged["match_wides"] = df_merged["team_1_extras.wides"] + df_merged["team_2_extras.wides"]

In [140]:
df_merged["match_byes"] = df_merged["team_1_extras.byes"] + df_merged["team_2_extras.byes"]

In [141]:
df_merged["match_byes"] = df_merged["team_1_extras.byes"] + df_merged["team_2_extras.byes"]

In [142]:
df_merged["match_noballs"] = df_merged["team_1_extras.noballs"] + df_merged["team_2_extras.noballs"]

In [143]:
df_merged.head()

,date,match_number,city,team_1,team_2,team_1_runs.total,team_2_runs.total,match_winner,player_of_match,team_1_over,team_2_over,toss_winner,toss_decision,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,team_2_extras.byes,team_1_extras.noballs,team_2_extras.noballs,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method,match_extras,match_legbyes,match_wides,match_byes,match_noballs
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222.0,82.0,Kolkata Knight Riders,BB McCullum,19,15,Royal Challengers Bangalore,field,17.0,19.0,4.0,8.0,9.0,11.0,4.0,0.0,0.0,0.0,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular,36.0,12.0,20.0,4.0,0.0
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,240.0,207.0,Chennai Super Kings,MEK Hussey,19,19,Chennai Super Kings,bat,6.0,11.0,2.0,4.0,3.0,5.0,0.0,2.0,1.0,0.0,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular,17.0,6.0,8.0,2.0,1.0
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,129.0,132.0,Delhi Daredevils,MF Maharoof,19,15,Rajasthan Royals,bat,7.0,10.0,3.0,0.0,3.0,10.0,1.0,0.0,0.0,0.0,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular,17.0,3.0,13.0,1.0,0.0
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,110.0,112.0,Kolkata Knight Riders,DJ Hussey,18,18,Deccan Chargers,bat,10.0,28.0,4.0,8.0,4.0,15.0,0.0,4.0,2.0,1.0,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular,38.0,12.0,19.0,4.0,3.0
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,165.0,166.0,Royal Challengers Bangalore,MV Boucher,19,19,Mumbai Indians,bat,11.0,5.0,6.0,0.0,3.0,5.0,2.0,0.0,0.0,0.0,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular,16.0,6.0,8.0,2.0,0.0

In [144]:
ball_by_ball.head(10)

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,None,None,None,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,None,None,None,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
5,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
6,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,1.0,NaN,NaN,NaN,None,None,None,2008
7,2008-04-18,1,1,1,BB McCullum,Z Khan,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,None,None,None,2008
8,2008-04-18,1,1,1,BB McCullum,Z Khan,group,SC Ganguly,4,0,4,NaN,NaN,NaN,NaN,None,None,None,2008
9,2008-04-18,1,1,1,BB McCullum,Z Khan,group,SC Ganguly,4,0,4,NaN,NaN,NaN,NaN,None,None,None,2008

In [145]:
runs_groupby= ball_by_ball.groupby(['date', 'match_number', 'runs.batter'])['runs.batter'].agg(["count"])

In [146]:
runs_groupby

                                     count
date       match_number runs.batter
2008-04-18 1            0              110
                        1               66
                        2               14
                        4               18
                        6               17
...                                    ...
2024-05-26 73           0               90
                        1               57
                        2               10
                        4               18
                        6                9

[6068 rows x 1 columns]

In [147]:
runs_df = runs_groupby.reset_index()

In [148]:
runs_df = runs_df[(runs_df['runs.batter'] == 4) | (runs_df['runs.batter'] == 6) ].sort_values(by=['date','match_number'])

In [149]:
runs_df

            date  match_number  runs.batter  count
3     2008-04-18             1            4     18
4     2008-04-18             1            6     17
8     2008-04-19             2            4     38
9     2008-04-19             2            6     25
13    2008-04-19             3            4     32
...          ...           ...          ...    ...
6057  2024-05-22            71            6     13
6061  2024-05-24            72            4     24
6062  2024-05-24            72            6     14
6066  2024-05-26            73            4     18
6067  2024-05-26            73            6      9

[2190 rows x 4 columns]

In [150]:
runs_pivot = runs_df.pivot(index=["date", "match_number"], columns="runs.batter", values=["count"])

In [151]:
runs_pivot

                        count
runs.batter                 4   6
date       match_number
2008-04-18 1               18  17
2008-04-19 2               38  25
           3               32   4
2008-04-20 4               11  10
           5               33  11
...                       ...  ..
2024-05-19 69              31  26
2024-05-21 70              29  16
2024-05-22 71              33  13
2024-05-24 72              24  14
2024-05-26 73              18   9

[1095 rows x 2 columns]

In [152]:
runs_pivot.reset_index(inplace=True)

In [153]:
runs_pivot.columns.values

array([('date', ''), ('match_number', ''), ('count', 4), ('count', 6)],
      dtype=object)

In [154]:
runs_pivot.columns = [col[0] + "_" + str(col[1]) for col in runs_pivot.columns.values]

In [155]:
runs_pivot.columns

Index(['date_', 'match_number_', 'count_4', 'count_6'], dtype='object')

In [156]:
runs_pivot = runs_pivot.rename(columns={"date_": "date", "match_number_": "match_number", "count_0": "match_dotballs" , "count_4": "match_4's" , "count_6": "match_6's"} )

In [157]:
runs_pivot

            date  match_number  match_4's  match_6's
0     2008-04-18             1         18         17
1     2008-04-19             2         38         25
2     2008-04-19             3         32          4
3     2008-04-20             4         11         10
4     2008-04-20             5         33         11
...          ...           ...        ...        ...
1090  2024-05-19            69         31         26
1091  2024-05-21            70         29         16
1092  2024-05-22            71         33         13
1093  2024-05-24            72         24         14
1094  2024-05-26            73         18          9

[1095 rows x 4 columns]

In [158]:
df_merged = pd.merge(df_merged, runs_pivot, how="outer", on=["date", "match_number"])

In [159]:
df_merged

,date,match_number,city,team_1,team_2,team_1_runs.total,team_2_runs.total,match_winner,player_of_match,team_1_over,team_2_over,toss_winner,toss_decision,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,...,team_1_extras.noballs,team_2_extras.noballs,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method,match_extras,match_legbyes,match_wides,match_byes,match_noballs,match_4's,match_6's
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222.0,82.0,Kolkata Knight Riders,BB McCullum,19,15,Royal Challengers Bangalore,field,17.0,19.0,4.0,8.0,9.0,11.0,4.0,...,0.0,0.0,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008,MChinnaswamyStadium,140.0,group_stage,regular,36.0,12.0,20.0,4.0,0.0,18.0,17.0
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,240.0,207.0,Chennai Super Kings,MEK Hussey,19,19,Chennai Super Kings,bat,6.0,11.0,2.0,4.0,3.0,5.0,0.0,...,1.0,0.0,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008,PunjabCricketAssociationStadium,33.0,group_stage,regular,17.0,6.0,8.0,2.0,1.0,38.0,25.0
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,129.0,132.0,Delhi Daredevils,MF Maharoof,19,15,Rajasthan Royals,bat,7.0,10.0,3.0,0.0,3.0,10.0,1.0,...,0.0,0.0,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008,FerozShahKotla,NaN,group_stage,regular,17.0,3.0,13.0,1.0,0.0,32.0,4.0
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,110.0,112.0,Kolkata Knight Riders,DJ Hussey,18,18,Deccan Chargers,bat,10.0,28.0,4.0,8.0,4.0,15.0,0.0,...,2.0,1.0,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008,EdenGardens,NaN,group_stage,regular,38.0,12.0,19.0,4.0,3.0,11.0,10.0
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,165.0,166.0,Royal Challengers Bangalore,MV Boucher,19,19,Mumbai Indians,bat,11.0,5.0,6.0,0.0,3.0,5.0,2.0,...,0.0,0.0,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008,WankhedeStadium,NaN,group_stage,regular,16.0,6.0,8.0,2.0,0.0,33.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1122,2024-05-19,69,Hyderabad,Punjab Kings,Sunrisers Hyderabad,214.0,215.0,Sunrisers Hyderabad,Abhishek Sharma,19,19,Punjab Kings,bat,10.0,17.0,5.0,6.0,4.0,10.0,0.0,...,1.0,1.0,Prakash Bhatt,Bhavesh Patel,HAS Khalid,Nitin Menon,VK Sharma,4.0,2024,RajivGandhiInternationalStadium,NaN,group_stage,regular,27.0,11.0,14.0,0.0,2.0,31.0,26.0
1123,2024-05-21,70,Ahmedabad,Sunrisers Hyderabad,Kolkata Knight Riders,159.0,164.0,Kolkata Knight Riders,MA Starc,19,13,Sunrisers Hyderabad,bat,7.0,11.0,0.0,9.0,5.0,2.0,0.0,...,2.0,0.0,J Srinath,MV Saidharshan Kumar,KN Ananthapadmanabhan,AK Chaudhary,R Pandit,8.0,2024,NarendraModiStadium,NaN,Qualifier 1,regular,18.0,9.0,7.0,0.0,2.0,29.0,16.0
1124,2024-05-22,71,Ahmedabad,Royal Challengers Bengaluru,Rajasthan Royals,172.0,174.0,Rajasthan Royals,R Ashwin,19,18,Rajasthan Royals,field,4.0,6.0,2.0,1.0,2.0,5.0,0.0,...,0.0,0.0,V Narayan Kutty,R Pandit,AK Chaudhary,KN Ananthapadmanabhan,MV Saidharshan Kumar,4.0,2024,NarendraModiStadium,NaN,Eliminator,regular,10.0,3.0,7.0,0.0,0.0,33.0,13.0
1125,2024-05-24,72,Chennai,Sunrisers Hyderabad,Rajasthan Royals,175.0,139.0,Sunrisers Hyderabad,Shahbaz Ahmed,19,19,Rajasthan Royals,field,8.0,5.0,1.0,1.0,7.0,3.0,0.0,...,0.0,1.0,J Srinath,J Madanagopal,MA Gough,Nitin Menon,VK Sharma,NaN,2024,MAChidambaramStadium,36.0,Qualifier 2,regular,13.0,2.0,10.0,0.0,1.0,24.0,14.0
1126,2024-05-26,73,Chennai,Sunrisers Hyderabad,Kolkata Knight Riders,113.0,114.0,Kolkata Knight Riders,MA Starc,18,10,Sunrisers Hyderabad,bat,13.0,11.0,2.0,2.0,6.0,5.0,5.0,...,0.0,0.0,M Nayyar,VK Sharma,MA Gough,J Madanagopal,Nitin Menon,8.0,2024,MAChidambaramStadium,NaN,Final,regular,24.0,4.0,11.0,9.0,0.0,18.0,9.0

In [160]:
df_merged.to_csv("output/ipl_match_level_stats.csv", index=False)

In [161]:
ball_by_ball  = pd.read_csv("output/ipl_ball_by_ball_output.csv")
ipl_match_stats = pd.read_csv("output/ipl_match_level_stats.csv")

In [162]:
ball_by_ball

,date,match_number,innings,over,batter,bowler,stage,non_striker,runs.batter,runs.extras,runs.total,extras.legbyes,extras.wides,extras.byes,extras.noballs,wicket.kind,wicket.player_out,wicket.fielders,wickets,season
0,2008-04-18,1,1,0,SC Ganguly,P Kumar,group,BB McCullum,0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
1,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
2,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,1,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008
3,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
4,2008-04-18,1,1,0,BB McCullum,P Kumar,group,SC Ganguly,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260754,2024-05-26,73,2,9,SS Iyer,AK Markram,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024
260755,2024-05-26,73,2,9,VR Iyer,AK Markram,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024
260756,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024
260757,2024-05-26,73,2,10,SS Iyer,Shahbaz Ahmed,Final,VR Iyer,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024
260758,2024-05-26,73,2,10,VR Iyer,Shahbaz Ahmed,Final,SS Iyer,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [163]:
ipl_match_stats

,date,match_number,city,team_1,team_2,team_1_runs.total,team_2_runs.total,match_winner,player_of_match,team_1_over,team_2_over,toss_winner,toss_decision,team_1_runs.extras,team_2_runs.extras,team_1_extras.legbyes,team_2_extras.legbyes,team_1_extras.wides,team_2_extras.wides,team_1_extras.byes,...,team_1_extras.noballs,team_2_extras.noballs,officials_match_referees,officials_reserve_umpires,officials_tv_umpires,officials_umpires_1,officials_umpires_2,outcome_by_wickets,season,venue,outcome_by_runs,event_stage,outcome_method,match_extras,match_legbyes,match_wides,match_byes,match_noballs,match_4's,match_6's
0,2008-04-18,1,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222.0,82.0,Kolkata Knight Riders,BB McCullum,19.0,15.0,Royal Challengers Bangalore,field,17.0,19.0,4.0,8.0,9.0,11.0,4.0,...,0.0,0.0,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,NaN,2008.0,MChinnaswamyStadium,140.0,group_stage,regular,36.0,12.0,20.0,4.0,0.0,18.0,17.0
1,2008-04-19,2,Chandigarh,Chennai Super Kings,Kings XI Punjab,240.0,207.0,Chennai Super Kings,MEK Hussey,19.0,19.0,Chennai Super Kings,bat,6.0,11.0,2.0,4.0,3.0,5.0,0.0,...,1.0,0.0,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,NaN,2008.0,PunjabCricketAssociationStadium,33.0,group_stage,regular,17.0,6.0,8.0,2.0,1.0,38.0,25.0
2,2008-04-19,3,Delhi,Rajasthan Royals,Delhi Daredevils,129.0,132.0,Delhi Daredevils,MF Maharoof,19.0,15.0,Rajasthan Royals,bat,7.0,10.0,3.0,0.0,3.0,10.0,1.0,...,0.0,0.0,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,9.0,2008.0,FerozShahKotla,NaN,group_stage,regular,17.0,3.0,13.0,1.0,0.0,32.0,4.0
3,2008-04-20,4,Kolkata,Deccan Chargers,Kolkata Knight Riders,110.0,112.0,Kolkata Knight Riders,DJ Hussey,18.0,18.0,Deccan Chargers,bat,10.0,28.0,4.0,8.0,4.0,15.0,0.0,...,2.0,1.0,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,5.0,2008.0,EdenGardens,NaN,group_stage,regular,38.0,12.0,19.0,4.0,3.0,11.0,10.0
4,2008-04-20,5,Mumbai,Mumbai Indians,Royal Challengers Bangalore,165.0,166.0,Royal Challengers Bangalore,MV Boucher,19.0,19.0,Mumbai Indians,bat,11.0,5.0,6.0,0.0,3.0,5.0,2.0,...,0.0,0.0,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,5.0,2008.0,WankhedeStadium,NaN,group_stage,regular,16.0,6.0,8.0,2.0,0.0,33.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1122,2024-05-19,69,Hyderabad,Punjab Kings,Sunrisers Hyderabad,214.0,215.0,Sunrisers Hyderabad,Abhishek Sharma,19.0,19.0,Punjab Kings,bat,10.0,17.0,5.0,6.0,4.0,10.0,0.0,...,1.0,1.0,Prakash Bhatt,Bhavesh Patel,HAS Khalid,Nitin Menon,VK Sharma,4.0,2024.0,RajivGandhiInternationalStadium,NaN,group_stage,regular,27.0,11.0,14.0,0.0,2.0,31.0,26.0
1123,2024-05-21,70,Ahmedabad,Sunrisers Hyderabad,Kolkata Knight Riders,159.0,164.0,Kolkata Knight Riders,MA Starc,19.0,13.0,Sunrisers Hyderabad,bat,7.0,11.0,0.0,9.0,5.0,2.0,0.0,...,2.0,0.0,J Srinath,MV Saidharshan Kumar,KN Ananthapadmanabhan,AK Chaudhary,R Pandit,8.0,2024.0,NarendraModiStadium,NaN,Qualifier 1,regular,18.0,9.0,7.0,0.0,2.0,29.0,16.0
1124,2024-05-22,71,Ahmedabad,Royal Challengers Bengaluru,Rajasthan Royals,172.0,174.0,Rajasthan Royals,R Ashwin,19.0,18.0,Rajasthan Royals,field,4.0,6.0,2.0,1.0,2.0,5.0,0.0,...,0.0,0.0,V Narayan Kutty,R Pandit,AK Chaudhary,KN Ananthapadmanabhan,MV Saidharshan Kumar,4.0,2024.0,NarendraModiStadium,NaN,Eliminator,regular,10.0,3.0,7.0,0.0,0.0,33.0,13.0
1125,2024-05-24,72,Chennai,Sunrisers Hyderabad,Rajasthan Royals,175.0,139.0,Sunrisers Hyderabad,Shahbaz Ahmed,19.0,19.0,Rajasthan Royals,field,8.0,5.0,1.0,1.0,7.0,3.0,0.0,...,0.0,1.0,J Srinath,J Madanagopal,MA Gough,Nitin Menon,VK Sharma,NaN,2024.0,MAChidambaramStadium,36.0,Qualifier 2,regular,13.0,2.0,10.0,0.0,1.0,24.0,14.0
1126,2024-05-26,73,Chennai,Sunrisers Hyderabad,Kolkata Knight Riders,113.0,114.0,Kolkata Knight Riders,MA Starc,18.0,10.0,Sunrisers Hyderabad,bat,13.0,11.0,2.0,2.0,6.0,5.0,5.0,...,0.0,0.0,M Nayyar,VK Sharma,MA Gough,J Madanagopal,Nitin Menon,8.0,2024.0,MAChidambaramStadium,NaN,Final,regular,24.0,4.0,11.0,9.0,0.0,18.0,9.0

In [164]:
master_df = pd.merge(left=ball_by_ball,right=ipl_match_stats,on=['date','match_number'])

In [165]:
master_df.drop(columns='season_y',inplace=True)

In [166]:
master_df.rename(columns={'season_x':'season'},inplace=True)

In [167]:
master_df.columns

Index(['date', 'match_number', 'innings', 'over', 'batter', 'bowler', 'stage',
       'non_striker', 'runs.batter', 'runs.extras', 'runs.total',
       'extras.legbyes', 'extras.wides', 'extras.byes', 'extras.noballs',
       'wicket.kind', 'wicket.player_out', 'wicket.fielders', 'wickets',
       'season', 'city', 'team_1', 'team_2', 'team_1_runs.total',
       'team_2_runs.total', 'match_winner', 'player_of_match', 'team_1_over',
       'team_2_over', 'toss_winner', 'toss_decision', 'team_1_runs.extras',
       'team_2_runs.extras', 'team_1_extras.legbyes', 'team_2_extras.legbyes',
       'team_1_extras.wides', 'team_2_extras.wides', 'team_1_extras.byes',
       'team_2_extras.byes', 'team_1_extras.noballs', 'team_2_extras.noballs',
       'officials_match_referees', 'officials_reserve_umpires',
       'officials_tv_umpires', 'officials_umpires_1', 'officials_umpires_2',
       'outcome_by_wickets', 'venue', 'outcome_by_runs', 'event_stage',
       'outcome_method', 'match_extras', 'match_legbyes', 'match_wides',
       'match_byes', 'match_noballs', 'match_4's', 'match_6's'],
      dtype='object')

In [168]:
master_df.drop(columns='wickets',inplace=True)

In [169]:
ball_by_ball.drop(columns='wickets',inplace=True)

In [170]:
ball_by_ball.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})

/tmp/ipykernel_324315/1695573749.py:1: FutureWarning: The provided callable <function sum at 0x76e5b05815a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ball_by_ball.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})
/tmp/ipykernel_324315/1695573749.py:1: FutureWarning: The provided callable <function sum at 0x76e5b05815a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ball_by_ball.groupby(['date','match_number','innings','batter']).agg({'runs.batter':np.sum,'runs.extras':np.sum,'bowler':'count'})

                                                    runs.batter  runs.extras  \
date       match_number innings batter
2008-04-18 1            1       BB McCullum                 158           11
                                DJ Hussey                    12            0
                                Mohammad Hafeez               5            0
                                RT Ponting                   20            4
                                SC Ganguly                   10            2
...                                                         ...          ...
2024-05-26 73           1       TM Head                       0            0
                        2       Rahmanullah Gurbaz           39            7
                                SP Narine                     6            0
                                SS Iyer                       6            0
                                VR Iyer                      52            4

                                                    bowler
date       match_number innings batter
2008-04-18 1            1       BB McCullum             77
                                DJ Hussey               12
                                Mohammad Hafeez          3
                                RT Ponting              20
                                SC Ganguly              12
...                                                    ...
2024-05-26 73           1       TM Head                  1
                        2       Rahmanullah Gurbaz      35
                                SP Narine                2
                                SS Iyer                  3
                                VR Iyer                 27

[16515 rows x 3 columns]

In [171]:
ball_by_ball.groupby(['date','match_number','innings','bowler','runs.batter']).agg({'runs.total':'sum','wicket.kind':'count','batter':'count'})

                                                           runs.total  \
date       match_number innings bowler        runs.batter
2008-04-18 1            1       AA Noffke     0                     6
                                              1                    11
                                              2                     4
                                              4                     8
                                              6                    12
...                                                               ...
2024-05-26 73           2       Shahbaz Ahmed 6                    12
                                T Natarajan   0                     2
                                              1                     5
                                              4                    16
                                              6                     6

                                                           wicket.kind  batter
date       match_number innings bowler        runs.batter
2008-04-18 1            1       AA Noffke     0                      1       8
                                              1                      0      11
                                              2                      0       2
                                              4                      0       2
                                              6                      0       2
...                                                                ...     ...
2024-05-26 73           2       Shahbaz Ahmed 6                      0       2
                                T Natarajan   0                      0       4
                                              1                      0       5
                                              4                      0       4
                                              6                      0       1

[54044 rows x 3 columns]

In [172]:
batter_total = ball_by_ball.groupby(['batter','season',]).agg({'runs.total':['sum',np.average],'bowler':'max'})

In [173]:
batter_total

                      runs.total                     bowler
                             sum   average              max
batter         season
A Ashish Reddy 2012           40  1.333333          SW Tait
               2013          126  1.400000         UT Yadav
               2015           74  1.608696       TG Southee
               2016           48  1.600000        YS Chahal
A Badoni       2022          173  1.244604        YS Chahal
...                          ...       ...              ...
Z Khan         2011           21  0.875000        SB Jakati
               2012           12  0.705882  Shakib Al Hasan
               2014           10  1.428571        IK Pathan
               2016            6  0.461538        PP Chawla
               2017            4  0.307692           P Negi

[2617 rows x 3 columns]

In [174]:
batter_total.columns

MultiIndex([('runs.total',     'sum'),
            ('runs.total', 'average'),
            (    'bowler',     'max')],
           )

In [175]:
batter_scores_count = ball_by_ball.groupby(['batter','season','runs.batter']).agg({'runs.total':['sum','count']})

In [176]:
batter_scores_count

                                  runs.total
                                         sum count
batter         season runs.batter
A Ashish Reddy 2012   0                    5    13
                      1                    9     9
                      2                    8     4
                      4                   12     3
                      6                    6     1
...                                      ...   ...
Z Khan         2016   0                    0    10
                      1                    2     2
                      4                    4     1
               2017   0                    0     9
                      1                    4     4

[11075 rows x 2 columns]

In [177]:
vk1 =batter_scores_count.loc['V Kohli'].reset_index()
vk2 = batter_total.loc['V Kohli'].reset_index()
vk1.columns = ['_'.join(col) for col in vk1.columns]
vk2.columns = ['_'.join(col) for col in vk2.columns]
vk1['season_'] =  vk1.season_.astype(int)
vk2['season_'] =  vk2.season_.astype(int)
vk1.rename(columns={'runs.total_sum':'total_runs_per_score','runs.total_count':'no_of_balls','season_':'season'},inplace=True)
vk2.rename(columns={'season_': 'season'}, inplace=True)
print(vk1.info())
print(vk2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   season                97 non-null     int64
 1   runs.batter_          97 non-null     int64
 2   total_runs_per_score  97 non-null     int64
 3   no_of_balls           97 non-null     int64
dtypes: int64(4)
memory usage: 3.2 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   season              17 non-null     int64
 1   runs.total_sum      17 non-null     int64
 2   runs.total_average  17 non-null     float64
 3   bowler_max          17 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 672.0+ bytes
None

In [178]:
print(vk1.dtypes)
print(vk2.dtypes)
# v_kohli = vk1.join(vk2,on='season',lsuffix='_')
v_kohli = pd.merge(vk1, vk2, how="inner", on="season")
# v_kohli.columns = ['_'.join(col) for col in v_kohli.columns]
v_kohli.head(20)
vk2.head()

season                  int64
runs.batter_            int64
total_runs_per_score    int64
no_of_balls             int64
dtype: object
season                  int64
runs.total_sum          int64
runs.total_average    float64
bowler_max             object
dtype: object

   season  runs.total_sum  runs.total_average    bowler_max
0    2008             187            1.113095    WPUJC Vaas
1    2009             258            1.146667  Yuvraj Singh
2    2010             320            1.481481        Z Khan
3    2011             584            1.234672  Yuvraj Singh
4    2012             375            1.126126     YK Pathan

In [179]:
vk1.head(10)

   season  runs.batter_  total_runs_per_score  no_of_balls
0    2008             0                    22           82
1    2008             1                    59           59
2    2008             2                    10            5
3    2008             4                    72           18
4    2008             6                    24            4
5    2009             0                    12           98
6    2009             1                    84           84
7    2009             2                    26           13
8    2009             4                    88           22
9    2009             6                    48            8

In [180]:
v_kohli

,season,runs.batter_,total_runs_per_score,no_of_balls,runs.total_sum,runs.total_average,bowler_max
0,2008,0,22,82,187,1.113095,WPUJC Vaas
1,2008,1,59,59,187,1.113095,WPUJC Vaas
2,2008,2,10,5,187,1.113095,WPUJC Vaas
3,2008,4,72,18,187,1.113095,WPUJC Vaas
4,2008,6,24,4,187,1.113095,WPUJC Vaas
...,...,...,...,...,...,...,...
92,2024,1,198,198,770,1.549296,YS Chahal
93,2024,2,64,32,770,1.549296,YS Chahal
94,2024,3,3,1,770,1.549296,YS Chahal
95,2024,4,248,62,770,1.549296,YS Chahal
96,2024,6,228,38,770,1.549296,YS Chahal

In [184]:
gapminder(v_kohli, v_kohli['season'], v_kohli['runs.total_sum'],
          v_kohli['runs.total_average']**5, v_kohli["bowler_max"] ,labels={'runs.total_sum':'Total runs','season_':"Season"},title='Virat Batting Perf')

In [185]:
parallelplot(v_kohli,columns=[v_kohli['runs.total_sum'],v_kohli['runs.batter_'],v_kohli['total_runs_per_score'],v_kohli['no_of_balls']],title="Kohli Parallel",color_col=v_kohli['season'])

In [186]:
bowler_perf = ball_by_ball.groupby(['bowler','season','wicket.kind']).agg({'wicket.player_out':['count'],'batter':['max']})
bowler_perf

                                        wicket.player_out        batter
                                                    count           max
bowler         season wicket.kind
A Ashish Reddy 2012   bowled                            2    RV Uthappa
                      caught                            7       V Kohli
                      lbw                               2       N Saini
               2013   bowled                            2   LRPL Taylor
                      caught and bowled                 1       V Kohli
...                                                   ...           ...
Z Khan         2016   lbw                               1     PP Chawla
                      run out                           2      UT Yadav
               2017   bowled                            1     AM Rahane
                      caught                            9       V Kohli
                      run out                           2  Vishnu Vinod

[4241 rows x 2 columns]

In [194]:
bowler_match_perf = ball_by_ball.groupby(['bowler','season','match_number']).agg({'wicket.player_out':['count'],'runs.total':['sum'],'batter':'count'})
bowler_match_perf

                                   wicket.player_out runs.total batter
                                               count        sum  count
bowler         season match_number
A Ashish Reddy 2012   35                           2         32     24
                      40                           1         11     14
                      42                           1         32     19
                      46                           1         16     13
                      50                           1         36     25
...                                              ...        ...    ...
Z Khan         2017   32                           0          9      7
                      45                           0         30     24
                      50                           0         35     24
                      52                           2         25     25
                      56                           2         32     25

[12978 rows x 3 columns]

In [195]:
ys_chahal_wicket = bowler_perf.loc['YS Chahal'].reset_index()
ys_chahal_match = bowler_match_perf.loc['YS Chahal'].reset_index()
ys_chahal_match.drop(columns='match_number',inplace=True)
ys_chahal_match.columns = ['_'.join(col) for col in ys_chahal_match.columns]
ys_chahal_match

/tmp/ipykernel_324315/3153631025.py:3: PerformanceWarning:

dropping on a non-lexsorted multi-index without a level parameter may impact performance.

     season_  wicket.player_out_count  runs.total_sum  batter_count
0       2013                        0              35            24
1       2014                        1              18            25
2       2014                        2              17            24
3       2014                        1              26            24
4       2014                        1              17            18
..       ...                      ...             ...           ...
154     2024                        1              48            24
155     2024                        1              22            25
156     2024                        2              31            25
157     2024                        1              43            24
158     2024                        0              34            26

[159 rows x 4 columns]

In [196]:
ys_chahal_match = ys_chahal_match.groupby('season_').agg({'wicket.player_out_count':'sum','runs.total_sum':'sum','batter_count':'sum'})
# ys_chahal_match.columns = ['_'.join(col) for col in ys_chahal_match.columns]
ys_chahal_wicket.columns = ['_'.join(col) for col in ys_chahal_wicket.columns]

In [197]:
ys_chahal_match.reset_index(inplace=True)
ys_chahal_match

    season_  wicket.player_out_count  runs.total_sum  batter_count
0      2013                        0              35            24
1      2014                       12             389           333
2      2015                       24             416           283
3      2016                       22             409           308
4      2017                       14             351           271
5      2018                       12             374           313
6      2019                       18             394           308
7      2020                       22             414           348
8      2021                       19             381           323
9      2022                       29             536           429
10     2023                       22             434           326
11     2024                       19             548           362

In [198]:
ys_chahal_wicket

    season_       wicket.kind_  wicket.player_out_count       batter_max
0      2014             bowled                        1          M Vijay
1      2014             caught                       10         V Sehwag
2      2014            stumped                        1     KP Pietersen
3      2015             bowled                        4        SV Samson
4      2015             caught                       14     Yuvraj Singh
5      2015  caught and bowled                        1   Sandeep Sharma
6      2015                lbw                        1        DA Warner
7      2015            run out                        1        JP Duminy
8      2015            stumped                        3    KS Williamson
9      2016             bowled                        2          CA Lynn
10     2016             caught                       14        SV Samson
11     2016                lbw                        2          WP Saha
12     2016            run out                        1          WP Saha
13     2016            stumped                        3        YK Pathan
14     2017             bowled                        2    CR Brathwaite
15     2017             caught                       11         SK Raina
16     2017            stumped                        1        YK Pathan
17     2018             bowled                        6        RA Jadeja
18     2018             caught                        3        MK Pandey
19     2018  caught and bowled                        1         S Dhawan
20     2018            stumped                        2      SW Billings
21     2019             bowled                        4        SR Watson
22     2019             caught                       10     Yuvraj Singh
23     2019                lbw                        2          RR Pant
24     2019            stumped                        2         KL Rahul
25     2020             bowled                        6        V Shankar
26     2020             caught                       12        SV Samson
27     2020  caught and bowled                        1        SV Samson
28     2020                lbw                        1       KD Karthik
29     2020            run out                        1         KL Rahul
30     2020            stumped                        1          WP Saha
31     2021             bowled                        3          SN Khan
32     2021             caught                       11     Shubman Gill
33     2021                lbw                        3      RA Tripathi
34     2021            run out                        1          CA Lynn
35     2021            stumped                        1        MK Lomror
36     2022             bowled                        5       R Shepherd
37     2022             caught                       16      Shivam Mavi
38     2022                lbw                        4         TH David
39     2022            run out                        2    Shahbaz Ahmed
40     2022            stumped                        2          VR Iyer
41     2023             bowled                        2         HC Brook
42     2023             caught                       13          VR Iyer
43     2023                lbw                        3        SN Thakur
44     2023            run out                        1  SS Prabhudessai
45     2023            stumped                        3     Shubman Gill
46     2024             bowled                        1        V Shankar
47     2024             caught                       13          V Kohli
48     2024  caught and bowled                        1    Mohammad Nabi
49     2024                lbw                        2          SS Iyer
50     2024            run out                        1  Ashutosh Sharma
51     2024            stumped                        1     Shubman Gill

In [199]:
gapminder(df=ys_chahal_match,x_col=ys_chahal_match['season_'],y_col=ys_chahal_match['wicket.player_out_count'],size_col=ys_chahal_match['runs.total_sum']**5,color_col=(ys_chahal_match['runs.total_sum']/ys_chahal_match['batter_count'])**5,title="Yuzvendra Wicket Trend")

In [200]:
ys_chahal_wicket['wicket.kind_'].unique()

array(['bowled', 'caught', 'stumped', 'caught and bowled', 'lbw',
       'run out'], dtype=object)

In [201]:
ys_chahal_wicket['wicket_kind_no'] = [['bowled', 'caught', 'stumped', 'caught and bowled', 'lbw',
       'run out'].index(value) for value in ys_chahal_wicket['wicket.kind_']]

In [202]:
label = {'0':'bowled','1':'caught','2':'stumped','3':'caught and bowled','4':'stumped','5':'lbw'}
print(label)
parallelplot(ys_chahal_wicket,columns=[ys_chahal_wicket['season_'],ys_chahal_wicket['wicket.player_out_count'],ys_chahal_wicket['wicket_kind_no']],labels=label,title="Yuzvendra Perf")

{'0': 'bowled', '1': 'caught', '2': 'stumped', '3': 'caught and bowled', '4': 'stumped', '5': 'lbw'}

In [ ]:
# master_df.to_csv("output/master_dataframe.csv")